.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
}

button {
  font: inherit;
}

.link {
  display: inline-flex;
  vertical-align: top;
  line-height: 1.3rem;
  margin-bottom: 4px;
  text-transform: uppercase;
  transition: color $transition-sec;

  p & {
    vertical-align: inherit;
  }
}

.white-foreground {
  .link {
    color: $color-body;
  }
}

.arrow-link {
  position: relative;
  transition: transform 300ms ease-out, color 0.7s;

  &::before {
    content: '\2265';
    position: absolute;
    left: -15px;
    top: -1px;
    display: block;
    width: 16px;
    height: 16px;
    padding-right: 7px;
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  &:hover {
    transform: translateX(15px);

    &::before {
      opacity: 1;
    }
  }
}

.arrow-link-zone:hover,
.product__variant.js-active {
  .product__variant-name,
  .product-block__name {
    transform: translateX(15px);

    &::before {
      opacity: 1;
    }
  }
}
