form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  font-size: 1.1rem;
  max-width: 100%;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

button {
  font-size: 1.1rem;
  background: none;
  border: none;
  outline: none;
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}

.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  height: 50px;

  .quantity-input__decrease {
    padding: 15px 10px 15px 25px;
    cursor: pointer;
  }
  .quantity-input__increase {
    padding: 15px 25px 15px 15px;
    cursor: pointer;
  }

  input {
    text-align: center;
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input.button,
a.button,
button.button {
  border: 1px solid #000000;
  height: 50px;
  padding: 6px 15px 5px;
  color: #000000;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;

  & ~ label {
    text-transform: uppercase;

    &:before {
      content: '\25A1';
      font-size: 22px;
      line-height: 12px;
    }
  }

  &:checked ~ label {
    &:before {
      content: '\25A0';

    }
  }
}

.select-field {
  position: relative;
  
  select {
    width: 100%;
    appearance: none;
    padding: 6px 25px 5px 15px;
    border: 1px solid #000000;
    height: 50px;
    cursor: pointer;
  }

  &::after {
    content: '≥';
    position: absolute;
    right: 14px;
    top: 18px;
    display: block;
    transform: rotate(90deg);
  }
}

.button {
  text-transform: uppercase;
  transition: background-color 300ms ease-out;

  &:hover {
    background-color: $color-grey1;
  }
}

a.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #000000;
}

.errors {
  ul {
    padding-inline-start: 0;
    list-style: none;

    li:before {
      content: '≥ ';
      display: inline;
    }
  }
}

input[type="text"].alt-input,
input[type="email"].alt-input,
input[type="password"].alt-input,
input[type="tel"].alt-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 7px 0 11px;
  height: auto;
}

.field-and-submit {
  position: relative;
  transition: opacity 400ms ease-out;

  button {
    position: absolute;
    right: 0;
    top: 7px;
  }

  &__success-msg {
    padding-top: 10px;
    display: none;
  }

  &__error-msg {
    padding-top: 10px;
    display: none;
  }

  &._submitting {
    opacity: 0.5;
    pointer-events: none;
  }

  &._success {
    .field-and-submit__success-msg {
      display: block;
    }
    input, .form-input-container {
      display: none;
    }
    button[type="submit"] {
      display: none;
    }
  }

  &._error {
    .field-and-submit__error-msg {
      display: block;
    }
  }
}
