body.area-theme {
  --forecolor: #000000;
  --bgcolor: #{$color-body};
    
  &.template-index {
    @include media_query($medium-up) {
      --bgcolor: transparent;

      &.white-foreground {
        --forecolor: #FFFFFF;
      }
    }
  }

  .cc-checkbox-container {
    margin-bottom: 0;
  }

  .cc-invisible {
    display: none;
  }

  .cc-bottom {
    bottom: 90px;
  }
  .cc-right {
    right: 20px;

    @include media_query($medium-up) {
      right: 30px;
    }
  }
  .cc-left {
    left: 20px;
    
    @include media_query($medium-up) {
      left: 30px;
    }
  }
  .cc-window {
    padding: 0;
    max-width: calc(100% - 40px);
    border-radius: 0;
    outline: none;
    transition: color .7s, border .7s;
    color: var(--forecolor) !important;
    border: 1px solid var(--forecolor) !important;
    background-color: var(--bgcolor) !important;
    left: 20px;
    
    @include media_query($medium-up) {
      max-width: 340px;
      left: 30px;
    }
  }
  .cookieconsent-wrapper {
    flex-direction: column;
  }
  .cc-window.cc-floating .cc-compliance,
  .cc-window.cc-banner .cc-compliance {
    flex-direction: row;
    border-top: 1px solid #000000;
    transition: border .7s;
    border-color: var(--forecolor);
    width: 100%;
  }
  .cc-btn {
    width: 50%;
    height: 50px;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: none !important;
    color: var(--forecolor) !important;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
    transition: color .7s, border .7s;
    margin-bottom: 0;

    &:focus {
      box-shadow: none;
      transform: none;
    }
  }
  .cc-btn:hover, 
  .cc-btn:focus {
    background-color: transparent;
    color: var(--forecolor);
    border: none;
  }
  .cc-settings {
    border: none;
    border-right: 1px solid var(--forecolor) !important;
    background-color: transparent;

    &:hover {
      border-right: 1px solid var(--forecolor);
    }
  }
  .cc-btn+.cc-btn,
  .cc-btn {
    margin-left: 0;
  }
  .cc-floating .cc-message,
  .cc-banner .cc-message {
    font-size: 1.1rem !important;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.7rem;
    margin: 17px 20px;
    padding-top: 0;
    display: block;
  }

  .cc-link {
    opacity: 1;
    padding: 0;
    color: var(--forecolor) !important;
    transition: color .7s;
    margin-left: 5px;

    &:focus {
      text-decoration: underline !important;
      transform: none !important;
    }
  }
  
  .cc-settings-dialog {
    background-color: $color-body;
    border: 1px solid #000000;
    padding: 30px;
    color: #000000 !important;

    .cc-cookie-category-text {
      font-size: 1.1rem !important;
      color: #000000;
      text-transform: uppercase;
      line-height: 1.7rem;
    }

    label {
      color: #000000;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-family: inherit;
      padding-left: 15px;
      height: 11px;
    }

    .cc-checkbox {
      background-color: transparent !important;
      top: 0;

      &:before {
        content: "\25A1";
        display: block;
        width: 15px;
        height: 17px;
        font-size: 20px;
        line-height: 7px;
      }
    }

    .cc-compliance {
      border: 1px solid #000000;
    }

    .cc-btn {
      color: #000000 !important;
      transition: background-color 200ms linear;
    }
    .cc-btn:hover {
      color: #000000 !important;
      background-color: #ECECEC;
    }

    .cc-btn-accept-selected:hover {
      border-right: 1px solid #000000;
    }
  }

  .cc-consent-verification {
    font-style: inherit;
    line-height: 1.1rem;
    text-align: left;
    margin: 25px 0 0;
    text-transform: uppercase;

    a {
      text-shadow: none;
      color: #000;
      font-weight: 500;
    }
  }

  .cc-btn-close-settings {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: none;
  }

  .cookie_settings_header {
    font-weight: 500;
    text-align: center;
    color: inherit;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECECEC;
    border: 1px solid;
    font-size: 1.1rem;
  }

  .cc-btn-accept-selected {
    border-right: 1px solid #000000 !important;;

    &:hover, &:focus {
      text-decoration: none !important;
    }
  }

  .cc-settings-dialog a:focus,
  .cc-settings-dialog button:focus,
  .cc-settings-dialog input:focus+.cc-checkbox,
  .cc-window a:focus,
  .cc-window button:focus {
    box-shadow: none;
  }

  .cc-settings-dialog input[type=checkbox]:checked~.cc-checkbox:after {
    display: none !important;
  }
  .cc-settings-dialog input[type=checkbox]:checked~.cc-checkbox:before {
    content: "\25A0";
  }

  .cc-checkbox-disabled {
    opacity: 0.5;
  }

  .cc-settings-dialog .cookie-settings-header {
    font-size: 1.1rem;
    color: #000;
  }
}
