.clearfix {
  @include clearfix;
}

.visually-hidden {
  @include visually-hidden;
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden;

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown;
  }
}

.visually-shown {
  @include visually-shown;
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
// Overrides .visually-hidden when focused
.skip-link:focus {
  @include visually-shown(absolute);
  z-index: 10000;
  padding: $grid-gutter / 2;
  background-color: $color-body;
  color: $color-body-text;
  transition: none;
}

._block-content {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.hide {
  /* stylelint-disable declaration-no-important */
  display: none !important;
}

.inner-image-hpos-left.inner-image-vpos-center {
  img {
    object-position: left center;
  }
}

.inner-image-hpos-left.inner-image-vpos-top {
  img {
    object-position: left top;
  }
}

.inner-image-hpos-left.inner-image-vpos-bottom {
  img {
    object-position: left bottom;
  }
}

.inner-image-hpos-right.inner-image-vpos-center {
  img {
    object-position: right center;
  }
}

.inner-image-hpos-right.inner-image-vpos-top {
  img {
    object-position: right top;
  }
}

.inner-image-hpos-right.inner-image-vpos-bottom {
  img {
    object-position: right bottom;
  }
}

.inner-image-hpos-center.inner-image-vpos-top {
  img {
    object-position: center top;
  }
}

.inner-image-hpos-center.inner-image-vpos-bottom {
  img {
    object-position: center bottom;
  }
}