html {
  background-color: $color-body;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  // height: 100%;
}

.scroll-fader {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: block;
  pointer-events: none;
  width: 100%;
  height: 100px;
  // background: linear-gradient(to bottom, rgba(245, 244, 242, 1) 0%, rgba(245, 244, 242, 1) 50%, rgba(245, 244, 242, 0) 100%);
  // background: linear-gradient(to bottom, rgba(245, 244, 242, 1) 0%, rgba(245, 244, 242, 0) 100%);
  // background: linear-gradient(to bottom, rgba(245, 244, 242, 1) 0%, rgba(245, 244, 242, 0.8) 40%, rgba(245, 244, 242, 0) 100%);
  // background: linear-gradient(to bottom, rgba(245,244,242,1) 0%,rgba(245,244,242,1) 30%,rgba(245,244,242,0) 100%);
  background: linear-gradient(to bottom, rgba(245, 244, 242, 1) 0%, rgba(245, 244, 242, 0.8) 50%, rgba(245, 244, 242, 0) 100%);
  opacity: 0;
  transition: opacity 600ms ease-out;

  .js-is-scrolled & {
    opacity: 1;
  }
}

.back-btn {
  padding-bottom: 30px;

  @include media_query($large-up) {
    position: fixed;
    top: 30px;
    z-index: 101;
    display: block;
    padding-bottom: 0;
  }
}

#preview-bar-iframe {
  display: none;
}

.area-theme {
  .shopify-challenge__container {
    margin-top: 158px;
  }
}
