@font-face {
  font-family: 'Akkurat';
  src: url('../assets/fonts/Akkurat-Light.eot');
  src: url('../assets/fonts/Akkurat-Light.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Akkurat-Light.woff2') format('woff2'),
      url('../assets/fonts/Akkurat-Light.woff') format('woff'),
      url('../assets/fonts/Akkurat-Light.ttf') format('truetype'),
      url('../assets/fonts/Akkurat-Light.svg#Akkurat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akkurat';
  src: url('../assets/fonts/Akkurat.eot');
  src: url('../assets/fonts/Akkurat.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Akkurat.woff2') format('woff2'),
      url('../assets/fonts/Akkurat.woff') format('woff'),
      url('../assets/fonts/Akkurat.ttf') format('truetype'),
      url('../assets/fonts/Akkurat.svg#Akkurat') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-weight: $font-body-weight;
  font-style: $font-body-style;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-family: $font-body;
  font-weight: 300;
}

h1,
.h1 {
  font-size: 28px;
  line-height: 34px;

  @include media_query($large-up) {
    font-size: 37px;
    line-height: 45px;
  }
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  font-family: $font-body;
  font-weight: $font-body-weight;
  text-size-adjust: 100%;
}

p {
  line-height: 1.7rem;
}

a {
  color: $color-body-text;
  text-decoration: none;
}

a:focus {
  color: inherit;
  outline: none;
}
