

.account {
  text-transform: uppercase;

  &__title {
    display: flex;
    text-transform: uppercase;

    h1,
    h2 {
      line-height: 1.3rem;
      font-size: inherit;
      text-transform: uppercase;
      font-weight: 500;
    }

    h1 {
      margin: 0 45px 0 0;
    }

    h2 {
      margin: 0 0 23px;
    }

    a {
      margin-left: 45px;
    }
  }

  &__email {
    margin-top: 21px;
  }

  &__logout {
    margin-top: 23px;
  }

  &__orders {
    max-width: 800px;
    border-collapse: collapse;
    margin-bottom: 20px;

    td,
    th {
      border: 1px solid;
      height: 50px;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
    }

    th {
      font-size: inherit !important;
    }
  }

  &__options {
    display: flex;
    margin-top: 24px;
    max-width: 400px;

    a {
      width: 50%;
      margin-right: -1px;
    }
  }

  &__last-orders {
    display: none;

    h3 {
      margin: 0 0 24px;
      font-size: inherit;
      font-weight: 500;
    }
  }

  &__no-orders {
    margin: -4px 0 0;
  }
}
