.activate-account {
  h1 {
    line-height: 1.3rem;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }

  p {
    margin: 0;
    text-transform: uppercase;
  }

  &__form {
    margin-top: 25px;
    width: 100%;
    max-width: 400px;

    input {
      width: 100%;
      margin-top: -1px;
      text-align: center;
      font-size: inherit;
    }
  }

  &__actions {
    display: flex;

    .button {
      width: 50%;

      &:first-child {
        margin-top: -1px;
        border-right: none;
      }
    }
  }
}
