.addresses {
  &__add-new {
    width: 100%;
  }

  &__back {
    position: fixed;
    top: 30px;
    z-index: 11;
  }

  &__address {
    &-info {
      border: 1px solid;
      padding: 10px 20px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

  &__address-actions {
    display: flex;

    .button {

      &:first-child {
        width: 50%;
        margin-top: -1px;
        border-right: none;
      }
    }

    form {
      width: 50%;

      .button {
        margin-top: -1px;
        width: 100%;
      }
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid;

    & > div {
      width: 50%;
      margin-top: -1px;
    }

    input {
      width: 100%;
    }
  }

  &__form-set-default {
    display: flex;
    align-items: center;
    height: 49px;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 13px 15px 15px;
  }

  &__form-actions {
    display: flex;

    .button {
      width: 50%;

      &:first-child {
        border-right: none;
      }
    }
  }

  &__form-wrapper {
    margin-bottom: 25px;
    max-width: 600px;
  }

  .pagination {
    margin-bottom: 25px;
  }

  &__1col {
    input,
    select {
      border-right: 0;
    }
  }

  &__form {
    .addresses__2col {
      width: 100%;

      input,
      select {
        border-right: 0;
      }
    }
  }
}
