.account-area {
  padding: $header-height - 20px $grid-padding-mobile 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include media_query($medium-up) {
    padding: $header-height - 20px $grid-padding 60px;
  }

  @include media_query($large-up) {
    padding: $header-height + 35px $grid-padding 60px;
  }

  &__wrapper {
    width: 100%;
    display: block;

    @include media_query($medium-up) {
      display: flex;
      flex-direction: column;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
    }
  }

  &__back {
    position: fixed;
    top: 72px;
    
    @include media_query($large-up) {
      top: 30px;
      z-index: 11;
    }
  }

  h1 {
    margin-top: 26px;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 20px;

    td,
    th {
      border: 1px solid;
      height: 50px;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
      margin-top: -1px;

      @include media_query($medium-up) {
        margin-top: 0;
      }
    }

    th {
      font-size: 1rem;
    }
  }
}
