.order {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  h1,
  h2,
  h3 {
    margin: 0 0 19px;
    line-height: 1.3rem;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__date {
    text-transform: uppercase;
    margin: 0 0 21px;
  }

  &__wrapper {
    width: 100%;
    display: block;

    @include media_query($medium-up) {
      display: flex;
      flex-direction: column;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
    }
  }

  &__table {
    max-width: 800px;
  }

  &__addresses {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;

    &-col {
      width: 100%;

      @include media_query($medium-up) {
        width: 50%;

        &:first-child .order__address-info {
          border-right: none;
        }
      }
    }
  }

  &__address {
    width: 100%;

    &-info {
      border: 1px solid;
      padding: 10px 20px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }
}
