.register {
  &__form {
    width: 100%;
    max-width: 400px;

    h1 {
      line-height: 1.3rem;
      font-size: inherit;
      text-transform: uppercase;
      font-weight: 500;
      margin: 0 0 25px;
    }
    
    input {
      width: 100%;
      margin-top: -1px;
      text-align: center;
      font-size: inherit;

      &::placeholder {
        color: inherit;
        font-size: inherit;
      }
    }

    p {
      margin: 0 0 25px;
      text-transform: uppercase;
    }
  }

  &__actions {
    display: flex;

    .button {
      width: 50%;

      &:first-child {
        margin-top: -1px;
        border-right: none;
      }
    }
  }

  &__other-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  &__name-fields {
    display: flex;

    input {
      width: 50%;

      &:first-of-type {
        border-right: none;
      }
    }
  }
}
