.reset-password {
  h1 {
    line-height: 1.3rem;
    font-size: inherit;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;

    + p {
      text-transform: uppercase;
      margin: 0 0 25px;
    }
  }

  &__form {
    width: 100%;
    max-width: 400px;
    
    input {
      width: 100%;
      margin-top: -1px;
    }
  }
}
