@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Light.eot');
    src: url('Akkurat-Light.eot?#iefix') format('embedded-opentype'),
        url('Akkurat-Light.woff2') format('woff2'),
        url('Akkurat-Light.woff') format('woff'),
        url('Akkurat-Light.ttf') format('truetype'),
        url('Akkurat-Light.svg#Akkurat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat.eot');
    src: url('Akkurat.eot?#iefix') format('embedded-opentype'),
        url('Akkurat.woff2') format('woff2'),
        url('Akkurat.woff') format('woff'),
        url('Akkurat.ttf') format('truetype'),
        url('Akkurat.svg#Akkurat') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

