<div class="page-404">
  <div class="page-404__holder">
    <div class="page-404__wrapper">
      <p>{{ 'general.404.text1' | t }}</p>
      <p>{{ 'general.404.text2' | t }}</p>
      <a href="/" class="button">{{ 'general.404.back_to_store' | t }}</a>
    </div>
  </div>
</div>
