<div class="cart" data-role="cart">
  {% include 'back-btn' %}
  <div class="cart__title">
    <div class="cart__col1">
      {{ 'cart.general.my_bag' | t }}
    </div>
    <div class="cart__col2" data-role="cart-quantity">
      {{ 'cart.general.product_count' | t: count: cart.item_count }}
    </div>
  </div>
  <form action="/cart" method="post" novalidate>
    <div class="cart__wrapper">
      <div class="cart__item-list" data-role="cart-items">
        {% include 'cart-items' %}
      </div>

      <div class="cart__checkout">
        {% include 'cart-totals' %}
      </div>
    </div>
  </form>
</div>
