{% layout none %}
{% capture cart_items %}
  {% include 'cart-items' %}
{% endcapture %}
{% assign show_promo = false %}
{% if collections['flos-offer'] and collections['flos-offer'].published_at != blank %}
  {% assign offers_available = 0 %}
  {% assign offert_taken = 0 %}
  {% for item in cart.items %}
    {% if item.product.tags contains 'Flos' %}
      {% if item.product.price >= 70000 %}
        {% assign offers_available = offers_available | plus: item.quantity %}
      {% endif %}
    {% endif %}
    {% assign flos_collection = item.product.collections | where: 'handle', 'flos-offer' %}
    {% if flos_collection != blank %}
      {% assign offert_taken = offert_taken | plus: item.quantity %}
    {% endif %}
  {% endfor %}
  {% if offers_available > offert_taken %}
    {% assign show_promo = true %}
  {% endif %}
{% endif %}
{
  "cartItems": {{ cart_items | json }},
  "cartSubtotal": {{ cart.original_total_price | money | json }},
  "cartTotal": {{ cart.total_price | money | json }},
  {% if cart.total_discount > 0 %}
    "cartDiscount": {{ cart.total_discounts | money | json }},
    "cartDiscountPerc": {{ cart.total_discounts | times: 100 | divided_by: cart.original_total_price  | json }},
  {% endif %}
  "cartCount": {{ 'cart.general.product_count' | t: count: cart.item_count | json }},
  "cartItemCount": {{ cart.item_count }},
  "showPromoButton": {{ show_promo | json }}
}