{% layout none %}
{% capture html_body %}
  {% paginate collection.products by 12 %}
    {% for product in collection.products %}
      {% include 'product-block' %}
    {% endfor %}
    {% assign totalPages = paginate.pages %}
  {% endpaginate %}
{% endcapture %}
{"productsCount": {{ collection.products_count }},"pageCount": {{ totalPages }}, "body": {{ html_body | json }}}