<div class="logo" style="display: none;">
  <!-- remove display none after event tom dixon -->
  <a href="/">
    {% include 'logo-area' %}
  </a>
</div>
{{ content_for_index }}
{% include 'discount' %}