<div class="page__blocks grid">
  <div class="page__blocks-holder">
    {% for block_type in page.metafields.area.grid_block_type %}
      {% assign block_data = page.metafields.area %}
      {% assign block_idx = forloop.index0 %}
      {% if block_data.['block_alignment'][block_idx] == 'center' %}
        {% assign block_alignment = 'justify-content: center;' %}
      {% elsif block_data.['block_alignment'][block_idx] == 'right' %}
        {% assign block_alignment = 'justify-content: flex-end;' %}
      {% else %}
        {% assign block_alignment = 'justify-content: flex-start;' %}
      {% endif %}
      <div class="grid__block" style="{{ block_alignment }}">
        {% include 'grid-col', col: 1 %}
        {% if block_data.grid_block_type[block_idx] == "2-column" or block_data.grid_block_type[block_idx] == "3-column" %}
          {% include 'grid-col', col: 2 %}
        {% endif %}
        {% if block_data.grid_block_type[block_idx] == "3-column" %}
          {% include 'grid-col', col: 3 %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% include 'back-to-top' %}
</div>