<div class="rte page newsletter-page">
  <div class="page__container">
    <div class="page__content"> 
      <h1>{{ 'general.newsletter_form.subscribe' | t }}</h1>
      <div class="newsletter-page__form">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email"
              name="contact[email]"
              id="Email"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="{%- comment -%}{{ 'general.newsletter_form.email_placeholder' | t }}{%- endcomment -%} E-MAIL"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="false">
            <button type="submit" name="commit" id="Subscribe" class="button">
              {{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          {% endif %}
        {% endform %}
      </div>
    </div>
  </div>
</div>
