{% assign block_count = page.metafields.area.block_type | size %}
{% if block_count > 0 %}
  <div class="page__blocks">
    <div class="page__blocks-holder">
      {% for block_type in page.metafields.area.block_type %}
        {% assign block_snippet = block_type | handleize | prepend: 'block-' %}
        {% include block_snippet, block_data: page.metafields.area, block_idx: forloop.index0 %}
      {% endfor %}
    </div>
    {% include 'back-to-top' %}
  </div>
{% endif %}