{% layout none %}
{% capture html_body %}
  {% paginate search.results by 12 %}
    {% for product in search.results %}
      {% include 'product-block' %}
    {% endfor %}
    {% assign totalPages = paginate.pages %}
  {% endpaginate %}
{% endcapture %}
{"productsCount": {{ search.results_count }},"pageCount": {{ totalPages }}, "body": {{ html_body | json }}}