{% paginate search.results by 12 %}
  <div class="collection collection--grid4">
    <div
      class="collection__holder"
      data-role="collection-holder"
      data-collection-handle="search"
      data-layout="vertical"
      data-total-pages="{{ paginate.pages }}"
      data-sort-by=""
      data-tags=""
      data-search-by="{{ search.terms }}">
      {% if search.performed %}
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        <h1>{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
      {% else %}
        <h1>{{ 'general.search.no-search' | t }}</h1>
      {% endif %}
      {% for pageNum in (1..current_page) %}
        {% if pageNum == current_page %}
          <div class="collection__page" data-page="{{ pageNum }}" data-page-loaded="1" {% if pageNum == paginate.pages %}data-last-page="1"{% endif %}>
            {% for product in search.results %}
              {% include 'product-block' %}
            {% endfor %}
          </div>
        {% else %}  
          <div class="collection__page" data-page="{{ pageNum }}"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if paginate.pages > 1 %}
    <div class="collection-load-more">
      <a href="#" class="first-link button" data-action="load-more">
        {{ 'collections.general.load_more' | t }}
      </a>
    </div>
  {% endif %}
{% endpaginate %}