<div data-address-form class="hide">
  {% form 'customer_address', address %}
  <div data-address-fields class="addresses__form">
    {% comment %} These fields have to exist in the frontend so not to break frontend logic{% endcomment %}
    <div class="addresses__1col">
      <input type="text"
            name="address[first_name]"
            id="AddressFirstName_{{ form.id }}"
            value="{{ form.first_name }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.first_name' | t }}">
    </div>
    <div class="addresses__1col">
      <input type="text"
            name="address[last_name]"
            id="AddressLastName_{{ form.id }}"
            value="{{ form.last_name }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.last_name' | t }}">
    </div>
    <div class="addresses__1col">
      <input type="text"
            name="address[address1]"
            id="AddressAddress1_{{ form.id }}"
            value="{{ form.address1 }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.address1' | t }}">
    </div>
    <div class="addresses__1col">
      <input type="text"
            name="address[address2]"
            id="AddressAddress2_{{ form.id }}"
            value="{{ form.address2 }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.address2' | t }}">
    </div>
    <div class="addresses__1col">
      <input type="text"
            name="address[city]"
            id="AddressCity_{{ form.id }}"
            value="{{ form.city }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.city' | t }}">
    </div>
    <div class="select-field addresses__2col">
      {% assign default_country = 'PT' %}
      {% if address.country_code != blank %}
        {% assign default_country = address.country_code %}
      {% endif %}
      <select
        name="address[country]"
        id="AddressCountry_{{ form.id }}"
        class="address-country-option"
        data-form-id="{{ form.id }}"
        data-default="{{ default_country }}"
        data-placeholder="{{ 'customer.addresses.country' | t }}">
      </select>
    </div>
    <div class="select-field addresses__1col">
      <select
        name="address[province]"
        id="AddressProvince_{{ form.id }}"
        data-default="{{ address.province_code }}"
        data-placeholder="{{ 'customer.addresses.state' | t }}">
      </select>
    </div>
    <div class="addresses__1col addresses__1col-r">
      <input type="text"
            name="address[zip]"
            id="AddressZip_{{ form.id }}"
            value="{{ form.zip }}"
            autocapitalize="characters"
            placeholder="{{ 'customer.addresses.zip' | t }}">
    </div>
    <div class="addresses__1col">
      <input type="tel"
            name="address[phone]"
            id="AddressPhone_{{ form.id }}"
            value="{{ form.phone }}"
            pattern="[+\s0-9\-]*"
            placeholder="{{ 'customer.addresses.phone' | t }}">
    </div>
    {% comment %} These fields have to exist in the frontend so not to break frontend logic{% endcomment %}
    <div style="display: none;">
      <input type="text"
            name="address[company]"
            id="AddressCompany_{{ form.id }}"
            value="{{ form.company }}"
            autocapitalize="words"
            placeholder="{{ 'customer.addresses.company' | t }}">

    </div>
  </div>
  <div class="addresses__form-set-default">
      {{ form.set_as_default_checkbox }}
      <label for="address_default_address_{{ form.id }}">
        {{ 'customer.addresses.set_default' | t }}
      </label>
    </div>
  <div class="addresses__form-actions">
    <button type="button" class="button" data-address-toggle data-form-id="{{ form.id }}">
      {{ 'customer.addresses.cancel' | t }}
    </button>
    <button type="submit" class="button">{{ 'customer.addresses.update' | t }}</button>
  </div>

  {% endform %}

</div>