<svg xmlns="http://www.w3.org/2000/svg" width="30.28" height="26.16" viewBox="0 0 30.28 26.16">
  <path id="Caminho_12" data-name="Caminho 12" d="M1329.863,450l-13.08-13.08-1.2,1.2,11.04,10.96h-27.04v1.8h27.04l-11.08,11,1.2,1.2Z" transform="translate(-1299.583 -436.92)" fill="#f5f4f2"/>
</svg>
