{%- assign img_size = block_data.block_checkbox[block_idx] | handleize | prepend: 'block-two-cols-image__' -%}
<div class="block-two-cols-image" data-aos="fade-in">
  <div class="block-two-cols-image__col">
    <div class="block-two-cols-image__img-holder">
      <div class="block-two-cols-image__wrapper">
        <div class="block-two-cols-image__sizer" style="padding-top: {{ 1 | divided_by: block_data.block_image[block_idx][0].aspect_ratio | times: 100 }}%">
          {% if block_data.block_link[block_idx] != blank %}
            <a href="{{block_data.block_link[block_idx]}}">
          {% endif %}
            <div class="block-two-cols-image__img {{img_size}}">
              <picture>
                <source media="(min-width: 768px)" srcset="{{ block_data.block_image[block_idx][0].cloudinary_src | append: 'w_1400' }}">
                <img src="{{ block_data.block_image[block_idx][0].cloudinary_src | append: 'w_700' }}" alt="" />
              </picture>
              {% if block_data.block_title[block_idx][shop.locale] != blank %}
                <div class="block-two-cols-image__text {% if block_data.block_checkbox_background_text[block_idx] == 'true' %} block-two-cols-image__text--black {% endif %}">
                  <h1>{{ block_data.block_title[block_idx][shop.locale] }}</h1>
                </div>
              {% endif %}
            </div>
          {% if block_data.block_link[block_idx] != blank %}
            </a>
          {% endif %}
        </div>
      </div>

      <div class="block-two-cols-image__wrapper">
        <div class="block-two-cols-image__sizer" style="padding-top: {{ 1 | divided_by: block_data.block_image_2[block_idx][0].aspect_ratio | times: 100 }}%">
          {% if block_data.block_link_2[block_idx] != blank %}
            <a href="{{block_data.block_link_2[block_idx]}}">
          {% endif %}
          <div class="block-two-cols-image__img {{img_size}}">
            <picture>
              <source media="(min-width: 768px)" srcset="{{ block_data.block_image_2[block_idx][0].cloudinary_src | append: 'w_1400' }}">
              <img src="{{ block_data.block_image_2[block_idx][0].cloudinary_src | append: 'w_700' }}" alt="" />
            </picture>
            {% if block_data.block_title_2[block_idx][shop.locale] != blank %}
              <div class="block-two-cols-image__text {% if block_data.block_checkbox_background_2[block_idx] == 'true' %} block-two-cols-image__text--black {% endif %}">
                <h1>{{ block_data.block_title_2[block_idx][shop.locale] }}</h1>
              </div>
            {% endif %}
          </div>
          {% if block_data.block_link_2[block_idx] != blank %}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>