<div class="block-left-text">
  <div class="block-left-text__text-col">
    <div class="block-left-text__text" data-aos="fade-right" data-aos-offset="0">
      {% if block_data.block_title[block_idx][shop.locale] != blank %}
        <h2 class="h1">{{ block_data.block_title[block_idx][shop.locale] }}</h2>
      {% endif %}
      {{ block_data.block_text[block_idx][shop.locale] }}
    </div>
    {% if block_data.block_image_1[block_idx][0].cloudinary_src != blank %}
      <div class="block-left-text__small-img" data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">
        <img src="{{ block_data.block_image_1[block_idx][0].cloudinary_src | append: 'w_400' }}" alt="" />
      </div>
    {% endif %}
  </div>
  <div class="block-left-text__image-col" data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">
    {% if block_data.block_image_2[block_idx][0].cloudinary_src != blank %}
      <img src="{{ block_data.block_image_2[block_idx][0].cloudinary_src | append: 'w_1000' }}" alt="" />
    {% endif %}
  </div>
  {% if block_data.block_image_1[block_idx][0].cloudinary_src != blank %}
    <div class="block-left-text__small-img-mobile">
      <img src="{{ block_data.block_image_1[block_idx][0].cloudinary_src | append: 'w_400' }}" alt="" />
    </div>
  {% endif %}
</div>