{% if block_data.block_image_1[block_idx][0] %}
  <div class="block-image" data-aos="fade-up">
    <picture>
      <source media="(min-width: 768px)" srcset="{{ block_data.block_image_1[block_idx][0].cloudinary_src | append: 'w_1400' }}">
      <img src="{{ block_data.block_image_1[block_idx][0].cloudinary_src | append: 'w_750' }}" alt="" />
    </picture>
  </div>
{% endif %}