<div class="block-two-cols-text" data-aos="fade-in">
  <div class="block-two-cols-text__holder">
    <div class="block-two-cols-text__col">
      {% if block_data.block_title[block_idx][shop.locale] != blank %}
        <div class="block-two-cols-text__title"> 
          <h1>{{ block_data.block_title[block_idx][shop.locale] }}</h1>
        </div>
      {% endif %}
    </div>
    <div class="block-two-cols-text__col">
      {% if block_data.block_description[block_idx][shop.locale].html != blank %}
        <div class="block-two-cols-text__content"> 
          {{ block_data.block_description[block_idx][shop.locale].html }}
        </div>
      {% endif %}
    </div>
  </div>
</div>