<div class="block-right-text">
  <div class="block-right-text__text-col" data-aos="fade-down" data-aos-delay="500">
    <div class="block-right-text__text">
      {% if block_data.block_title[block_idx][shop.locale] != blank %}
        <h2 class="h1">{{ block_data.block_title[block_idx][shop.locale] }}</h2>
      {% endif %}
      {{ block_data.block_text[block_idx][shop.locale] }}
      {% if block_data.image_1_caption[block_idx][shop.locale] != blank %}
        <p class="block-right-text__caption">
          {{ block_data.image_1_caption[block_idx][shop.locale] | newline_to_br }}
        </p>
      {% endif %}
    </div>
  </div>
  <div class="block-right-text__img-col" data-aos="fade-up" data-aos-delay="300">
    {% if block_data.block_image_1[block_idx][0].cloudinary_src != blank %}
      <img src="{{ block_data.block_image_1[block_idx][0].cloudinary_src | append: 'w_750' }}" alt="" />
    {% endif %}
    {% if block_data.image_1_caption[block_idx][shop.locale] != blank %}
        <p class="block-right-text__caption-mobile">
          {{ block_data.image_1_caption[block_idx][shop.locale] | newline_to_br }}
        </p>
      {% endif %}
  </div>
</div>