<div class="block-image-full" data-aos="fade-up">
  <div class="block-image-full__col">
    <div class="block-image-full__img-holder">
      <div class="block-image-full__wrapper">
        {% if block_data.block_link[block_idx] != blank %}
          <a href="{{block_data.block_link[block_idx]}}">
        {% endif %}
          <div class="block-image-full__img">
            <picture>
              <source media="(min-width: 768px)" srcset="{{ block_data.block_image[block_idx][0].cloudinary_src | append: 'w_2000' }}">
              <img src="{{ block_data.block_image[block_idx][0].cloudinary_src | append: 'w_700' }}" alt="" />
            </picture>
            {% if block_data.block_title[block_idx][shop.locale] != blank %}
            <div class="block-image-full__text {% if block_data.block_checkbox_background_text[block_idx] == 'true' %} block-image-full__text--black {% endif %}">
              <h1>{{ block_data.block_title[block_idx][shop.locale] }}</h1>
            </div>
          {% endif %}
          </div>
        {% if block_data.block_link[block_idx] != blank %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>