<div class="block-two-cols-image-text" data-aos="fade-in">
  <div class="block-two-cols-image-text__holder">
    <div class="block-two-cols-image-text__col">
      <div class="block-two-cols-image-text__image"> 
        <img src="{{ block_data.block_image[block_idx][0].cloudinary_src | append: 'w_800' }}" alt="" />
      </div>
    </div>
    <div class="block-two-cols-image-text__col">
      <div class="block-two-cols-image-text__content__col">
        <div class="block-two-cols-image-text__content__image"> 
          <img src="{{ block_data.block_image_2[block_idx][0].cloudinary_src | append: 'w_400' }}" alt="" />
        </div>
        {% if block_data.block_description[block_idx][shop.locale].html != blank %}
          <div class="block-two-cols-image-text__content"> 
            {{block_data.block_description[block_idx][shop.locale].html}}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>