{% for item in cart.items %}
<div class="cart-item" data-line="{{ item.key }}">
  <div class="cart-item__alt-wrapper">
    <div class="cart-item__thumb-qtd">
      <div class="cart-item__thumb cart-item__col1">
        {% if item.image != blank %}
          <a href="{{ item.url | within: collections.all }}">
            {{ item | img_url: '250x250' | img_tag: item.title }}
          </a>
        {% endif %}
      </div>
      <div class="cart-item__infos cart-item__col2">
        <div class="cart-item__info">
          <div>{{ item.product.metafields.eae.info['range'] }}</div>
        </div>
        <div class="cart-item__name">
          {% if item.product.has_only_default_variant %}
            {{ item.product.metafields.eae.translations['descr'] }}
          {% else %}
            {{ item.variant.metafields.eae.translations['descr'] }}
          {% endif %}
        </div>
        <div class="cart-item__ref">
          REF.
          {% if item.product.has_only_default_variant %}
            {{ item.product.metafields.eae.info['ref'] }}
          {% else %}
            {{ item.variant.metafields.eae.info['ref'] }}
          {% endif %}
        </div>
      </div>
      <div class="cart-item__qtd cart-item__col3">
        <div class="cart-item__price">
          {% if item.original_line_price != item.final_line_price %}
            <s>{{ item.original_line_price | money }}</s>
          {% endif %}
          {{ item.final_line_price | money }}
        </div>
        <div class="quantity-input">
          <a class="quantity-input__decrease" data-action="decrease">-</a>
          <input type="number" id="Quantity" name="quantity" value="{{ item.quantity }}" data-role="input-quantity" disabled>
          <a class="quantity-input__increase" data-action="increase">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-item__wrapper">
    <div class="cart-item__info">
      <div class="cart-item__col1">{{ item.product.metafields.eae.info['range'] }}</div>
      <div class="cart-item__col2">
        REF.
        {% if item.product.has_only_default_variant %}
          {{ item.product.metafields.eae.info['ref'] }}
        {% else %}
          {{ item.variant.metafields.eae.info['ref'] }}
        {% endif %}
      </div>
    </div>
    <div class="cart-item__name">
      {% if item.product.has_only_default_variant %}
        {{ item.product.metafields.eae.translations['descr'] }}
      {% else %}
        {{ item.variant.metafields.eae.translations['descr'] }}
      {% endif %}
    </div>
    <div class="cart-item__thumb-qtd">
      <div class="cart-item__thumb cart-item__col1">
        {% if item.image != blank %}
          <a href="{{ item.url | within: collections.all }}">
            {{ item | img_url: '250x250' | img_tag: item.title }}
          </a>
        {% endif %}
      </div>
      <div class="cart-item__qtd cart-item__col2">
        <div class="quantity-input">
          <a class="quantity-input__decrease" data-action="decrease">-</a>
          <input type="number" id="Quantity" name="quantity" value="{{ item.quantity }}" data-role="input-quantity" disabled>
          <a class="quantity-input__increase" data-action="increase">+</a>
        </div>
        <div class="cart-item__price">
          {% if item.original_line_price != item.final_line_price %}
            <s>{{ item.original_line_price | money }}</s>
          {% endif %}
          {{ item.final_line_price | money }}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="cart-items__no-items">{{ 'cart.general.empty' | t }}</div>
{% endfor %}
