<div class="cart-totals">
  <div class="cart-totals__subtotal">
    <div class="cart-totals__col1">
      {{ 'cart.general.order_value' | t }}
    </div>
    <div class="cart-totals__col2" data-role="cart-subtotal">
      {{ cart.original_total_price | money }}
    </div> 
  </div>
  <div class="cart-totals__discount" data-role="cart-discount-line" {% unless cart.total_discounts > 0 %}style="display: none;"{% endunless %}>
    <div class="cart-totals__col1">
      {%- comment -%}
        -<span data-role="cart-discount-perc">{% if cart.original_total_price > 0 %}{{ cart.total_discounts | times: 100 | divided_by: cart.original_total_price }}{% else %}0{% endif %}</span>%
      {%- endcomment -%}
      {{ 'cart.general.discount' | t }}
    </div>
    <div class="cart-totals__col2" data-role="cart-discount">
      {{ cart.total_discounts | money }}
    </div> 
  </div>
  <div class="cart-totals__shipping">
    {{ 'cart.general.shipping_value' | t }}
  </div>
  {% if collections['flos-offer'] and collections['flos-offer'].published_at != blank %}
    <div class="cart-totals__promo" data-role="promo-button">
      <a href="{{ collections['flos-offer'].url }}" class="button">{{ 'cart.general.flos_choose_offer' | t }}</a>
    </div>
  {% endif %}
  <div class="cart-totals__control">
    <div class="cart-totals__control-total" data-role="cart-total">
      {{ cart.total_price | money }}
    </div>
    <div class="cart-totals__control-actions">
      <button data-action="close" class="button">{{ 'cart.general.continue_shopping' | t }}</button>
      <input type="submit" name="checkout" value="{{ 'cart.general.checkout' | t }}" data-action="go-checkout" class="button cart-totals__checkout-button">
    </div>
  </div>
</div>