{% if collection.metafields.areastore.promobar == true %}
  <div data-role="discount" class="discount discount--collection">
    <div data-role="loop" class="discount__loop">
      {% for i in (1..6) %}
        <div data-role="content" class="h1">
          {% if shop.locale == 'pt-PT' %}
            {{ collection.metafields.areastore.promobar_text_pt }}&nbsp;
          {% else %}
            {{ collection.metafields.areastore.promobar_text_en }}&nbsp;
          {% endif %}
        </div>
      {% endfor %}
    </div> 
  </div>
  <style>
    .discount .discount__loop {
      animation-duration: 50s;
    }
  </style>
{% endif %}
