<div class="collection-filters-mobile">
  {% include 'collection-filters' %}
</div>
{% paginate collection.products by 12 %}
  <div class="collection {{ gridColumn }}">
    <div
      class="collection__holder"
      data-role="collection-holder"
      data-collection-handle="{{ collection.handle }}"
      data-layout="{{ collectionLayout }}"
      data-total-pages="{{ paginate.pages }}"
      data-sort-by="{{ collection.sort_by }}"
      data-tags="{{ current_tags | handleize }}">
      {% for pageNum in (1..current_page) %}
        {% if pageNum == current_page %}
          <div class="collection__page" data-page="{{ pageNum }}" data-page-loaded="1" {% if pageNum == paginate.pages %}data-last-page="1"{% endif %}>
            {% for product in collection.products %}
              {% include 'product-block' %}
            {% endfor %}
          </div>
        {% else %}  
          <div class="collection__page" data-page="{{ pageNum }}"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if paginate.pages > 1 %}
    <div class="collection-load-more">
      <a href="#" class="first-link button" data-action="load-more">
        {{ 'collections.general.load_more' | t }}
      </a>
    </div>
  {% endif %}
{% endpaginate %}
{% include 'collection-discount' %}
