<div class="collection-filters">
  <div class="collection-filters__col" data-role="sort-select">
    <div class="collection-filters__title">
      <a href="#" data-action="show">{{ 'collections.general.sort_by' | t }}</a>
    </div>
    <div class="collection-filters__options">
      <div class="collection-filters__inner-options" data-role="options">
        <a href="#" data-action="select" class="link" data-value="default">{{ 'collections.general.default' | t }}</a>
        <a href="#" data-action="select" class="link" data-value="price-ascending">{{ 'collections.general.price_low_high' | t }}</a>
        <a href="#" data-action="select" class="link" data-value="price-descending">{{ 'collections.general.price_high_low' | t }}</a>
      </div>
    </div>
  </div>

  <div class="collection-filters__col" data-role="filter-select">
    <div class="collection-filters__title">
      <a href="#" data-action="show">{{ 'collections.general.filter' | t }}</a>
    </div>
    <div class="collection-filters__options">
      <div class="collection-filters__inner-options" data-role="options">
        <a href="#" data-action="select" class="link" data-value="all">{{ 'collections.general.all' | t }}</a>
        <a href="#" data-action="select" class="link" data-value="in-stock">{{ 'collections.general.in_stock' | t }}</a>
        <a href="#" data-action="select" class="link" data-value="new">{{ 'collections.general.new' | t }}</a>
        <a href="#" data-action="select" class="link" data-value="promotion-or-sale">{{ 'collections.general.promotion' | t }}</a>
      </div>
    </div>
  </div>
</div>