{%- assign privacy_policy_text = shop.metafields.consentbar_text["privacy_policy_text"] -%}
{%- assign accept_button_text = shop.metafields.consentbar_text["accept_button_text"] -%}
{%- assign close_button_text = shop.metafields.consentbar_text["close_button_text"] -%}
{%- assign change_cookies_text = shop.metafields.consentbar_text["change_cookies_text"] -%}
{%- assign text = shop.metafields.consentbar_text["text"] -%} 

{%- assign strict_cookies_checkbox = shop.metafields.preferences_text["strict_cookies_checkbox"] -%}
{%- assign strict_cookies_text = shop.metafields.preferences_text["strict_cookies_text"] -%}

{%- assign analytics_cookies_checkbox = shop.metafields.preferences_text["analytics_cookies_checkbox"] -%}
{%- assign analytics_cookies_text = shop.metafields.preferences_text["analytics_cookies_text"] -%}

{%- assign marketing_cookies_checkbox = shop.metafields.preferences_text["marketing_cookies_checkbox"] -%}
{%- assign marketing_cookies_text = shop.metafields.preferences_text["marketing_cookies_text"] -%}

{%- assign functionality_cookies_checkbox = shop.metafields.preferences_text["functionality_cookies_checkbox"] -%}
{%- assign functionality_cookies_text = shop.metafields.preferences_text["functionality_cookies_text"] -%}

{%- assign popup_header = shop.metafields.preferences_text["popup_header"] -%}
{%- assign dismiss_button_text = shop.metafields.preferences_text["dismiss_button_text"] -%}

{%- assign accept_selected_button_text = shop.metafields.preferences_text["accept_selected_button_text"] -%}
{%- assign accept_all_button_text = shop.metafields.preferences_text["accept_all_button_text"] -%}

{%- assign data_collection_text = shop.metafields.preferences_text["data_collection_text"] -%}


<script type="text/javascript">
  window.isense_gdpr_privacy_policy_text = "{{ privacy_policy_text | replace: '"' , '\"' }}";
  window.isense_gdpr_accept_button_text = "{{ accept_button_text | replace: '"' , '\"' }}";
  window.isense_gdpr_close_button_text = "{{ close_button_text | replace: '"' , '\"' }}";
  window.isense_gdpr_change_cookies_text = "{{ change_cookies_text | replace: '"' , '\"' }}";
  window.isense_gdpr_text = "{{ text }}";

  window.isense_gdpr_strict_cookies_checkbox = "{{ strict_cookies_checkbox | replace: '"' , '\"' }}";
  window.isense_gdpr_strict_cookies_text = "{{ strict_cookies_text | replace: '"' , '\"' }}";

  window.isense_gdpr_analytics_cookies_checkbox = "{{ analytics_cookies_checkbox | replace: '"' , '\"' }}";
  window.isense_gdpr_analytics_cookies_text = "{{ analytics_cookies_text | replace: '"' , '\"' }}";

  window.isense_gdpr_marketing_cookies_checkbox = "{{ marketing_cookies_checkbox | replace: '"' , '\"' }}";
  window.isense_gdpr_marketing_cookies_text = "{{ marketing_cookies_text | replace: '"' , '\"' }}";

  window.isense_gdpr_functionality_cookies_checkbox = "{{ functionality_cookies_checkbox | replace: '"' , '\"' }}";
  window.isense_gdpr_functionality_cookies_text = "{{ functionality_cookies_text | replace: '"' , '\"' }}";

  window.isense_gdpr_popup_header = "{{ popup_header | replace: '"' , '\"' }}";
  window.isense_gdpr_dismiss_button_text = "{{ dismiss_button_text | replace: '"' , '\"' }}";

  window.isense_gdpr_accept_selected_button_text = "{{ accept_selected_button_text | replace: '"' , '\"' }}";
  window.isense_gdpr_accept_all_button_text = "{{ accept_all_button_text | replace: '"' , '\"' }}";

  window.isense_gdpr_data_collection_text = "{{ data_collection_text | replace: '"' , '\"' }}";
</script>