<div class="cookie__bar" data-role="cookie-notice">
  <div class="cookie__notice">
    <div class="cookie__text">
      WE USE COOKIES ON OUR WEBSITE TO GIVE YOU THE BEST SERVICE POSSIBLE
    </div>
    <div class="cookie__btn">
      <a href="#" class="cookie__accept" data-action="dismiss-cookie-notice">Close</a>
      <a href="#" class="cookie__read" data-action="dismiss-cookie-notice">Read more</a>
    </div>
  </div>
</div>