{% if settings.discount_checkbox != false %}
  <div data-role="discount" class="discount">
    <div data-role="loop" class="discount__loop">
      {% for i in (1..6) %}
        <div data-role="content" class="h1">
          {% if shop.locale == 'pt-PT' %}
            {{ settings.discount_text_pt }}&nbsp;
          {% else %}
            {{ settings.discount_text_en }}&nbsp;
          {% endif %}
        </div>
      {% endfor %}
    </div> 
  </div>
  <style>
    .discount .discount__loop {
      animation-duration: {{ settings.discount_duration }}s;
    }
  </style>
{% endif %}
