{% assign colType = "col_" | append: col | append: "_type" %}
{% assign colTextSpacing = "col_" | append: col | append: "_text_spacing" %}
{% assign colTextColumns = "col_" | append: col | append: "_text_columns" %}
{% assign colImageColumns = "col_" | append: col | append: "_image_columns" %}
{% assign colImageSpacing = "col_" | append: col | append: "_image_spacing" %}
{% assign colText = "col_" | append: col | append: "_text" %}
{% assign colImage = "col_" | append: col | append: "_image" %}
{% assign colAlign = "col_" | append: col | append: "_align" %}
{% if block_data.[colAlign][block_idx] == 'top' %}
  {% assign alignment = 'align-self: flex-start;' %}
{% elsif block_data.[colAlign][block_idx] == 'bottom' %}
  {% assign alignment = 'align-self: flex-end;' %}
{% else %}
  {% assign alignment = 'align-self: center;' %}
{% endif %}
{% if col == 1 %}
  {% assign animationText = ' data-aos="fade-left" ' %}
  {% assign animationImage = ' data-aos="fade-up" ' %}
{% elsif col == 2 %}
  {% assign animationText = ' data-aos="fade-up" data-aos-delay="500"' %}
  {% assign animationImage = ' data-aos="fade-up" data-aos-delay="500" ' %}
{% else %}
  {% assign animationText = ' data-aos="fade-up" data-aos-delay="600"' %}
  {% assign animationImage = ' data-aos="fade-up" data-aos-delay="600" ' %}
{% endif %}

{% if block_data[colType][block_idx] == "text" %}
  <div
    class="grid__text-col m{{ block_data.[colTextSpacing][block_idx] }} col{{ block_data[colTextColumns][block_idx] }}"
    style="{{ alignment }}"
    {{ animationText }}
  >
    {{ block_data.[colText][block_idx][shop.locale] }}
  </div>
{% elsif block_data[colType][block_idx] == "image" %}
  <div
    class="grid__img-col m{{ block_data.[colImageSpacing][block_idx] }} col{{ block_data.[colImageColumns][block_idx] }}"
    style="{{ alignment }}"
    {{ animationImage }}
  >
    {% assign image_size = 160 | times: block_data.[colImageColumns][block_idx] | prepend: 'w_' %}
    <img src="{{ block_data.[colImage][block_idx][0].cloudinary_src | append: image_size }}" alt="" />
  </div>
{% elsif block_data[colType][block_idx] == "text-image" or block_data[colType][block_idx] == "image-text" %}
  {% assign colEndText = block_data.[colImageSpacing][block_idx] | plus: block_data.[colImageColumns][block_idx] %}
  {% assign colEndImage = block_data.[colTextSpacing][block_idx] | plus: block_data.[colTextColumns][block_idx] %}
  {% assign maxEnd = colEndText | at_least: colEndImage %}
  {% assign blockSpacing = block_data.[colTextSpacing][block_idx] | at_most: block_data.[colImageSpacing][block_idx] %}
  {% assign blockColumns = maxEnd | minus: blockSpacing %}
  <div class="grid__{{ block_data[colType][block_idx] }}-col m{{ blockSpacing }} col{{ blockColumns }}" style="{{ alignment }}">
    {% assign textSpacing = block_data.[colTextSpacing][block_idx] | minus: blockSpacing %}
    <div
      class="grid__col-text" style="width: calc(100% * {{ block_data.[colTextColumns][block_idx] }} / {{ blockColumns }}); margin-left: calc(100% * {{ textSpacing }} / {{ blockColumns }});"
      {{ animationText }}
    >
      {{ block_data.[colText][block_idx][shop.locale] }}
    </div>
    {% assign image_size = 160 | times: block_data.[colImageColumns][block_idx] | prepend: 'w_' %}
    {% assign imageSpacing = block_data.[colImageSpacing][block_idx] | minus: blockSpacing %}
    <div
      class="grid__inner-img" style="width: calc(100% * {{ block_data.[colImageColumns][block_idx] }} / {{ blockColumns }}); margin-left: calc(100% * {{ imageSpacing }} / {{ blockColumns }});"
      {{ animationImage }}
    >
      <img src="{{ block_data.[colImage][block_idx][0].cloudinary_src | append: image_size }}" alt="" />
    </div>
  </div>
{% endif %}
