<div class="header__mobile">
  <div class="header__menu">
    <a href="/" data-action="menu-open">
      {% include 'icon-menu' %}
    </a>
    <a href="/" data-action="menu-close">
      {% include 'icon-close' %}
    </a>
    <div>
      <a
        href="#"
        class="link"
        data-switch-lang="pt-PT">PT</a>
      <span class="link">
        /
      </span>
      <a
        href="#"
        class="link"
        data-switch-lang="en">EN</a>
    </div>
  </div>
  <div class="header__logo header__logo--menu header__logo--not-home">
    <!-- {% if template != 'index' %}header__logo--not-home{% endif %} 
    add this in the div header__logo header__logo--menu after  the event tom dixon
    -->
    <a href="/">
      {% include 'logo-area' %}
    </a>
  </div>
  <div class="header__header-options">
    {% if request.page_type == "collection" %}
      {% include 'collection-filters' %}
    {% endif %}
    <div class="header__col">
      <a href="/account" class="link">{{ 'customer.account.title' | t }}</a>
      <br>
      <a
        href="#"
        class="link"
        data-action="open-cart">{{ 'cart.general.title' | t }} (<span data-role="cart-qtd">{{ cart.item_count }}</span>)</a>
    </div>
  </div>
</div>