<div class="header__desktop">
  <div class="header__logo">
    <a href="{% unless request.locale.primary %}/{{ request.locale.iso_code }}{% endunless %}/">
      {% include 'logo-area' %}
    </a>
  </div>

  {%if request.page_type == "collection" %} 
    {% include 'collection-filters' %}
  {% endif %}
  <div class="header__col">
    <a href="#" class="link" data-switch-lang="pt-PT">PT</a>
    <span class="link"> / </span>
    <a href="#" class="link" data-switch-lang="en">EN</a>
  </div>
  <div class="header__col header__search" data-role="header-search">
    <div class="header__search-form">
      <form class="search" action="{% unless request.locale.primary %}/{{ request.locale.iso_code }}{% endunless %}/search" autocomplete="off">
        <input
          class="header__search-input"
          type="text"
          placeholder="{{ 'general.search.submit' | t }}"
          name="q"
          autocomplete="off"
        />
        <input type="hidden" name="type" value="product"/>
        <input class="header__search-submit" type="submit" value="≥"/>
      </form>
    </div>
  </div>
  <div class="header__col">
    <a href="{% unless request.locale.primary %}/{{ request.locale.iso_code }}{% endunless %}/account" class="link arrow-link">{{ 'customer.account.title' | t }}</a>
    <br>
    <a href="#" class="link arrow-link" data-action="open-cart">{{ 'cart.general.title' | t }} (<span data-role="cart-qtd">{{ cart.item_count }}</span>)</a>
  </div>
</div>