<svg version="1.1" id="Layer_2_00000000900804856764079030000000428844918807468985_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46.3px" height="40px"
	 viewBox="0 0 46.3 40" enable-background="new 0 0 46.3 40" xml:space="preserve">
<g id="Layer_1-2">
	<polygon fill="#F5F4F2" points="0,20 20,0 21.8,1.8 4.9,18.6 46.3,18.6 46.3,21.3 4.9,21.3 21.9,38.2 20.1,40 0,20 	"/>
</g>
</svg>
