<svg version="1.1" id="Layer_2_00000091727629516438309280000010465758159619026352_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.1px" height="29.8px"
	 viewBox="0 0 32.1 29.8" enable-background="new 0 0 32.1 29.8" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#FFFFFF" d="M32.1,29.8H0V0h32.1V29.8L32.1,29.8z M0.5,29.2h31V0.5h-31V29.2L0.5,29.2z"/>
		<polygon fill="#FFFFFF" points="14.5,11.8 10.6,11.8 10.6,14.9 10.6,18 14.5,18 21.4,23.6 21.4,6.2 14.5,11.8 		"/>
	</g>
</g>
</svg>
