<svg version="1.1" id="Layer_2_00000104688638569254557880000002718171376321393336_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="86.2px" height="80px"
	 viewBox="0 0 86.2 80" enable-background="new 0 0 86.2 80" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#FFFFFF" d="M86.2,80H0V0h86.2V80L86.2,80z M1.4,78.6h83.5V1.4H1.4V78.6L1.4,78.6z"/>
		<polygon fill="#FFFFFF" points="28.8,16.8 28.8,63.2 67.6,40 28.8,16.8 		"/>
	</g>
</g>
</svg>
