<svg version="1.1" id="Layer_2_00000029759583290878329810000007212958708345154954_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.1px" height="29.8px"
	 viewBox="0 0 32.1 29.8" enable-background="new 0 0 32.1 29.8" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#FFFFFF" d="M32.1,29.8H0V0h32.1V29.8L32.1,29.8z M0.5,29.2h31V0.5h-31V29.2L0.5,29.2z"/>
		<polygon fill="#FFFFFF" points="11.5,11.8 7.7,11.8 7.7,14.9 7.7,18 11.5,18 18.5,23.6 18.5,6.2 11.5,11.8 		"/>
		<polygon fill="#FFFFFF" points="25.4,11.8 23.4,13.8 21.5,11.8 20.7,12.6 22.7,14.6 20.7,16.5 21.5,17.3 23.4,15.4 25.4,17.3 
			26.2,16.5 24.2,14.6 26.2,12.6 25.4,11.8 		"/>
	</g>
</g>
</svg>
