<svg xmlns="http://www.w3.org/2000/svg" width="17.206" height="17.206" viewBox="0 0 17.206 17.206">
  <path id="close" d="M20.354,19.854l16.5,16.5m-16.5,0,16.5-16.5" transform="translate(-20 -19.5)" fill="none" stroke="#000" stroke-width="1"/>
</svg>
