<svg version="1.1" id="Layer_2_00000183248179877566908500000001656480948149952432_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="46.3px" height="40px"
	 viewBox="0 0 46.3 40" enable-background="new 0 0 46.3 40" xml:space="preserve">
<g id="Layer_1-2">
	<polygon fill="#F5F4F2" points="46.3,20 26.3,0 24.5,1.8 41.3,18.6 0,18.6 0,21.3 41.3,21.3 24.4,38.2 26.2,40 46.3,20 	"/>
</g>
</svg>
