<svg version="1.1" id="Layer_2_00000031181017756432117440000017437364766148344964_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="86.2px" height="80px"
	 viewBox="0 0 86.2 80" enable-background="new 0 0 86.2 80" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#FFFFFF" d="M86.2,80H0V0h86.2V80L86.2,80z M1.4,78.6h83.5V1.4H1.4V78.6L1.4,78.6z"/>
		<g>
			<rect x="31.7" y="17.5" fill="#FFFFFF" width="4" height="45"/>
			<rect x="50.5" y="17.5" fill="#FFFFFF" width="4" height="45"/>
		</g>
	</g>
</g>
</svg>
