<svg version="1.1" id="Layer_2_00000150066601983061140340000011918698676277044666_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32.1px" height="29.8px"
	 viewBox="0 0 32.1 29.8" enable-background="new 0 0 32.1 29.8" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#FFFFFF" d="M32.1,29.8H0V0h32.1V29.8L32.1,29.8z M0.5,29.2h31.1V0.5H0.5V29.2L0.5,29.2z"/>
		<polygon fill="#FFFFFF" points="27.2,9.9 27.2,5.3 21.3,11.2 20.5,10.5 26.5,4.6 21.9,4.6 21.9,3.7 28.2,3.7 28.2,9.9 27.2,9.9 		
			"/>
		<polygon fill="#FFFFFF" points="4.9,19.9 4.9,24.5 10.8,18.5 11.5,19.2 5.6,25.2 10.2,25.2 10.2,26.1 3.9,26.1 3.9,19.9 4.9,19.9 
					"/>
		<polygon fill="#FFFFFF" points="21.9,25.1 26.5,25.1 20.6,19.2 21.3,18.5 27.2,24.4 27.2,19.8 28.2,19.8 28.2,26.1 21.9,26.1 
			21.9,25.1 		"/>
		<polygon fill="#FFFFFF" points="10.2,4.6 5.6,4.6 11.5,10.6 10.8,11.3 4.9,5.3 4.9,9.9 3.9,9.9 3.9,3.7 10.2,3.7 10.2,4.6 		"/>
	</g>
</g>
</svg>
