<svg xmlns="http://www.w3.org/2000/svg" width="23.333" height="18.162" viewBox="0 0 23.333 18.162">
  <path id="menu" d="M20,20.5H43.333M20,29.081H43.333M20,37.662H43.333" transform="translate(-20 -20)" stroke="#000" stroke-width="1"/>
</svg>
