{% if lead_time == 0 %} 
  {% assign lead_time_message = 'products.product.in_stock' | t %}
{% elsif lead_time <= 14 %}
  {% assign lead_time_message = 'products.product.available_in_weeks' | t: from: 2, to: 3 %}
{% elsif lead_time <= 21 %}
  {% assign lead_time_message = 'products.product.available_in_weeks' | t: from: 3, to: 4 %}
{% elsif lead_time <= 28 %}
  {% assign lead_time_message = 'products.product.available_in_weeks' | t: from: 4, to: 6 %}
{% elsif lead_time <= 42 %}
  {% assign lead_time_message = 'products.product.available_in_weeks' | t: from: 6, to: 8 %}
{% elsif lead_time <= 74 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 2, to: 3 %}
{% elsif lead_time <= 104 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 3, to: 4 %}
{% elsif lead_time <= 134 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 4, to: 5 %}
{% elsif lead_time <= 164 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 5, to: 6 %}
{% elsif lead_time <= 194 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 6, to: 7 %}
{% elsif lead_time <= 224 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 7, to: 8 %} 
{% elsif lead_time <= 254 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 8, to: 9 %}
{% elsif lead_time <= 284 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 9, to: 10 %}
{% elsif lead_time <= 314 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 10, to: 11 %}
{% elsif lead_time <= 344 %}
  {% assign lead_time_message = 'products.product.available_in_months' | t: from: 11, to: 12 %}
{% elsif lead_time > 344 %}
  {% assign lead_time_message = 'products.product.available_in_year' | t %}
{% endif %}