<svg version="1.1" id="Layer_2_00000023282963838184549170000018256248301013049220_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="557.4px" height="101px"
	 viewBox="0 0 557.4 101" enable-background="new 0 0 557.4 101" xml:space="preserve">
<g id="Layer_1-2">
	<g>
		<path fill="#F5F4F2" d="M39,79.3V68.9c0-1.3-0.8-18.6-15.6-18.6C10.5,50.3,6.2,62,6.2,72.8c0,6.3,2.8,20.1,16.5,20.1
			c0,0,0.6,0,1.5-0.3c1.1-0.3,2.8-1,4.6-2.4l8.8-7.8C38.5,81.5,38.9,80.5,39,79.3 M39,94.8v-5.4l-6.2,5.5c-2.6,2-6.8,4.3-10.2,4.2
			C2.8,99,0,78.8,0,72.8c0-14.3,6.8-28.6,23.4-28.6c14.1,0,21.7,12.4,21.8,24.8v9.6c0,0.1,0,0.2,0,0.3c0,0.2,0,0.4,0,0.6v15.3
			C45.2,98.9,39,98.9,39,94.8"/>
		<path fill="#F5F4F2" d="M87.3,73.6c0.3,10.6,5.1,19.3,17,19.3c0,0,1.8,0,4.3-0.7c2.5-0.7,5.5-2.1,7.8-4.8c2.7-3.1,7.4,0.8,4.7,4
			c-3.9,4.6-10.8,7.8-16.8,7.8c-17.3,0-23.2-13.9-23.2-26.4s4.7-28.4,23.1-28.4c13.8,0,23.9,13.5,20.4,26.1
			c-0.5,1.7-1.8,3.3-3.8,3.2H87.3L87.3,73.6z M118.8,67.4c0.2-6.9-2.5-17-14.5-17c-10.8,0-15.4,7.7-16.6,17L118.8,67.4L118.8,67.4z"
			/>
		<path fill="#F5F4F2" d="M169.9,79.3V68.9c0-1.3-0.8-18.6-15.6-18.6c-12.9,0-17.2,11.6-17.2,22.4c0,6.3,2.8,20.1,16.5,20.1
			c0,0,0.6,0,1.6-0.3c1.1-0.3,2.8-1,4.6-2.4l8.8-7.8C169.4,81.5,169.8,80.5,169.9,79.3 M169.9,94.8v-5.4l-6.2,5.5
			c-2.6,2-6.8,4.3-10.2,4.2c-19.8,0-22.6-20.2-22.6-26.3c0-14.3,6.8-28.6,23.4-28.6c14.1,0,21.7,12.4,21.8,24.8v9.6
			c0,0.1,0,0.2,0,0.3c0,0.2,0,0.4,0,0.6v15.3C176.1,98.9,169.9,98.9,169.9,94.8"/>
		<path fill="#F5F4F2" d="M59,48.3V54c2.5-1.9,6.7-5.1,8.1-6.2c1.3-1.1,4.1-2.8,6-2.6h5.2c4.1,0,4.1,6.2,0,6.2H73
			c-2.4,0.8-9.5,7-12,8.9c-0.2,0.2-1.8,1.7-2,3.4v31.1c0,4.1-6.2,4.1-6.2,0V64.2c0-0.1,0-0.2,0-0.3c0-0.1,0-0.3,0-0.4V48.3
			C52.8,44.2,59,44.2,59,48.3"/>
		<path fill="#F5F4F2" d="M193.2,13.4c5.8,0,10.5,3,15.8,9.5c0.2,0.3,0.6,0.3,0.8,0c5.4-6.5,9.7-9.5,15.9-9.5c8.5,0,14,6.2,14,14.1
			s-5.5,14.1-14,14.1c-6.2,0-10.6-2.8-15.9-9.4c-0.2-0.3-0.6-0.3-0.8,0c-5.4,6.5-9.8,9.4-15.8,9.4c-8.5,0-14.1-6.2-14.1-14.1
			S184.7,13.4,193.2,13.4 M225.5,18.6c-4.8,0-8.1,3.6-12.3,8.7c-0.1,0.2-0.1,0.5,0,0.7c4.2,5.1,7.5,8.7,12.3,8.7
			c5.2,0,8.9-3.6,8.9-9S230.7,18.6,225.5,18.6 M193.4,18.5c-5.2,0-9.1,3.7-9.1,9.1s3.8,9,9.1,9c4.8,0,8.1-3.6,12.2-8.7
			c0.1-0.2,0.1-0.5,0-0.7C201.5,22.2,198.2,18.5,193.4,18.5"/>
		<path fill="#F5F4F2" d="M359.4,57.7h6.3c7.2,0,12.5,5.9,12.5,13.7c0,8.7-4.9,15-12.9,15h-5.9V57.7L359.4,57.7L359.4,57.7z
			 M345.7,98.1h21.7c14.4,0,24.4-11.3,24.4-26.4s-10.6-25.2-24.5-25.2h-21.6L345.7,98.1L345.7,98.1L345.7,98.1z"/>
		<polygon fill="#F5F4F2" points="407.5,56.7 395,56.7 395,98.1 407.5,98.1 407.5,56.7 		"/>
		<polygon fill="#F5F4F2" points="435,85.6 444.3,98.2 459.8,98.2 443.3,76.9 459.1,56.6 443,56.6 435.1,67.7 427.1,56.6 411,56.6 
			426.8,76.9 410.3,98.2 425.8,98.2 435,85.6 		"/>
		<path fill="#F5F4F2" d="M393.2,46c0,4.2,3.3,7.5,7.4,7.5c4.3,0,7.8-3.4,7.8-7.7s-3.4-7.5-7.6-7.5S393.2,41.8,393.2,46"/>
		<path fill="#F5F4F2" d="M475.9,67.2c5.9,0,9.9,4.2,9.9,9.5c0,6.5-3.8,10.4-10,10.4c-5.7,0-10-4.3-10-9.8S469.8,67.2,475.9,67.2
			 M453.3,77.1c0,11.5,9.7,21.9,22.4,21.9c13.5,0,22.6-9.5,22.6-22.1s-9.8-21.5-22.3-21.5S453.3,64.8,453.3,77.1"/>
		<path fill="#F5F4F2" d="M514.1,98.1V74.4c0-4,1.8-7.3,5.8-7.3c5.5,0,6.5,3.2,6.5,6.7V98h12.9V69.6c0-7.8-6.7-13.7-14.9-13.7
			s-10.4,6.2-10.4,6.2v-5.4h-12.5v41.4H514.1L514.1,98.1z"/>
		<path fill="#F5F4F2" d="M542.2,91.5c0,4.2,3.3,7.6,7.4,7.6c4.3,0,7.8-3.4,7.8-7.7s-3.4-7.5-7.6-7.5S542.2,87.3,542.2,91.5"/>
		<polygon fill="#F5F4F2" points="411.5,52.6 425.5,52.6 425.5,12.3 436.1,12.3 436.1,0 400.9,0 400.9,12.3 411.5,12.3 411.5,52.6 
					"/>
		<path fill="#F5F4F2" d="M451,22.2c5.9,0,9.9,4.2,9.9,9.5c0,6.5-3.8,10.4-10,10.4c-5.7,0-10-4.3-10-9.8S444.9,22.2,451,22.2
			 M428.4,32.1c0,11.5,9.7,21.9,22.4,21.9c13.5,0,22.6-9.5,22.6-22.1s-9.8-21.5-22.3-21.5S428.4,19.7,428.4,32.1"/>
		<path fill="#F5F4F2" d="M525.9,10.6c-7.5,0-10.2,3.2-13.5,6.6c-2-3.8-6.2-6.6-11.7-6.6c-7,0-12.1,6.2-12.1,6.2v-5.4h-12.3v41.4
			h12.6V30.2c0-5.1,3.2-8,7.2-8s5.4,1.9,5.4,6.4v24.2h12.7V30.2c0-5,2.7-8.1,6.7-8.1s5.7,1.9,5.7,6.5v24.2h12.6V24.5
			C539.2,16.7,534.1,10.6,525.9,10.6"/>
		<polygon fill="#F5F4F2" points="260.7,101 256.9,97.1 301.2,52.8 305.1,56.6 260.7,101 		"/>
		<polygon fill="#F5F4F2" points="301.2,101 256.9,56.6 260.7,52.8 305.1,97.1 301.2,101 		"/>
	</g>
</g>
</svg>
