{% if template contains 'page' and template != 'page' and template != 'page.newsletter' and template != 'page.contacts' and template != 'page.tom-dixon-video' %}
  {%- assign hide = 'navigation--gallery' -%}
{% endif %}

<nav data-role="navigation" class="navigation {{hide}}">
  <ul data-level="1">
    {% for link in linklists.main-menu.links %}
      {% if link.links != blank %}
        <li class="" data-role="submenu-trigger">
          <a
            href="{{ link.url }}"
            class="link"
            data-role="link">
            {{ link.title }}
          </a>
          <div
            class="navigation__submenu {% if link.child_active %}_open{% endif %}"
            data-role="submenu"
            data-menulevel="1">
            <ul data-level="2">
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <li class="" data-role="submenu-trigger">
                    <a
                      href="{{ childlink.url }}"
                      class="link"
                      data-role="link">
                      {{ childlink.title }}
                    </a>
                    <div
                      class="navigation__submenu {% if childlink.child_active %}_open{% endif %}"
                      data-role="submenu"
                      data-menulevel="2">
                      <ul data-level="3">
                        {% for leaflink in childlink.links %}
                          {% if leaflink.title == '#' %}
                            <li class="navigation__space"></li>
                          {% else %}
                            <li data-action="filters">
                              <a
                                href="{{ leaflink.url }}"
                                class="link {% if leaflink.active %}current-item{% endif %}"
                                data-role="link"
                                {% if leaflink.url contains 'http' %}
                                target="_blank"
                                {% endif %}>
                                {{ leaflink.title }}
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                        <li class="navigation__space"></li>
                      </ul>
                    </div>
                  </li>
                {% else %}
                  {% if childlink.title == '#' %}
                    <li class="navigation__space"></li>
                  {% else %}
                    <li>
                      <a
                        href="{{ childlink.url }}"
                        class="link {% if childlink.active %}current-item{% endif %}"
                        data-role="link"
                        {% if childlink.url contains 'http' %}
                        target="_blank"
                        {% endif %}>
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <li class="navigation__space"></li>
            </ul>
          </div>
        </li>
      {% else %}
        {% if link.title == '#' %}
          <li class="navigation__space"></li>
        {% else %}
          <li class="normal-link">
            <a
              href="{{ link.url }}"
              class="link {% if link.active %}current-item{% endif %}"
              data-role="link"
              {% if link.url contains 'http' %}
              target="_blank"
              {% endif %}>
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="navigation__bottom">
    <div class="navigation__search">
      {% include 'search-form' %}
    </div>
    {%- comment -%}
    <div class="navigation__newsletter">
    {% include 'newsletter' %}
    </div>
    {%- endcomment -%}</div>
</nav>