<div class="newsletter">
  {% form 'customer' %}
    <label>SUBSCRIBE NEWSLETTER</label>
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="{%- comment -%}{{ 'general.newsletter_form.email_placeholder' | t }}{%- endcomment -%} EMAIL"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="false">
      <button type="submit" name="commit" id="Subscribe">
        ≥{%- comment -%}<span>{{ 'general.newsletter_form.submit' | t }}</span>{%- endcomment -%}
      </button>
    {% endif %}
  {% endform %}
</div>