<div class="product-block arrow-link-zone" data-aos="fade-in">
  <a class="product-block__link" href="{{ product.url | within: collection }}">
    <div class="product-block__image-holder">
      <div class="product-block__image-wrap">
        {% if product.featured_image != blank %}
          {% include 'responsive-image-pro' with
            image: product.featured_image,
            max_width: 350,
            max_height: 350,
            allow_oversize: false,
            wrapper_class: 'product-block__image'
          %}
        {% endif %}
      </div>
    </div>
  
    <div class="product-block__title-price">
      <div>
        <p class="product-block__name arrow-link">
          {% if product.metafields.eae.info['brand_descr'] != blank %}
            {{ product.metafields.eae.info['brand_descr'] }} •
          {% endif %}
          {{ product.metafields.eae.info['range'] }}
        </p>
        <p>
          {{ product.metafields.eae.translations['descr'] }}
        </p>
      </div>
      <p class="product-block__price">
        {% assign ref_variant = product %}
        {% unless product.has_only_default_variant %}
          {{ 'products.product.from_text_html' | t }}
          
          {% for tag in product.tags %}
            {% if tag contains 'refprice_' %}
              {% assign ref_matnr = tag | remove: 'refprice_' %}
              {% if ref_matnr != blank %}
                {% for variant in product.variants %}
                  {% if variant.title contains ref_matnr %}
                    {% assign ref_variant = variant %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endunless %}

        {% if ref_variant.compare_at_price > ref_variant.price %}
          <s>
            {{ ref_variant.compare_at_price | money }}
          </s>
        {% endif %}
        {{ ref_variant.price | money }}
      </p>
    </div>
  </a>
</div>