<div class="quick-cart" data-role="quick-cart">
  <div class="quick-cart__inner"> 
    <form action="/cart" method="post" novalidate>
      <div class="quick-cart__box">
        <div class="quick-cart__title">
          <div class="quick-cart__col1">
            {{ 'cart.general.my_bag' | t }}
          </div>
          <div class="quick-cart__col2" data-role="cart-quantity">
            {{ 'cart.general.product_count' | t: count: cart.item_count }}
          </div>
        </div>
        <div class="quick-cart__cart-items" data-role="cart-items">
          {% include 'cart-items' %}
        </div>
        {% include 'cart-totals' %}
      </div>
    </form>
  </div>
</div>
