<form autocomplete="off" action="/search" method="get" class="search-header field-and-submit" role="search">
  <input autocomplete="off" type="text" name="q" placeholder="{{ 'general.search.submit' | t }}" name="search" class="alt-input">
  <input autocomplete="off" type="hidden" name="type" value="product"/>
  <button type="submit">≥</button>
</form>