<div class="slide-video">
  {% if slide.video != blank %}
    <video
      autoplay
      loop
      playsinline
      muted>
      {% for video in slide.video.sources %}
        <source
          media="(min-width: {{ video.width }}px)"
          src="{{ video.url }}"
          type="{{ video.mime_type }}">
      {% endfor %}
    </video>
  {% endif %}
</div>