<div class="slide-split">
  <div class="slide-split__img">
  {% if slide.image != blank %}
    {% include 'responsive-image' with
    image: slide.image,
    max_width: 1920,
    max_height: 1080,
    allow_oversize: true
    %}
  {% endif %}
  </div>
  <div class="slide-split__text" style="background-color: {{ slide.background_color }}; color: {{ slide.foreground_color }}">
  <div class="slide-split__wrapper">
    {% if slide.title != blank %}
    <div class="slide-split__title">
      <h1>{{ slide.title }}</h1>
    </div>
    {% endif %}
    
    {% if slide.content != blank %}
    <div class="slide-split__content">
      {{ slide.content }}
    </div>
    {% endif %}
    
    {% if slide.cta_label != blank and slide.cta_url != blank %}
    <div class="slide-split__cta">
      <a style="color: {{ slide.foreground_color }}; border: 1px solid {{ slide.foreground_color }}" href="{{ slide.cta_url }}">{{ slide.cta_label }}</a>
    </div>
    {% endif %}
  </div>
  </div>
</div>