<div class="slide-full">
  {% if slide.image != blank %}
    {% include 'responsive-image' with
      image: slide.image,
      max_width: 1920,
      max_height: 1080,
      allow_oversize: true
    %}
  {% endif %}
</div>