{% assign lead_time = variant.metafields.eae.info.lead_time %}
{% assign avail = variant.metafields.eae.info.avail %}

{% include 'lead-time' %}

<div class="product__content product__stock-info">
  {% if variant.available != blank %}
    <p>{{ lead_time_message }}</p> 
    <p>
      <a class="link arrow-link" href="{% unless request.locale.primary %}/{{ request.locale.iso_code }}{% endunless %}/pages/servico-de-entregas">{{ 'products.product.shipping_and_return' | t }}</a>
    </p>
  {% elsif avail == '3' %}
    <p>{{ 'products.product.temporarily_unavailable' | t }}</p>
      <p data-role="notif-message">{{ 'products.product.email_when_available' | t }}</p>
      <form 
        action="{{ settings.support_url }}/back-in-stock-subscribe"
        class="product__stock-info-form field-and-submit"
        data-role="back-in-stock-form"
        data-variant="{{ variant.id }}"
        autocomplete="off">
        <input type="email"
          name="stock_email"
          value=""
          required
          placeholder="EMAIL"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="off" 
          class="alt-input">
        <button type="submit" name="commit" id="stock_subscribe">
          ≥
        </button>
        <p class="field-and-submit__success-msg">{{ 'products.product.back_in_stock_success' | t }}</p>
        <p class="field-and-submit__error-msg">{{ 'products.product.back_in_stock_error' | t }}</p>
      </form>
  {% else %} 
    <p>{{ 'products.product.unavailable_online' | t }}</p>
    <p>
      {{ 'products.product.unavailable_contact' | t }}
      <a href="mailto:sav@areastore.com">sav@areastore.com</a>
    </p>
  {% endif %}
</div>