<svg xmlns="http://www.w3.org/2000/svg" width="43.817" height="19.718" viewBox="0 0 43.817 19.718">
  <path id="Path_21" data-name="Path 21" d="M169.542,30c4.207,0,7.554,2.075,11.432,6.638a.367.367,0,0,0,.578,0c3.878-4.565,7.027-6.638,11.5-6.638,6.135,0,10.089,4.294,10.089,9.859s-3.951,9.795-10.089,9.795c-4.475,0-7.624-1.951-11.5-6.51a.367.367,0,0,0-.578,0c-3.877,4.562-7.092,6.574-11.432,6.574-6.14,0-10.221-4.3-10.221-9.859S163.4,30,169.542,30m23.309,3.624c-3.45,0-5.877,2.525-8.9,6.071a.4.4,0,0,0,0,.457c3.019,3.545,5.447,6.07,8.9,6.07a6.085,6.085,0,0,0,6.465-6.3,6.085,6.085,0,0,0-6.465-6.3m-23.176-.064a6.189,6.189,0,0,0-6.532,6.363c0,3.78,2.755,6.3,6.532,6.3,3.452,0,5.814-2.529,8.83-6.07a.4.4,0,0,0,0-.457c-3.012-3.537-5.376-6.135-8.83-6.135" transform="translate(-159.321 -30)"/>
</svg>