{% capture email_title %}
  {% if item_count == 1 %}
    Deixou um item no seu carrinho
  {% else %}
    Deixou alguns itens no seu carrinho
  {% endif %}
{% endcapture %}
{% capture email_body %}
  {% if billing_address.first_name %}
    {% if item_count == 1 %}
      Olá, {{ billing_address.first_name }}. Adicionou um item ao seu carrinho de compras e não finalizou a compra. Pode concluí-la agora, enquanto o item ainda está disponível.
    {% else %}
      Olá, {{ billing_address.first_name }}. Adicionou alguns itens ao seu carrinho de compras e não finalizou a compra. Pode concluí-la agora, enquanto os itens ainda estão disponíveis.
    {% endif %}
  {% else %}
    {% if item_count == 1 %}
      Olá, adicionou um item ao seu carrinho de compras e não finalizou a compra. Pode concluí-la agora, enquanto o item ainda está disponível.
    {% else %}
      Olá, adicionou alguns itens ao seu carrinho de compras e não finalizou a compra. Pode concluí-la agora, enquanto os itens ainda estão disponíveis.
    {% endif %}
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
      }
      a,p {color: #000000}
    </style>
    <!--[if mso]>
      <style>
        .product-info {
          padding-left: 15px;
        }
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;">{{ email_title }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding: 25px 0; text-transform: uppercase;">
                      {% if custom_message != blank %}
                        <p style="line-height: 16px;">{{ custom_message }}</p>
                      {% else %}
                        <p style="line-height: 16px;">{{ email_body }}</p>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td height="50" width="50%" align="center" bgcolor="#ececec" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ url }}">Itens no seu carrinho</a>
                    </td>
                    <td height="50" width="50%" align="center" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ shop.url }}">Visite a nossa loja</a>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 25px 0;">
                      <h3 style="margin: 0; color: #000;">Complete a sua compra</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>          
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        {% for line in subtotal_line_items %}
                          <tr><td style="border-bottom: 1px solid #000;"></td></tr>
                          <tr>
                            <td style="padding: 20px 0;">
                              <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                                <td width="100">
                                  {% if line.image %}
                                    <img style="object-fit: contain;" src="{{ line | img_url: 'compact_cropped' }}" align="left" width="100" height="60"/>
                                  {% endif %}
                                </td>
                                <td width="340" class="product-info">
                                  {% if line.product.title %}	
                                    {% assign line_title = line.product.title %}	
                                  {% else %}	
                                    {% assign line_title = line.title %}	
                                  {% endif %}
                        
                                  {% if line.quantity < line.quantity %}
                                    {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
                                  {% else %}
                                    {% assign line_display = line.quantity  %}
                                  {% endif %}
                        
                                  <span style="line-height: 16px; color: #000;">{{ line_title }} × {{ line_display }}</span><br/>
                        
                                  {% if line.variant.title != 'Default Title' %}
                                    <span style="line-height: 16px;">{{ line.variant.title }}</span><br/>
                                  {% endif %}
                        
                                  {% if line.selling_plan_allocation %}
                                    <span style="line-height: 16px;">{{ line.selling_plan_allocation.selling_plan.name }}</span><br/>
                                  {% endif %}
                        
                                  {% if line.refunded_quantity > 0 %}
                                    <span style="line-height: 16px;">Reembolsado</span>
                                  {% endif %}
                        
                                  {% if line.discount_allocations %}
                                    {% for discount_allocation in line.discount_allocations %}
                                      {% if discount_allocation.discount_application.target_selection != 'all' %}
                                        <span>
                                          <span style="line-height: 16px; color: #000;">
                                            {{ discount_allocation.discount_application.title | upcase }}
                                            (-{{ discount_allocation.amount | money }})
                                          </span>
                                        </span>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                </td>
                                <td width="100">
                                  <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                      <td style="text-align: left; line-height: 16px;">
                                        {% if line.original_line_price != line.final_line_price %}
                                          <del style="font-size: 11px; line-height: 16px; color: #000 !important;">{{ line.original_line_price | money }}</del>
                                        {% endif %}
                                      </td>
                                      <td style="text-align: right; line-height: 16px;">
                                        <p style="line-height: 16px;">
                                          {% if line.final_line_price > 0 %}
                                          {{ line.final_line_price | money }}
                                          {% else %}
                                            Grátis
                                          {% endif %}
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </table>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr><td style="border-bottom: 1px solid #000;"></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Não deseja receber os nossos lembretes sobre o carrinho? <a style="font-size: 9px;" href="{{ unsubscribe_url }}">Anular a subscrição</a></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
