{% capture email_title %}
    O seu cartão de oferta
{% endcapture %}
{% capture email_body %}
  {% if gift_card.expires_on %}
    O seu cartão de oferta {{ gift_card.balance | money_without_trailing_zeros }} para {{ shop.name }} está ativo. Guarde este e-mail ou anote o número do seu cartão de oferta. Este cartão de oferta expira a {{ gift_card.expires_on }}.
  {% else %}
    O seu cartão de oferta {{ gift_card.balance | money_without_trailing_zeros }} para {{ shop.name }} está ativo. Guarde este e-mail ou anote o número do seu cartão de oferta.
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
      }
      a,p {color: #000000}
    </style>
    <!--[if mso]>
      <style>
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; font-size: 11px; color: #000000; padding: 17px 0;">{{ email_title }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 25px 30px; text-transform: uppercase;">
                      <img src="{{ 'icon_area.jpg' | asset_url }}" alt="Imagem do cartão de oferta" width="36" height="27">
                    </td>
                    <td style="padding: 25px 0; text-transform: uppercase;">
                      <p style="font-size: 11px; line-height: 16px;">{{ email_body }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td height="50" align="center" colspan="2" bgcolor="#ececec" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; font-size: 11px; color: #000000; padding: 17px 0;" href="{{ gift_card.url }}">Ver cartão de oferta</a>
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0 16px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Se tiver alguma dúvida, responda a esta mensagem ou entre em contacto connosco através do e‑mail <a style="font-size: 9px;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0 0 30px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      A area respeita a sua privacidade. Mais informações sobre a nossa política de privacidade em <a style="font-size: 9px;" href="{{shop.url}}">areastore.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
