{% capture email_title %}Confirmação de encomenda{% endcapture %}
{% capture email_body %}
  Obrigado pela sua encomenda.<br>
  {% if requires_shipping %}
    {% case delivery_method %}
      {% when 'pick-up' %}
        Depois de confirmado o pagamento, irá receber um novo email com a factura.
Quando a encomenda estiver a ser preparada para expedição, enviaremos um novo email de notificação. 
      {% when 'local' %}
        Olá, {{ customer.first_name }}! Estamos a preparar a sua encomenda para a entrega.
      {% else %}
       Depois de confirmado o pagamento, irá receber um novo email com a factura.
Quando a sua encomenda estiver a ser preparada para expedição, enviaremos um novo email de notificação.<br>
    {% endcase %}
    {% if delivery_instructions != blank  %}
      <p><b>Informações de entrega:</b> {{ delivery_instructions }}</p>
    {% endif %}
  {% endif %}
  Consulte as nossas condições de venda em <a href="#">areastore.com</a>.
{% endcapture %}

<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
      }
      a,p {color: #000000}
    </style>
    <!--[if mso]>
      <style>
        .product-info {
          padding-left: 15px;
        }
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;">{{ email_title  }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding: 25px 0; text-transform: uppercase;">
                      <p style="line-height: 16px;">{{ email_body }}</p>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 0 0 25px;">
                      <h3 style="margin: 0; color: #000;">Encomenda nº {{name}}</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>          
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        {% for line in subtotal_line_items %}
                          <tr><td style="border-bottom: 1px solid #000; "></td></tr>
                          <tr>
                            <td style="padding: 20px 0;">
                              <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                                <td width="100">
                                  {% if line.image %}
                                    <img style="object-fit: contain;" src="{{ line | img_url: 'compact_cropped' }}" align="left" width="100" height="60"/>
                                  {% endif %}
                                </td>
                                <td width="340" class="product-info">
                                  {% if line.product.title %}	
                                    {% assign line_title = line.product.title %}	
                                  {% else %}	
                                    {% assign line_title = line.title %}	
                                  {% endif %}
                        
                                  {% if line.quantity < line.quantity %}
                                    {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
                                  {% else %}
                                    {% assign line_display = line.quantity  %}
                                  {% endif %}
                        
                                  <span style="line-height: 16px; color: #000">{{ line_title }} × {{ line_display }}</span>
                                  {% if line.product.tags contains 'nonrefundable' %}
                                    {% assign nonrefundable = true %}
                                    <span style="line-height: 16px; color: #000">*</span>
                                  {% endif %}
                                  <br/>
                        
                                  {% if line.variant.title != 'Default Title' %}
                                    <span style="line-height: 16px;">{{ line.variant.title }}</span><br/>
                                  {% endif %}
                        
                                  {% if line.refunded_quantity > 0 %}
                                    <span style="line-height: 16px;">Reembolsado</span>
                                  {% endif %}
                        
                                  {% if line.discount_allocations %}
                                    {% for discount_allocation in line.discount_allocations %}
                                      {% if discount_allocation.discount_application.target_selection != 'all' %}
                                        <span>
                                          <span style="line-height: 16px; color: #000000;">
                                            {{ discount_allocation.discount_application.title | upcase }}
                                            (-{{ discount_allocation.amount | money }})
                                          </span>
                                        </span><br/>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
 
                                  <span style="line-height: 16px; color: #888888;">
                                    {% assign lead_time = line.variant.metafields.eae.info.lead_time %}
                                    {% if lead_time == 0 %} 
                                      EM STOCK
                                    {% elsif lead_time <= 14 %}
                                      Disponível em 2 a 3 semanas
                                    {% elsif lead_time <= 21 %}
                                      Disponível em 3 a 4 semanas
                                    {% elsif lead_time <= 28 %}
                                      Disponível em 4 a 6 semanas
                                    {% elsif lead_time <= 42 %}
                                      Disponível em 6 a 8 semanas
                                    {% elsif lead_time <= 74 %}
                                      Disponível em 2 a 3 meses
                                    {% elsif lead_time <= 104 %}
                                      Disponível em 3 a 4 meses
                                    {% elsif lead_time <= 134 %}
                                      Disponível em 4 a 5 meses
                                    {% elsif lead_time <= 164 %}
                                      Disponível em 5 a 6 meses
                                    {% elsif lead_time <= 194 %}
                                      Disponível em 6 a 7 meses
                                    {% elsif lead_time <= 224 %}
                                      Disponível em 7 a 8 meses
                                    {% elsif lead_time <= 254 %}
                                      Disponível em 8 a 9 meses
                                    {% elsif lead_time <= 284 %}
                                      Disponível em 9 a 10 meses
                                    {% elsif lead_time <= 314 %}
                                      Disponível em 10 a 11 meses
                                    {% elsif lead_time <= 344 %}
                                      Disponível em 11 a 12 meses
                                    {% elsif lead_time > 344 %}
                                      Disponível em mais de um ano
                                    {% endif %}
                                  </span>
                                </td>
                                <td width="100">
                                  <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                      <td style="text-align: left; line-height: 16px;">
                                        {% if line.original_line_price != line.final_line_price %}
                                          <del style="font-size: 11px; line-height: 16px; color: #000 !important;">{{ line.original_line_price | money }}</del>
                                        {% endif %}
                                      </td>
                                      <td style="text-align: right; line-height: 16px;">
                                        <p style="line-height: 16px;">
                                          {% if line.final_line_price > 0 %}
                                          {{ line.final_line_price | money }}
                                          {% else %}
                                            Grátis
                                          {% endif %}
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </table>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr><td style="border-bottom: 1px solid #000;"></td></tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 25px 0 0;">
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        <tr>
                          <td width="440">
                            <p style="line-height: 16px;">
                              <span>Subtotal</span>
                            </p>
                          </td>
                          <td width="100" align="right">
                            <p style="line-height: 16px;">{{ subtotal_price | money }}</p>
                          </td>
                        </tr>
                        
                        {% if delivery_method == 'pick-up' %}       
                          <tr>
                            <td width="440">
                              <p style="line-height: 16px;">
                                <span>Recolha</span>
                              </p>
                            </td>
                            <td width="100" align="right">
                              <p style="line-height: 16px;">{{ shipping_price | money }}</p>
                            </td>
                          </tr>
                        {% else %}    
                          <tr>
                            <td width="440">
                              <p style="line-height: 16px;">
                                <span>Envio</span>
                              </p>
                            </td>
                            <td width="100" align="right">
                              <p style="line-height: 16px;">{{ shipping_price | money }}</p>
                            </td>
                          </tr>
                        {% endif %}
                        
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 0 0 30px;">
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        <tr>
                          <td width="440" valign="top">
                            <p style="line-height: 16px;">
                              <span>Total</span>
                            </p>
                          </td>
                          <td width="100" align="right">
                            <span style="color: #000; line-height: 16px;">{{ total_price | money }}</span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  {% if nonrefundable == true %}
                  <tr>
                    <td style="padding: 0 0 25px;">
                      * NOS TERMOS DA CLÁUSULA 8.8 DAS CONDIÇÕES GERAIS DE VENDA À DISTÂNCIA, TENDO EM CONTA A SUA NATUREZA E ESPECIFICAÇÕES, ESTE ARTIGO NÃO ESTÁ SUJEITO AO DIREITO DE LIVRE RESOLUÇÃO, NÃO PODENDO SER DEVOLVIDO NEM TROCADO.
                    </td>
                  </tr>
                  {% endif %}
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="1" style="max-width: 540px; margin: 0 auto; border: 1px solid #000;">
                  <tr>
                    {% if requires_shipping and shipping_address %}
                      <td style="width:50%;padding: 25px;">
                        <h4 style="margin: 0; padding-bottom: 20px; color: #000;">Morada de envio</h4>
                        {{ shipping_address | format_address }}
                      </td>
                    {% endif %}
                    {% if billing_address %}
                      <td style="padding: 25px;">
                        <h4 style="margin: 0; padding-bottom: 20px; color: #000;">Morada de facturação</h4>
                        {{ billing_address | format_address }}
                      </td>
                    {% endif %}
                  </tr>
                  <tr>
                    {% if requires_shipping and shipping_address %}
                    <td style="padding: 25px;">
                      <h4 style="color: #000; margin: 0; padding-bottom: 20px;">Modo de envio</h4>
                      <p>{{ shipping_method.title }}</p>
                    </td>
                    {% endif %}
                    {% assign transaction_count = transactions | size %}
                    {% if transaction_count > 0 %}
                    <td style="padding: 25px;">
                      <h4 style="color: #000; margin: 0; line-height: 16px;">Meio de pagamento</h4>
                      {% for transaction in transactions %}
                        {% if transaction.status == "success" or transaction.status == "pending" %}
                          {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                            {% if transaction.payment_details.credit_card_company %}
                              <p>
                                <span>a terminar em {{ transaction.payment_details.credit_card_last_four_digits }} <br> {{ transaction.amount | money }}</span>
                              </p>
                            {% elsif transaction.gateway_display_name == "Gift card" %}
                              <p>
                                a terminar em {{ transaction.payment_details.gift_card.last_four_characters | upcase }} <br> {{ transaction.amount | money }}
                                Saldo do cartão de oferta: {{ transaction.payment_details.gift_card.balance |  money }}
                              </p>
                            {% else %}
                              <p>
                              {{ transaction.gateway_display_name }} — {{ transaction.amount | money }}
                              </p>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </td>
                    {% endif %}
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 30px auto 0;">
                  <tr>
                    <td height="50" width="100%" align="center" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ shop.url }}">Visite a nossa loja</a>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0 16px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Se tiver alguma dúvida, responda a esta mensagem ou entre em contacto connosco através do e‑mail <a style="font-size: 9px;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0 0 30px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      A area respeita a sua privacidade. Mais informações sobre a nossa política de privacidade em <a style="font-size: 9px;" href="{{shop.url}}">areastore.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
