<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
      }
      a,p {color: #000000}
      ol {
        padding-left: 0;
      }
    </style>
    <!--[if mso]>
      <style>
        .product-info {
          padding-left: 15px;
        }
        ol {
          margin-left: 24px;
        }
        li {
          border-bottom: none !important;
        }
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;">Conclua a sua devolução</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding: 25px 0; text-transform: uppercase;">
                      <p style="line-height: 16px;">Enviámos-lhe uma etiqueta de envio de devolução, ou receberá uma em breve.
                        Quando receber a sua etiqueta de envio de devolução, reúna os itens a devolver e siga as instruções para concluir a devolução.</p>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 0 0 25px;">
                      <h3 style="margin: 0; color: #000;">Itens devolvidos</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>          
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        {% for line_item in return.line_items %}
                          <tr><td style="border-bottom: 1px solid #000; "></td></tr>
                          <tr>
                            <td style="padding: 20px 0;">
                              <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                                <td width="100">
                                  {% if line_item.image %}
                                    <img style="object-fit: contain;" src="{{ line_item | img_url: 'compact_cropped' }}" align="left" width="100" height="60"/>
                                  {% endif %}
                                </td>
                                <td width="340" class="product-info">
                                  {% assign line_title = line_item.title %}	
                                  {% assign line_display = line_item.quantity  %}
                        
                                  <span style="line-height: 16px; color: #000;">{{ line_title }} × {{ line_display }}</span><br/>
                        
                                  {% if line_item.variant.title != 'Default Title' %}
                                    <span style="line-height: 16px;">{{ line_item.variant.title }}</span><br/>
                                  {% endif %}

                                  {% if line_item.discount_allocations %}
                                    {% for discount_allocation in line_item.discount_allocations %}
                                      <span>
                                        <span style="line-height: 16px; color: #000;">
                                          {{ discount_allocation.discount_application.title | upcase }}
                                          (-{{ discount_allocation.amount | money }})
                                        </span>
                                      </span>
                                    {% endfor %}
                                  {% endif %}
                                </td>
                                <td width="100">
                                  <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                      <td style="text-align: left; line-height: 16px;">
                                        {% if line_item.original_line_price != line.final_line_price %}
                                          <del style="font-size: 11px; line-height: 16px; color: #000 !important;">{{ line.original_line_price | money }}</del>
                                        {% endif %}
                                      </td>
                                      <td style="text-align: right; line-height: 16px;">
                                        <p style="line-height: 16px;">
                                          {% if line_item.final_line_price > 0 %}
                                            {{ line_item.final_line_price | money }}
                                          {% else %}
                                            Grátis
                                          {% endif %}
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </table>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr><td style="border-bottom: 1px solid #000; "></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 25px 0">
                      <h3 style="margin: 0; color: #000;">instruções</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        <tr>
                          <td>
                            {% for return_delivery in return.deliveries %}
                              <!--[if mso]>
                                <ol>
                                  <li style="border-bottom: 1px solid; padding-bottom: 15px; margin-left: 0;"><p style="padding-bottom: 15px;">Embale os itens que está a devolver.</p></li>
                    
                                  {% if return_delivery.type == 'shopify_label' %}
                                    <li style="border-bottom: 1px solid;"><p style="padding: 15px 0;">Imprima a sua etiqueta de envio de devolução e fixe-a na embalagem. Cubra ou retire todas as etiquetas de envio antigas.</li></p>
                                    <li style="border-bottom: 1px solid;"><p style="padding: 15px 0;">
                                      {% if return_delivery.carrier_name %}
                                        Entregue a embalagem a {{ return_delivery.carrier_name }}.
                                      {% else %}
                                        Entregue o pacote à transportadora identificada na etiqueta.
                                      {% endif %}
                                    </p>
                                    </li>
                                  {% elsif return_delivery.type == 'manual' %}
                                    <li style="border-bottom: 1px solid;"><p style="padding: 15px 0;">Imprima a sua etiqueta de envio de devolução. Se ainda não a tiver recebido, iremos enviá-la em breve.</li></p>
                                    <li style="border-bottom: 1px solid;"><p style="padding: 15px 0;;">Fixe a etiqueta à embalagem. Cubra ou retire todas as etiquetas de envio antigas.</li></p>
                                    <li style="border-bottom: 1px solid;"><p style="padding: 15px 0;">
                                      {% if return_delivery.carrier_name %}
                                        Entregue a embalagem a {{ return_delivery.carrier_name }}.
                                      {% else %}
                                        Entregue o pacote à transportadora identificada na etiqueta.
                                      {% endif %}
                                    </p>
                                    </li>
                                    <li><p style="padding: 15px 0;">
                                      Rastreie a sua devolução utilizando <a style="color: #000; text-decoration: none;" target="_blank" href="{{ return_delivery.tracking_url) }}">o seu número de rastreio</a> para garantir que a recebemos.
                                    </p>
                                    </li>
                                  {% endif %}
                                </ol>
                              <![endif]-->
                              <!--[if !mso]> <!---->
                                <ol style="list-style-position: inside; margin: 0;">
                                  <li style="border-bottom: 1px solid; padding-bottom: 15px; margin-left: 0;"><p style="display: inline;">Embale os itens que está a devolver.</p></li>
                    
                                  {% if return_delivery.type == 'shopify_label' %}
                                    <li style="border-bottom: 1px solid; padding: 15px 0; margin-left: 0;"><p style="display: inline;">Imprima a sua etiqueta de envio de devolução e fixe-a na embalagem. Cubra ou retire todas as etiquetas de envio antigas.</li></p>
                                    <li style="border-bottom: 1px solid; padding: 15px 0; margin-left: 0;"><p style="display: inline;">
                                      {% if return_delivery.carrier_name %}
                                        Entregue a embalagem a {{ return_delivery.carrier_name }}.
                                      {% else %}
                                        Entregue o pacote à transportadora identificada na etiqueta.
                                      {% endif %}
                                    </p>
                                    </li>
                                  {% elsif return_delivery.type == 'manual' %}
                                    <li style="border-bottom: 1px solid; padding: 15px 0; margin-left: 0;"><p style="display: inline;">Imprima a sua etiqueta de envio de devolução. Se ainda não a tiver recebido, iremos enviá-la em breve.</li></p>
                                    <li style="border-bottom: 1px solid; padding: 15px 0; margin-left: 0;"><p style="display: inline;">Fixe a etiqueta à embalagem. Cubra ou retire todas as etiquetas de envio antigas.</li></p>
                                    <li style="border-bottom: 1px solid; padding: 15px 0; margin-left: 0;"><p style="display: inline;">
                                      {% if return_delivery.carrier_name %}
                                        Entregue a embalagem a {{ return_delivery.carrier_name }}.
                                      {% else %}
                                        Entregue o pacote à transportadora identificada na etiqueta.
                                      {% endif %}
                                    </p>
                                    </li>
                                    <li style="padding: 15px 0; margin-left: 0;"><p style="display: inline;">
                                      Rastreie a sua devolução utilizando <a target="_blank" href="{{ return_delivery.tracking_url) }}">o seu número de rastreio</a> para garantir que a recebemos.
                                    </p>
                                    </li>
                                  {% endif %}
                                </ol>
                              <![endif]-->
                            {% endfor %}
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0 16px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Se tiver alguma dúvida, responda a esta mensagem ou entre em contacto connosco através do e‑mail <a style="font-size: 9px;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0 0 30px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      A area respeita a sua privacidade. Mais informações sobre a nossa política de privacidade em <a style="font-size: 9px;" href="{{shop.url}}">areastore.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
