<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
      }
      a,p {color: #000000}
      ol {
        padding-left: 0;
      }
    </style>
    <!--[if mso]>
      <style>
        ol {
          margin-left: 24px;
        }
        li {
          border-bottom: none !important;
        }
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;">A sua etiqueta de devolução está pronta</p>
                    </td>
                  </tr>
                  <tr>
                    <td height="50" width="50%" align="center" bgcolor="#ececec" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ return_label.public_file_url }}">Imprimir etiqueta de devolução</a>
                    </td>
                    <td height="50" width="50%" align="center" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ shop.url }}">Visite a nossa loja</a>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 25px 0">
                      <h3 style="margin: 0; color: #000;">instruções</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        <tr>
                          <td>
                            <!--[if mso]>
                              <ol>
                                <li style="border-bottom: 1px solid #000;"><p style="padding-bottom: 15px;">Embale os itens que está a devolver.</p></li>
                                <li style="border-bottom: 1px solid #000;"><p style="padding: 15px 0">Imprima a sua etiqueta de envio de devolução. Se ainda não a tiver recebido, iremos enviá-la em breve.</li></p>
                                <li><p style="padding: 15px 0">
                                Fixe a etiqueta à embalagem. Cubra ou retire todas as etiquetas de envio antigas.
                                </p>
                                </li>
                              </ol>
                            <![endif]-->
                            <!--[if !mso]> <!---->
                              <ol style="list-style-position: inside; margin: 0;">
                                <li style="border-bottom: 1px solid #000; padding-bottom: 15px; margin-left: 0;"><p style="display: inline;">Embale os itens que está a devolver.</p></li>
                                <li style="border-bottom: 1px solid #000; padding: 15px 0; margin-left: 0;"><p style="display: inline;">Imprima a sua etiqueta de envio de devolução. Se ainda não a tiver recebido, iremos enviá-la em breve.</li></p>
                                <li style="padding: 15px 0; margin-left: 0;"><p style="display: inline;">Fixe a etiqueta à embalagem. Cubra ou retire todas as etiquetas de envio antigas. </p>
                                </li>
                              </ol>
                            <![endif]-->
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0 16px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Se tiver alguma dúvida, responda a esta mensagem ou entre em contacto connosco através do e‑mail <a style="font-size: 9px;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0 0 30px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      A area respeita a sua privacidade. Mais informações sobre a nossa política de privacidade em <a style="font-size: 9px;" href="{{shop.url}}">areastore.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
