{% capture email_title %}Expedição de encomenda{% endcapture %}
{% capture email_body %}A sua encomenda foi expedida. Em breve irá receber um SMS com a data de entrega.{% endcapture %}

<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <title>{{ email_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
    <style>
      td,
      th,
      p,
      a,
      span,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      tr {
        font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
        font-weight: 500;
        font-style: normal;
        font-size: 11px;
        text-transform: uppercase;
      }
      a,p {color: #000000}
    </style>
    <!--[if mso]>
      <style>
        .product-info {
          padding-left: 15px;
        }
        td,
        th,
        p,
        a,
        span,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        tr {
          font-family: 'Akkurat', 'Helvetica', 'sans-serif' !important;
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          text-transform: uppercase;
        }
      </style>
    <![endif]-->
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" bgcolor="#f5f4f2" align="center" border="0" width="100%" style="max-width: 100%; margin: 0 auto;">
      <tr>
        <td style="padding: 60px 0;">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" border="0" width="600" style="max-width: 600px; margin: 0 auto;">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" align="center" border="0" width="540" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 30px 0 40px;">
                      {%- if shop.email_logo_url %}
                        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                      {%- else %}
                        <h1 class="shop-name__text">
                          <a href="{{shop.url}}">{{ shop.name }}</a>
                        </h1>
                      {%- endif %}
                    </td>
                  </tr>
                </table>
            
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td height="50" align="center" colspan="2" style="border: 1px solid;">
                      <p style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;">{{ email_title  }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding: 25px 0; text-transform: uppercase;">
                      <p style="line-height: 16px;">{{ email_body }}</p>
                    </td>
                  </tr>
                </table>

                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                  <tr>
                    <td style="padding: 0 0 25px;">
                      <h3 style="margin: 0; color: #000;">
                        Encomenda nº {{name}} - Produtos neste envio
                      </h3>
                    </td>
                  </tr>
                  <tr>
                    <td>          
                      <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                        {% for line in fulfillment.fulfillment_line_items %}
                          <tr><td style="border-bottom: 1px solid #000; "></td></tr>
                          <tr>
                            <td style="padding: 20px 0;">
                              <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 0 auto;">
                                <td width="100">
                                  {% if line.line_item.image %}
                                    <img style="object-fit: contain;" src="{{ line.line_item | img_url: 'compact_cropped' }}" align="left" width="100" height="60"/>
                                  {% endif %}
                                </td>
                                <td width="340" class="product-info">
                                  {% if line.line_item.product.title %}	
                                    {% assign line_title = line.line_item.product.title %}
                                  {% else %}	
                                    {% assign line_title = line.line_item.title %}	
                                  {% endif %}
                        
                                  {% if line.quantity < line.line_item.quantity %}
                                    {% capture line_display %} {{ line.quantity }} of {{ line.line_item.quantity }} {% endcapture %}
                                  {% else %}
                                    {% assign line_display = line.line_item.quantity  %}
                                  {% endif %}
                        
                                  <span style="line-height: 16px; color: #000;">{{ line_title }} × {{ line_display }}</span><br/>
                        
                                  {% if line.line_item.variant.title != 'Default Title' %}
                                    <span style="line-height: 16px;">{{ line.line_item.variant.title }}</span><br/>
                                  {% endif %}
                        
                                  {% if line.line_item.selling_plan_allocation %}
                                    <span style="line-height: 16px;">{{ line.line_item.selling_plan_allocation.selling_plan.name }}</span><br/>
                                  {% endif %}
                        
                                  {% if line.line_item.refunded_quantity > 0 %}
                                    <span style="line-height: 16px;">Reembolsado</span>
                                  {% endif %}
                        
                                  {% if line.line_item.discount_allocations %}
                                    {% for discount_allocation in line.line_item.discount_allocations %}
                                      {% if discount_allocation.discount_application.target_selection != 'all' %}
                                        <span>
                                          <span style="line-height: 16px; color: #000;">
                                            {{ discount_allocation.discount_application.title | upcase }}
                                            (-{{ discount_allocation.amount | money }})
                                          </span>
                                        </span>
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                </td>
                                <td width="100">
                                  <table cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                      <td style="text-align: left; line-height: 16px;">
                                        {% if line.line_item.original_line_price != line.line_item.final_line_price %}
                                          <del style="font-size: 11px; line-height: 16px; color: #000 !important;">{{ line.line_item.original_line_price | money }}</del>
                                        {% endif %}
                                      </td>
                                      <td style="text-align: right; line-height: 16px;">
                                        <p style="line-height: 16px;">
                                          {% if line.line_item.final_line_price > 0 %}
                                            {{ line.line_item.final_line_price | money }}
                                          {% else %}
                                            Grátis
                                          {% endif %}
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </table>
                            </td>
                          </tr>
                        {% endfor %}
                        <tr><td style="border-bottom: 1px solid #000; "></td></tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table cellspacing="0" cellpadding="0" width="540" align="center" border="0" style="max-width: 540px; margin: 30px auto 0;">
                  <tr>
                    <td height="50" width="50%" align="center" bgcolor="#ececec" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ order_status_url }}">Consulte a sua encomenda</a>
                    </td>
                    <td height="50" width="50%" align="center" style="border: 1px solid;">
                      <a style="text-transform: uppercase; display: block; line-height: 16px; color: #000000; padding: 17px 0;" href="{{ shop.url }}">Visite a nossa loja</a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" height="50" width="100%" align="center" bgcolor="#ececec" style="border: 1px solid;">
                      {% if fulfillment.tracking_numbers.size > 0 %}
                        <p style="line-height: 16px;">
                          {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
                            {{ fulfillment.tracking_company }} número de rastreio: <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_numbers.first }}</a>
                          {% elsif fulfillment.tracking_numbers.size == 1 %}
                            Número de rastreio: {{ fulfillment.tracking_numbers.first }}
                          {% else %}
                            números de rastreio:
                            {% for tracking_number in fulfillment.tracking_numbers %}
                              {{ tracking_number }}
                            {% endfor %}
                          {% endif %}
                        </p>
                      {% endif %}
                    </td>
                  </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0" width="450" align="center" style="max-width: 450px; margin: 0 auto; color: #000000;">
                  <tr>
                    <td align="center" style="padding: 30px 0 16px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      Se tiver alguma dúvida, responda a esta mensagem ou entre em contacto connosco através do e‑mail <a style="font-size: 9px;" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" style="padding: 0 0 30px; text-transform: uppercase; font-size: 9px; line-height: 11px;">
                      A area respeita a sua privacidade. Mais informações sobre a nossa política de privacidade em <a style="font-size: 9px;" href="{{shop.url}}">areastore.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
