.contacts {
  h1.contacts__title {
    border-bottom: 0;
  }



  &__cols {
    @include media_query($medium-up) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__col {
    margin-bottom: 4.6rem;

    @include media_query($medium-up) {
      width: 45%;
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    border-top: 1px solid #000000;
    padding: 2.3rem 0;
    
    &:last-child {
      border-bottom: 1px solid #000000;
    }

    .contacts__item-left,
    .contacts__item-right {
      width: 50%;
      flex-shrink: 0;
      padding-right: 5px;

      p {
        margin: 0;
      }
    }
  }
}
