header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: $grid-padding-mobile;

  @include media_query($medium-up) {
    padding: $grid-padding;
  }

  @include media_query($large-up) {
    height: auto;

    .template-index &,
    .subtemplate-stores & {
      pointer-events: none;

      a {
        pointer-events: auto;
      }
    }
  }

  .header__content {
    z-index: 100;
  }

  .header__content,
  .header__mobile,
  .header__desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media_query($large-up) {
      justify-content: flex-end;
    }
  }

  .header__desktop {
    .link {
      color: #000000;

      .white-foreground-bar & {
        color: #ffffff;
      }
    }
  }

  .header__mobile {
    @include media_query($large-up) {
      display: none;
    }

    .header__col {
      width: 60%; 

      @include media_query($medium-up) {
        width: auto;
      }

      a {
        white-space: nowrap;
      }
    }

    .header__header-options {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      width: calc(100% / 12 * 5);

      .js-cart-open & a {
        color: #000000;
      }
    }
  }

  .header__desktop {
    display: none;

    @include media_query($large-up) {
      display: flex;
    }

    .logo-area {
      transition: height 700ms ease-out, width 700ms ease-out;

      .js-is-scrolled & {
        width: 44px;
        height: 21px;
      }
    }

    .logo-area__area {
      transform-origin: center left;
      transition: opacity 700ms ease-out, transform 700ms ease-out;

      .js-is-scrolled & {
        opacity: 0;
        transform: scale(0);
      }
    }

    .js-cart-open & {
      .link {
        color: #000000;
      }

      a {
        color: #000000;
      }
    }
  }

  .header__logo {
    padding-top: 2px;

    @include media_query($large-up) {
      text-align: left;
      opacity: 1;
      visibility: visible;
      width: calc(100% / 12 * 3);
      flex-grow: 1;
    }
    
    a {
      display: inline-flex;
    }

    &--menu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 50%;
      top: $grid-padding-mobile;
      transform: translateX(-50%);

      @include media_query($medium-up) {
        top: $grid-padding;
      }

      .logo-area {
        width: 30px;
        height: 20px;

        @include media_query($medium-up) {
          width: 44px;
          height: 20px;
        }

        svg {
          max-width: 100%;
        }

        .logo-area__infinity {
          width: 100%;
          margin-top: -3px;

          @include media_query($medium-up) {
            margin-top: 0;
          }
        }
  
        .logo-area__area {
          display: none;
        }
      }
    }

    &--not-home {
      opacity: 1;
      visibility: visible;
    }
  }

  .header__menu {
    position: relative;
    z-index: 100;
    display: flex;


    > a {
      margin-top: 2px;
      width: 24px;
      height: 24px;
      transition: opacity 0.2s linear;

      svg {
        path {
          transition: stroke $transition-sec;
        }
      }
    }

    div {
      padding-left: 30px;
    }

    [data-action="menu-open"] {
      &.hidden {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    [data-action="menu-close"] {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;

      &.show {
        width: 24px;
        height: 24px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .header__col {
    width: 25%;

    @include media_query($large-up) {
      width: calc(100% / 12);
    }
  }

  &.header--opened {
    .header__mobile {
      .header__menu {
        a,
        span {
          color: $color-body-text;
        }
      }

      .header__col {
        .link {
          @media (max-width: $grid-medium) {
            color: $color-body-text;
          }
        }
      }
    }

    .header__logo {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.2s linear;

      @include media_query($medium-up) {
        opacity: 0;
        visibility: hidden;
      }

      &--menu {
        svg {
          fill: $color-body-text;
        }
      }

      &--not-home {
        opacity: 1;
        visibility: visible;
      }
    }

    .header__menu {
      svg {
        path {
          stroke: $color-body-text;
        }
      }
    }

    .collection-filters {
      opacity: 0;

      @include media_query($medium-up) {
        opacity: 1;
      }
    }
  }
}

.white-foreground {
  .header__menu {
    svg {
      path {
        stroke: $color-body;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 65px;
  left: 20px;
  z-index: 2;

  @include media_query($large-up) {
    display: none;
  }

  @include media_query($medium-up) {
    top: 30px;
    left: 30px;
    right: 30px;
  }

  .logo-area {
    margin: auto;
  }
}

.header__search {
  transition: width 500ms ease-out;

  input {
    pointer-events: all;
  }

  &-input[type="text"] {
    width: 100%;
    padding: 0;
    line-height: 1.1rem;
    height: 11px;
    border: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    cursor: pointer;

    .white-foreground-bar & {
      color: $color-body;
    }

    .js-cart-open & {
      color: #000000;
    }

    &::placeholder {
      color: #000000;
      transition: color 0.7s;
      
      .white-foreground-bar & {
        color: $color-body;
      }

      .js-cart-open & {
        color: #000000;
      }
    }
  }

  .header__search-form {
    position: relative;
    width: 75%;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 1px;
      background-color: #000000;
      bottom: -12px;
      transition: all 500ms ease-out;
      opacity: 0;

      .white-foreground-bar & {
        background-color: $color-body;
      }

      .js-cart-open & {
        background-color: #000000;
      }
    }
  }

  .header__search-submit {
    position: absolute;
    right: 0;
    top: -1px;
    height: 11px;
    line-height: 11px;
    padding: 0;
    transform: translateX(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease-out;

    .white-foreground-bar & {
      color: $color-body;
    }

    .js-cart-open & {
      color: #000000;
    }
  }

  &.js-open {
    width: calc(100% / 6);

    .header__search-form:after {
      width: 100%;
      opacity: 1;
    }

    .header__search-submit {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }

    .header__search-input {
      cursor: inherit;
      padding: 0 15px 0 0;
    }
  }
}
