.home-slider {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: none;

  @include media_query($large-up) {
    display: block;
  }

  &__muted-btn {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    bottom: 50px;
    right: 50px;
    display: none;
    border: 1px solid $color-white;
    color: $color-white;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s ease-out;

    &.home-slider--show {
      opacity: 1;
      pointer-events: all;
    }

    * {
      pointer-events: none;
    }

    span:first-child {
      display: none;
    }
    span:last-child {
      display: block;
    }

    &.home-slider--muted-btn-on {
      span:first-child {
        display: block;
      }
      span:last-child {
        display: none;
      }
    }
  }

  .swiper-wrapper {
    pointer-events: none;
  }

  .swiper-slide-active {
    pointer-events: none;

    a {
      pointer-events: auto;
    }
  }
}
