.home-video {
  &__wrapper {
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh) * 100);
  }

  &__container {
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh) * 100);
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh) * 100);
  }

  &__video-mobile {
    display: block;
    
    @include media_query($large-up) {
      display: none;
    }
  }

  &__video-desktop {
    display: none;

    @include media_query($large-up) {
      display: block;
    }
  }

  &__video-desktop-btn-sound {
    position: absolute;
    bottom: 90px;
    right: 30px;
    z-index: 1;
    display: none;
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s ease-out;

    @include media_query($large-up) {
      display: block;
    }

    .white-foreground & {
      border: 1px solid $color-white;
      color: $color-white;
    }

    * {
      pointer-events: none;
    }

    span:first-child {
      display: none;
    }
    span:last-child {
      display: block;
    }

    &.home-video--video-desktop-btn-sound-on {
      span:first-child {
        display: block;
      }
      span:last-child {
        display: none;
      }
    }

    &.home-video--btn-hide {
      opacity: 0;
    }
  }

  &__video-mobile-btn-sound {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: block;
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;

    @include media_query($large-up) {
      display: none;
    }

    .white-foreground & {
      border: 1px solid $color-white;
      color: $color-white;
    }

    * {
      pointer-events: none;
    }

    span:first-child {
      display: none;
    }
    span:last-child {
      display: block;
    }

    &.home-video--video-desktop-btn-sound-on {
      span:first-child {
        display: block;
      }
      span:last-child {
        display: none;
      }
    }

    &.home-video--btn-hide {
      opacity: 0;
    }
  }

  &__video-desktop-ended {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: $color-black;
    color: $color-white;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out;

    &.home-video--video-ended-show {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }

    @include media_query($large-up) {
      display: flex;
    }
  }

  &__video-desktop-ended-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 25%;
  }

  &__video-desktop-ended-logo {
    display: none;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  &__video-desktop-ended-subtitle {
    display: none;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: $font-body;
  }

  &__video-desktop-ended-btn-register {
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    .white-foreground & {
      border: 1px solid $color-white;
      color: $color-white;
    }

    * {
      pointer-events: none;
    }
  }

  &__video-desktop-ended-btn-replay {
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: 90px;
    right: 30px;

    .white-foreground & {
      border: 1px solid $color-white;
      color: $color-white;
    }

    * {
      pointer-events: none;
    }
  }

  &__video-mobile-ended {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background-color: $color-black;
    color: $color-white;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    &.home-video--video-ended-show {
      pointer-events: all;
      opacity: 1;
    }

    @include media_query($large-up) {
      display: none;
    }
  }

  &__video-mobile-ended-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  &__video-mobile-ended-logo {
    display: none;
    width: 100%;

    svg {
      width: 100%;
    }
  }

  &__video-mobile-ended-subtitle {
    display: none;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 70px;
    margin-top: 70px;
    font-family: $font-body;
    text-align: center;
    line-height: 2.5rem;
  }

  &__video-mobile-ended-btn-register {
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 66px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 44px);

    .white-foreground & {
      background-color: $color-white;
      border: 1px solid $color-white;
      color: $color-body-text;
    }

    * {
      pointer-events: none;
    }
  }

  &__video-mobile-ended-btn-replay {
    border: 1px solid $color-body-text;
    color: $color-body-text;
    padding: 16px 40px;
    font-family: $font-body;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 44px);

    .white-foreground & {
      color: $color-white;
      border: 1px solid $color-white;
    }

    * {
      pointer-events: none;
    }
  }
}
