.home-slider-mobile {
  height: 100vh;
  width: 100%;

  @include media_query($large-up) {
    display: none;
  }

  &__muted-btn {
    display: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    &.home-slider--show {
      opacity: 1;
      pointer-events: all;
    }
  }
}
