// Text colors
$color-body-text: #000000;
$color-white: #ffffff;
$color-black: #000000;

// Transition sec
$transition-sec: 0.7s;

// Background colors
$color-body: #F5F4F2;
$color-grey1: #ececec;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-border: #000000;

// Helper colors for form error states
$color-disabled: transparent;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Typography
$font-body: 'Akkurat', 'Helvetica', 'sans-serif';
$font-body-weight: 500;
$font-body-style: normal;

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 0;
$grid-padding: 30px;
$grid-padding-mobile: 22px;

// Breakpoints used with the media-query mixin
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

// easings
$ease-out: cubic-bezier(0.18, 1, 0.21, 1);

$header-height: 125px;
$header-height-mobile: 80px;

// aos
$aos-distance: 30px;

// grid
$grid-gutter: 5px;
$grid-gutter-mobile: 5px;
$grid-column-number: 24;
