.page-404 {
  padding: $header-height-mobile $grid-padding - 10px 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include media_query($medium-up) {
    padding: $header-height - 20px $grid-padding 60px;
  }

  @include media_query($large-up) {
    padding: $header-height + 35px $grid-padding 60px;
  }

  &__holder {
    width: 100%;
    display: block;

    @include media_query($medium-up) {
      display: flex;
      flex-direction: column;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 400px;

    p {
      margin: 0 0 10px;

      &:nth-child(2) {
        margin: 0 0 14px;
      }
    }
  }

  h1,
  p {
    text-transform: uppercase;
  }

  h1 {
    line-height: 1.3rem;
    font-size: inherit;
    font-weight: 500;
    margin: 0 0 25px;
  }
}
