.template-cart {
  padding: $header-height-mobile $grid-padding - 10px 0;

  @include media_query($medium-up) {
    padding: $header-height - 20px $grid-padding 0;
  }

  @include media_query($large-up) {
    padding: $header-height + 35px $grid-padding 0;
  }

  .main-content {
    display: flex;
    justify-content: flex-end;
  }
}

.cart {
  width: 100%;

  @include media_query($large-up) {
    width: calc(100% / 12 * 9);
  }

  .cart-item__alt-wrapper {
    display: block;
  }

  .cart-item__wrapper {
    display: none;
  }

  .cart-item__qtd {
    .quantity-input {
      margin-top: 25px;
      margin-bottom: 0;
    }
  }

  .cart-item__infos {
    display: flex;
    flex-direction: column;

    .cart-item__ref {
      display: flex;
      align-items: flex-end;
      height: 100%;
      margin-bottom: 14px;
    }
  }

  .cart-item__thumb-qtd {
    > div {
      width: calc(2 / 6 * 100%);
    }
  }

  .cart-totals__subtotal,
  .cart-totals__discount {
    justify-content: flex-end;

    .cart-totals__col1,
    .cart-totals__col2 {
      width: calc(2 / 6 * 100%);
    }
  }

  &__title {
    display: flex;
    padding: 27px 0;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    text-transform: uppercase;

    @include media_query($large-up) {
      border-top: none;
      padding: 0 0 27px;
    }

    @include media_query($medium-up) {
      width: 50%;
    }

  }

  &__col1 {
    width: calc(2 / 3 * 100%);
  }

  &__col2 {
    width: calc(2 / 6 * 100%);
  }
  

  &__item-list {
    @include media_query($medium-up) {
      width: 50%;
    }
  }

  &__checkout {
    padding-bottom: 27px;
    border-top: 1px solid;

    @include media_query($medium-up) {
      width: 50%;
    }
  }
}
