html.html-collection {
  overflow-y: scroll;
}
.template-collection {
  padding: $header-height-mobile $grid-padding-mobile 0;

  @include media_query($medium-up) {
    padding: $header-height $grid-padding 0;
  }
}
.collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__holder {
    width: 100%;
    display: block;
    transition: opacity 300ms ease-out;

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
    }

    &.js-resetting {
      opacity: 0;
    }
  }

  &__page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .product-block {
    padding-right: 15px;
    width: calc(100% / 2);

    @include media_query($large-up) {
      width: calc(100% / 3);
      margin-bottom: 15px;
    }
  }

  .product-block__title-price {
    height: 71px;
  }

  &--grid4 {
    .product-block__image-holder {
      padding-top: calc(100% * (12 / 9));
    }

    .product-block {
      @include media_query($medium-up) {
        width: calc(100% / 2);
      }

      @include media_query($large-up) {
        width: calc(100% / 4);
      }
    }
  }

  &--grid3-landscape {
    .product-block__image-holder {
      padding-top: calc(100% * (9 / 16));
    }
  }

  &--grid3-landscape,
  &--grid1-mobile {
    .collection__page {
      display: block;
      flex-wrap: nowrap;

      @include media_query($medium-up) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .product-block {
      width: 100%;
      padding-right: 0;

      @include media_query($medium-up) {
        padding-right: 15px;
        width: calc(100% / 2);
      }

      @include media_query($large-up) {
        width: calc(100% / 3);
        margin-bottom: 15px;
      }
    }
  }
}

.collection-load-more {
  display: none;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-bottom: 40px;

  a {
    display: none;
    width: 100%;
    max-width: 400px;
  }
}
