.page__blocks {
  padding: #{$header-height-mobile + 5px} $grid-padding - 10px 0;

  @include media_query($medium-up) {
    padding: $header-height - 20px $grid-padding 0;
  }

  @include media_query($large-up) {
    padding: $header-height + 45px $grid-padding 0;
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
