.moinho {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__s1 {
    display: flex;
    flex-direction: column-reverse;

    @include media_query($medium-up) {
      flex-direction: row;
    }
  }

  &__s1__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

    @include media_query($medium-up) {
      margin-bottom: 0;
    }
  }

  &__s1__b1 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      width: calc((100% - 5px) / 11 * 9);
      margin-left: calc((100% - 5px) / 11);
    }

    h1 {
      margin-top: -8px;
    }
  }

  &__s4__r1 {
    display: flex;
    justify-content: space-between;

    & > div {
      width: calc((100% - 5px) / 2);
    }
  }

  &__s4__c1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 20px;
    }
  }

  &__s6__c1,
  &__s10__b2,
  &__s11__c1,
  &__s13__c1,
  &__s14__c1,
  &__s17__c1,
  &__s18__c1 {
    margin-bottom: 30px;

    @include media_query($medium-up) {
      margin-bottom: 0;
    }
  }

  &__s7__c1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 120px;
    }
  }

  &__s9__c2 {
    padding-top: 30px;

    @include media_query($medium-up) {
      padding-top: 70px;
    }
  }

  &__s10__c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__s10__b1 {
    margin-bottom: 30px;

    @include media_query($medium-up) {
      margin-bottom: 60px;
    }
  }

  &__s11__c2,
  &__s17__c2,
  &__s18__c1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0;
  }
}