.kellyw {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__video-intro-container {
    position: relative;
  }

  &__video-intro {
    width: 100%;
    z-index: 0;
    cursor: pointer;

    &.kellyw--remove-cursor {
      cursor: auto;
    }
  }

  &__video-btn-fullscreen {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    display: block;
    transition: 0.3s ease-out;

    * {
      pointer-events: none;
    }
  }

  &__video-btn-sound {
    position: absolute;
    bottom: 30px;
    right: 80px;
    z-index: 1;
    display: block;
    transition: 0.3s ease-out;

    * {
      pointer-events: none;
    }

    span:first-child {
      display: block;
    }
    span:last-child {
      display: none;
    }

    &.kellyw--video-btn-sound-off {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: block;
      }
    }
  }

  &__video-play {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12%;
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    svg {
      width: 100%;
    }

    &.kellyw--video-play-icon-hide {
      opacity: 0;
    }
  }

  &__video-logo {
    position: absolute;
    pointer-events: none;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 10%;

    svg {
      width: 100%;
      height: 100%;
    }

    @include media_query($medium-up) {
      bottom: 50px;
      height: 15%;
    }
  }

  &__s2 {
    margin-bottom: 20px;

    h1,
    p {
      margin-top: 0;
    }
  }

  &__s3 {
    position: relative;
  }

  &__s3__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s4__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s5__c1 {
    @include media_query($medium-down) {
      margin-bottom: 20px;
    }
  }

  &__s6__c1 {
    @include media_query($medium-down) {
      margin-top: 20px;
    }
  }

  &__s7 h1,
  &__s7 p {
    margin-top: 0;
  }

  &__s8 {
    .kellyw__s8__c1 {
      display: flex;
      align-items: flex-end;
      padding-bottom: 250px;

      @include media_query($medium-down) {
        padding-bottom: 30px;
      }
    }

    .kellyw__s8__c2 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .kellyw__s8__c2__r1 {
      margin-bottom: 300px;

      @include media_query($medium-down) {
        margin-bottom: 30px;
      }
    }
  }

  &__video-wide-preview {
    position: absolute;
    display: block;
    height: 100%;
    opacity: 1;
    pointer-events: none;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;

    .kellyw__s6 & {
      left: 50%;
      transform: translateX(-50%);
    }

    .responsive-image__wrapper {
      height: 100%;
    }

    &.kellyw--video-wide-preview-hide {
      opacity: 0;
    }
  }

  &__video-wide {
    z-index: 0;
    position: relative;
    cursor: pointer;

    &.kellyw--remove-cursor {
      cursor: auto;
    }

    video {
      width: 100%;
    }
  }

  &__swiper {
    padding-bottom: 55px;

    .kellyw__slide {
      width: 37vw;

      @include media_query($medium-down) {
        width: 80vw;
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        margin: 0 6px;

        &.swiper-pagination-bullet-active {
          background: black;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      position: absolute;
      top: 50%;
      width: 46px;
      height: 40px;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      outline: none;

      &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
      }

      svg {
        width: 46px;
        height: 40px;

        path {
          stroke-width: 0;
          fill: $color-body-text;
          transition: fill $transition-sec;
        }
      }

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      right: auto;
      left: 0;
      transform: translate(50%, -50%);
      background: url("../assets/icons/icon-arrow-left-gallery.svg") no-repeat;
    }

    .swiper-button-next {
      left: auto;
      right: 0;
      transform: translate(-50%, -50%);
      background: url("../assets/icons/icon-arrow-right-gallery.svg") no-repeat;
    }
  }
}
