.sc {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s1 {
    &__r1 {
      h1 {
        text-align: center;
        margin: 0 auto 50px;
      }
    }
  }

  &__s3 {
    margin: 60px 0;

    .h1 {
      margin-top: 60px;

      @include media_query($medium-up) {
        margin-top: 50px;
      }
    }
  }

  &__s4__c1 {
    margin-bottom: 5px;
  }

  &__s6__b3 {
    width: calc(100% / 10 * 6);
  }

  &__s8__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__s8__b2 {
    @include media_query($medium-up) {
      padding-top: 60px;
    }
  }

  &__s8__b3 {
    width: calc(100% / 10 * 8);
    margin-left:  calc(100% / 10);
    margin-top: 40px;

    @include media_query($medium-up) {
      margin-top: 0;
    }
  }

  &__s8__b4 {
    padding-top: 40px;
    width: calc(100% / 10 * 5);
    align-self: flex-end;
  }

  &__s10__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__s10__b1 {
    width: calc(100% / 10 * 6);
  }

  &__s10__b2 {
    margin: 30px 0 5px;

    @include media_query($medium-up) {
      margin: 0;
    }
  }

  &__s12__c3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__s12__c2 {
    margin: 5px 0;

    @include media_query($medium-up) {
      margin: 0;
    }
  }

  &__s13__r2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include media_query($medium-up) {
      margin: 0;
    }
  }

  &__s13__b3,
  &__s13__b4 {
    width: calc(100% / 11 * 5);
  }

  &__s13__c2 {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media_query($medium-up) {
      padding: 60px 0;
    }
  }

  &__s14__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media_query($medium-up) {
      padding: 60px 0;
    }
  }
  
  &__s14__r2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include media_query($medium-up) {
      padding: 0;
    }
  }

  &__s14__b2 {
    width: calc((100% - 5px) / 11 * 7);
  }

  &__s14__b3 {
    width: calc((100% - 5px) / 11 * 3 - 2.5px);
  }

  &__s18__r1 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    @include media_query($medium-up) {
      padding-top: 60px;
    }
  }
  
  &__s18__r2 {
    padding: 18% 0 9%;
  }

  &__s18__b2,
  &__s18__b3 {
    width: calc(100% / 11 * 5);
  }

  &__s18__b4 {
    width: calc(100% / 11 * 5);
    margin-left: calc(100% / 11 * 2);
  }

  &__s19__c1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5px;

    @include media_query($medium-up) {
      padding-bottom: 60px;
    }
  }

  &__s22__c1 {
    padding-bottom: 5px;

    @include media_query($medium-up) {
      padding-bottom: 0;
    }
  }

  &__vertical-sep {
    margin-bottom: 5px;
  }

  &__vertical-sep-big {
    margin-bottom: 60px;
  }

  .center {
    text-align: center;
  }
}
