.palaciob {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s1 {
    margin-bottom: 20px;

    h1,
    p {
      margin-top: 0;
    }
  }

  &__s3__c1 {
    align-self: flex-end;
    margin-bottom: 0;
    margin-top: 30px;

    @include media_query($medium-up) {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  &__s5__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s6__c1 {
    @include media_query($medium-down) {
      margin-top: 30px;
      padding-bottom: 0 !important;
    }
  }

  &__s6__r1 {
    display: flex;
    justify-content: space-between;
  }

  &__s9__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s6__b1,
  &__s19__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__s19__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;

    @include media_query($medium-up) {
      padding: 60px 0;
    }
  }

  &__s19__r1 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include media_query($medium-up) {
      width: calc(100% / 8 * 6);
    }
  }

  &__s19__r2 {
    align-self: flex-end;
    width: calc(100% / 12 * 8);
    padding: 30px 0;

    @include media_query($medium-up) {
      width: calc(100% / 8 * 4);
      padding:0;
    }
  }

  &__s12__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 30px;

    @include media_query($medium-up) {
      padding: 40px 0 60px;
    }
  }

  &__s12__b1 {
    width: calc(100% / 8 * 7);

    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s15__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s18__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s20__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__vtop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;

    @include media_query($medium-up) {
      padding-top: 60px;
    }
  }

  &__vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
