.newsletter-page {
  h1 {
    margin: 0 0 25px;
  }

  p {
    text-transform: uppercase;
  }

  &__form {
    width: 100%;
    max-width: 400px;

    input {
      width: 100%;
      text-align: center;
    }

    button {
      margin-top: -1px;
      width: 100%;
    }
  }
}
