.page-tom-dixon-video {
  width: 100%;

  .home-video__video-desktop-ended-btn-register {
    display: none !important;
  }

  .home-video__video-mobile-ended-btn-register {
    display: none !important;
  }
}
