.louise {
  h1 {
    margin-top: 30px;

    @include media_query($medium-up) {
      margin-top: 0;
    }
  }

  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s3__c1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include media_query($medium-up) {
      margin-bottom: 0;
    }
  }

  &__s7__c2 {
    margin-top: 20px;

    @include media_query($medium-up) {
      margin-top: 0;
    }
  }

  &__s8__c {
    margin-bottom: 30px;
  }

  &__s4__c2__r1 {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media_query($medium-up) {
      padding-bottom: 60px;
      padding-top: 60px;
      padding-left: 40%;
    }
  }

  &__s4__c1 {
    display: flex;
    align-items: flex-end;
    
    @include media_query($medium-up) {
      padding-bottom: 120px;
    }
  }

  &__swiper {
    padding-bottom: 55px;

    .swiper-pagination {
      .swiper-pagination-bullet {
        margin: 0 6px;

        &.swiper-pagination-bullet-active {
          background: black;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      position: absolute;
      top: 50%;
      width: 46px;
      height: 40px;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      outline: none;

      &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
      }

      svg {
        width: 46px;
        height: 40px;

        path {
          stroke-width: 0;
          fill: $color-body-text;
          transition: fill $transition-sec;
        }
      }

      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      right: auto;
      left: 0;
      transform: translate(50%, -50%);
      background: url("../assets/icons/icon-arrow-left-gallery.svg") no-repeat;
    }

    .swiper-button-next {
      left: auto;
      right: 0;
      transform: translate(-50%, -50%);
      background: url("../assets/icons/icon-arrow-right-gallery.svg") no-repeat;
    }
  }
}