.national-library {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__title {
    margin-bottom: 20px;

    h1,
    p {
      margin-top: 0;
    }
  }

  &__s2__c2,
  &__s3__c2,
  &__s5__c2,
  &__s7__c2,
  &__s9__c2,
  &__s14__c2,
  &__s16__c2,
  &__s18__c2,
  &__s21__c2,
  &__s22__c2,
  &__s24__c2,
  &__s25__c2,
  &__s27__c2,
  &__s31__c2,
  &__s32__c2 {
    @include media_query($medium-down) {
      margin-top: 30px;
    }
  }

  &__s4,
  &__s6,
  &__s15,
  &__s20,
  &__s23,
  &__s26,
  &__s28,
  &__s30 {
    width: calc(100% + 60px);
    max-width: calc(100% + 60px);
    margin-left: calc(-1 * #{$grid-padding});
    
    @include media_query($medium-down) {
      margin-left: calc(-1 * #{$grid-padding-mobile});
    }
  }

  &__s2,
  &__s3,
  &__s5,
  &__s7,
  &__s14 {
    align-items: flex-end;
  }

  &__s18,
  &__s21,
  &__s22,
  &__s31,
  &__s32 {
    align-items: center;
  }

  &__s2__c2,
  &__s3__c1,
  &__s5__c2,
  &__s7__c2,
  &__s14__c2 {
    margin-bottom: 60px;

    @include media_query($medium-down) {
      margin-bottom: 0px;
    }
  }

  &__s19__c2 {
    margin-top: 60px;

    @include media_query($medium-down) {
      margin-top: 30px;
    }
  }

  &__s11__c1 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 0;
    }
  }

  &__s11__r1 {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  &__s11__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__s12 {
    flex-direction: column;

    @include media_query($large-up) {
      flex-direction: row;
    }
  }

  &__s12__c1 {
    @include media_query($medium-down) {
      width: 100% !important;
    }
  }

  &__s12__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 60px 0;

    @include media_query($medium-down) {
      width: 100% !important;
      margin: 30px 0 0;
    }

    &__r1 {
      margin-bottom: 30px;

      @include media_query($large-up) {
        margin-left: 120px;
        margin-right: 30px;
      }
      
      > * {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
      }
    }
  }

  &__s24__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 60px 0;

    @include media_query($medium-down) {
      margin: 0;
    }

    &__r1 {
      max-width: 350px;

      @include media_query($medium-down) {
        margin-bottom: 30px;
      }

      > * {
        font-size: 1.2rem !important;
        line-height: 1.4rem !important;
      }
    }
  }

  &__vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
