.page {
  display: flex;
  flex-direction: row;
  padding: $header-height-mobile $grid-padding-mobile 0;
  line-height: 1.7rem;
  
  h1, h2, h3, h4 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: uppercase;
  }

  h1, h2 {
    margin-bottom: 0;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  p {
    margin: 2.3rem 0;
    
    a {
      text-decoration: underline;
    }
  }

  h1, h2, h3, h4, p {
    &:first-child {
      margin-top: 0;
      border-top: 0;
      padding-top: 0;
    }
  }

  ul {
    list-style-type: square;
    margin: 2.3rem 0;
  }

  ol {
    margin: 2.3rem 0;
    list-style: upper-alpha;
  }

  address {
    font-style: normal;
  }

  @include media_query($medium-up) {
    padding: $header-height $grid-padding 0;
  }

  &__container {
    width: 100%;
    display: block;
    padding-top: 33px;
    padding-bottom: 60px;

    @include media_query($large-up) {
      max-width: 700px;
      margin-left: calc(100% / 12 * 3);
    }
  }

  &__content {
    text-transform: uppercase;
  }

  .dense-table {
    border-spacing: 0;
    font-size: 0.7rem;
    line-height: 0.9rem;
    min-width: 600px;
  }

  .simple-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: 600px;

    p {
      margin: 0;
    }

    th, td {
      padding: 1.4rem 4px 1.4rem 4px;
    }
  }

  th {
    font-weight: 400;
    text-align: left;
  }

  td,
  th {
    border-bottom: 1px solid;
    padding: 1.4rem 5px 1.4rem 0;
    vertical-align: top;
  }

  tr:last-child td {
    border-bottom: none;
  }

  ul.index-list {
    list-style: none;
    padding-left: 0;

    a {
      line-height: 1.7rem;
      margin-bottom: 0;
    }
  }
}
