.gare {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s1 {
    h1, p {
      margin-top: 0;
    }
  }

  &__s3__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media_query($medium-up) {
      padding: 30px 0;
    }
  }

  &__s3__b2 {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 0;
    }
  }

  &__s6__c2 {
    margin-top: 5px;

    @include media_query($medium-up) {
      margin-top: 0;
    }
  }

  &__s6__c1 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-top: 60px;
    }
  }

  &__s7__c1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;

    @include media_query($medium-up) {
      margin-bottom: 0;
    }
  }

  &__s7__b2 {
    width: calc(100% / 9 * 5);
    padding: 30px 0 20px;

    @include media_query($medium-up) {
      padding: 50px 0 40px;
    }
  }

  &__s7__caption {
    text-transform: uppercase;
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left;
    position: absolute;
    left: 0;
    top: 21%;

    @include media_query($medium-up) {
      top: 50%;
    }
  }

  &__s10__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media_query($medium-up) {
      padding: 50px 0;
    }
  }

  &__s10__b2 {
    width: calc(100% / 11 * 5);
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;

    @include media_query($medium-up) {
      margin-bottom: 0;
      align-self: flex-start;
    }
  }

  &__s13__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;

    @include media_query($medium-up) {
      padding: 50px 0;
    }
  }

  &__s13__b2 {
    width: calc(100% / 10 * 6);
    align-self: center;
    margin-bottom: 50px;

    @include media_query($medium-up) {
      width: calc(100% / 10 * 3);
      margin-bottom: 0;
      align-self: flex-end;
    }
  }

  &__s15__c2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 0;

    @include media_query($medium-up) {
      padding: 50px 0;
    }
  }

  &__s15__b2 {
    width: calc(100% / 10 * 5);
    margin-left: calc(100% / 10 * 4);
  }

  &__s15__b3 {
    margin-top: 40px;
    margin-bottom: 50px;

    p {
      font-size: 23px;
      line-height: 27px;
      font-weight: 300;
      margin-bottom: 10px;
      margin-top: 0;

      @include media_query($widescreen) {
        font-size: 28px;
        line-height: 38px;
        font-weight: 300;
      }
    }
  }

  &__s15__caption {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__s16__c1,
  &__s21__c2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__s18__c2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% / 8 * 6);
    margin: 50px auto 20px;

    @include media_query($medium-up) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__s18__r1 {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  &__s18__b2 {
    width: calc((100% - 5px) / 2);
  }

  &__vertical-sep {
    margin-bottom: 5px;

    @include media_query($medium-up) {
      margin-bottom: 0;
    }
  }
}
