.grid {
  &__block {
    margin: 30px 0;     
    
    &:first-child {
      margin-top: 6px;
    }

    @include media_query($medium-up) {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 60px -4px;
    }
  }

  h1, h2, h3, p {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 100%;
  }

  &__text-col {
    flex-shrink: 0;
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    @include media_query($medium-up) {
      margin: 0;
    }
  }

  &__inner-img {
    margin-top: 30px;

    @include media_query($medium-up) {
      margin-top: 50px;
      padding: 0 2px;
    }
  }

  &__img-col {
    flex-shrink: 0;
    margin: 4px 0;

    @include media_query($medium-up) {
      padding: 0 2px;
      margin: 0;
    }
  }

  &__text-image-col {
    flex-shrink: 0;
    margin-top: 30px;

    @include media_query($medium-up) {
      margin-top: 0;
    }
  }

  &__image-text-col {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    margin-top: 30px;

    @include media_query($medium-up) {
      margin-top: 0;
    }

    .grid__inner-img {
      margin-top: 0;
      margin-bottom: 30px;

      @include media_query($medium-up) {
        margin-top: 0;
        margin-bottom: 50px;
      }
    }
  }

  &__col-text {
    @include media_query($small) {
      margin-bottom: 30px;
    }
  }

  &__col-text,
  &__inner-img {
    @include media_query($small) {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }

  @include media_query($medium-up) {
    .col1 {
      width: calc(100% / 12);
    }
    .col2 {
      width: calc(100% / 6);
    }
    .col3 {
      width: 25%;
    }
    .col4 {
      width: calc(100% / 3);
    }
    .col5 {
      width: calc(100% / 12 * 5);
    }
    .col6 {
      width: 50%;
    }
    .col7 {
      width: calc(100% / 12 * 7);
    }
    .col8 {
      width: calc(100% / 12 * 8);
    }
    .col9 {
      width: calc(100% / 12 * 9);
    }
    .col10 {
      width: calc(100% / 12 * 10);
    }
    .col11 {
      width: calc(100% / 12 * 11);
    }
    .col12 {
      width: 100%;
    }
    .m1 {
      margin-left: calc(100% / 12);
    }
    .m2 {
      margin-left: calc(100% / 6);
    }
    .m3 {
      margin-left: calc(100% / 4);
    }
    .m4 {
      margin-left: calc(100% / 3);
    }
    .m5 {
      margin-left: calc(100% / 12 * 5);
    }
    .m6 {
      margin-left: calc(50%);
    }
  }
}
