.casat {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s1 {
    margin-bottom: 20px;

    h1,
    p {
      margin-top: 0;
    }
  }

  &__s5__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;

    @include media_query($medium-up) {
      padding: 50px 0 40px;
    }
  }

  &__s5__b1 {
    width: calc(100% / 8 * 6);
    margin-bottom: 30px;

    @include media_query($medium-up) {
      margin-left: calc(100% / 8 * 1);
      margin-bottom: 0;
    }
  }

  &__s5__b2 {
    width: calc(100% / 8 * 6);
  }

  &__s8__c1,
  &__s13__c1 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 0;
    }
  }

  &__s8__r1,
  &__s13__r1 {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  &__s8__b1,
  &__s13__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__s10__c1 {
    @include media_query($medium-up) {
      margin-top: 40px;
    }
  }

  &__s10__c2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0;

    @include media_query($medium-up) {
      padding: 0 0 30px;
      flex-direction: column;
    }
  }

  &__s10__b1 {
    @include media_query($medium-down) {
      width: calc(100% / 12 * 7);
    }
  }

  &__s10__b2 {
    width: calc(100% / 12 * 4);
    margin-right: 0;
    margin-left: calc(100% / 12 * 1);

    @include media_query($medium-up) {
      align-self: flex-end;
      width: calc(100% / 12 * 3);
      margin-right: calc(100% / 12 * 1);
      margin-left: 0;
    }
  }

  &__s11 {
    @include media_query($medium-down) {
      & > div:first-child {
        margin-bottom: 30px;
      }
    }
  }

  &__s14__r1,
  &__s15__r1 {
    display: flex;
    justify-content: space-between;
  }

  &__s14__b1,
  &__s15__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__s14__c1 {
    @include media_query($medium-down) {
      &.casat__vtop {
        padding-top: 30px;
      }
    }
  }

  &__s15__c1 {
    padding-bottom: 30px !important;

    @include media_query($medium-up) {
      padding-bottom: 60px !important;
    }

    @include media_query($medium-down) {
      &.casat__vtop {
        padding-top: 0;
      }
    }
  }

  &__s16 {
    align-items: center;

    @include media_query($medium-down) {
      .col10 {
        margin-bottom: 30px;
      }
    }
  }

  &__s19__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__s21__c1 {
    @include media_query($medium-down) {
      margin-bottom: 30px;
    }
  }

  &__vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__vtop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;

    @include media_query($medium-up) {
      padding-top: 60px;
    }
  }

  &__vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
