.reit {
  &__s {
    margin: 30px 0;

    @include media_query($medium-up) {
      margin: 60px 0;
    }
  }

  &__s1 {
    h1, p {
      margin-top: 0;
    }
  }

  &__s6__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__s6__b1 {
    width: calc(100% / 10 * 6);
    padding: 30px 0 20px;
    margin-left: calc(100% / 10 * 1);
  
    @include media_query($medium-up) {
      padding: 70px 0 40px;
    }
  }

  &__s6__b2 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__s8__c1,
  &__s9__c1,
  &__s10__c1 {
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 0;
    }
  }

  &__s10__r1 {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  &__s10__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__s12__r1 {
    display: flex;
    justify-content: space-between;
  }

  &__s12__b1 {
    width: calc((100% - 5px) / 2);
  }

  &__vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__s16__c1,
  &__s23__c1,
  &__s18__c1,
  &__s20__c1,
  &__s22__c1 {
    padding-top: 0;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-top: 70px;
      padding-bottom: 0;
    }
  }

  &__s18__c2,
  &__s20__c2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__s23__c1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;

    @include media_query($medium-up) {
      padding-bottom: 70px;
    }
  }

  &__s23__r1 {
    width: calc((100% - 5px) / 10 * 4);
    margin-left: calc((100% - 5px) / 10);
    margin-bottom: 30px;
  }

  &__s23__r2 {
    display: flex;
    justify-content: space-between;
  }

  &__s23__b2 {
    width: calc((100% - 5px) / 2);
  }
}