.template-product {
  padding: #{$header-height-mobile + 5px} $grid-padding - 10px 0;

  @include media_query($medium-up) {
    padding: $header-height $grid-padding 0;
  }

  .product__blocks {
    p {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__holder {
    position: relative;
    display: block;
    flex-direction: row;
    width: 100%;

    @include media_query($medium-up) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
      margin-bottom: 20px;
    }

    hr {
      margin: 0 0 24px;
      border: none;
      border-bottom: 1px solid #000000;
    }

    p {
      text-transform: uppercase;
      line-height: 1.7rem;
      margin: 0;
    }
  }

  &--with-options {
    .shopify-product-form {
      display: none;
    }
  }

  &__stock-info-form {
    margin-top: 15px;
  }

  &__promo {
    text-transform: uppercase;
    padding-top: 20px;
  }
}

.product__back {
  position: absolute;
  z-index: 1;

  @include media_query($medium-up) {
    display: none;
  }

  @include media_query($large-up) {
    position: fixed;
    top: 30px;
    z-index: 101;
    display: block;
  }

  &.tablet {
    display: none;

    @include media_query($medium-up) {
      position: absolute;
      z-index: 11;
      top: -95px;
      display: block;
    }

    @include media_query($large-up) {
      display: none;
    }
  }
}

.product__swiper {
  width: calc(100% + 40px);
  margin: 0 0 0 -20px;

  &:after {
    content: '';
    display: block
  }

  @include media_query($medium-up) {
    width: 100%;
    margin: 0;
  }

  @include media_query($large-up) {
    width: calc(100% - 30px);
    text-align: center;

    .product__img--multiple & {
      left: 65px;
      width: calc(100% - 95px);
    }
  }

  .swiper-slide {
    padding: 0 20px;

    @include media_query($medium-up) {
      padding: 0;
    }
  }
}

.product__thumbnail {
  display: none;

  @include media_query($medium-up) {
    display: block;
    margin-top: 20px;
  }

  @include media_query($large-up) {
    position: absolute;
    left: 0;
    top: 77px;
    margin-top: 0;
  }

  .swiper-slide {
    width: 55px !important;
    height: 55px !important;
    border: 1px solid #000000;
    cursor: pointer;
    background-color: $color-body;
    margin-right: -1px !important;

    @include media_query($large-up) {
      margin-right: 0 !important;
      margin-bottom: -1px;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #000000;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      pointer-events: none;
    }
  }

  .swiper-wrapper {
    @include media_query($large-up) {
      flex-direction: column;
    }
  }
}

.product__info {
  @include media_query($medium-up) {
    position: relative;
    width: calc(100% / 12 * 5);
  }

  @include media_query($large-up) {
    width: calc(100% / 12 * 4);
    padding-left: 0;
    padding-top: 9px;
  }
}

.product__img {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;

  @include media_query($medium-up) {
    position: relative;
    margin-top: -15px;
    width: calc(100% / 12 * 6);
    padding-bottom: 20px;

    .responsive-image__wrapper {
      max-height: calc(100vh - 140px);
      min-height: 400px;

      @media only screen and (min-height: 890px) {
        max-height: 750px;
      }

      img {
        object-fit: contain;
      }
    }
  }

  @include media_query($large-up) {
    width: calc(100% / 12 * 8);
    padding-bottom: 0;
    margin-top: -40px;

    &.product__img--multiple {
      // max-height: calc(min(40vw, 600px));
    }
  }
}

.product__table {
  display: flex;
  padding-bottom: 24px;
  padding-top: 24px;
  flex-wrap: wrap;
  border-bottom: 1px solid;

  .product__table__name {
    width: 50%;
    flex-shrink: 0;
  }

  .product__table__info {
    width: 50%;
  }
}

.product__content {
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid;

  &.product__stock-info {
    border-bottom: none;
  }
}

.product__variant-promo {
  padding-bottom: 24px;
}

.product__button {

  form & {
    margin-top: -1px;
  }
  
  &__price {
    display: flex;

    > div {
      width: 50%;
      align-items: center;
      display: flex;
      justify-content: center;
      border: 1px solid;
      height: 50px;

      .increase {
        padding: 15px 25px;
      }

      .decrease {
        padding: 15px 25px;
      }

      .increase,
      .decrease {
        cursor: pointer;
      }

      input {
        width: 100%;
        
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          appearance: none;
          margin: 0;
        }

        [type=number] {
          appearance: textfield;
        }
      }

      &:first-child {
        background-color: $color-grey1;
      } 

      &:nth-child(2) {
        border-left: none;
      }
    }

    div,
    input {
      text-align: center;
    }

    &--unavailable {
      div {
        width: 100%;
        border: 1px solid;
      }
    }
  }
  
  &__old-price {
    margin-right: 10px;
  }

  button {
    position: relative;
    width: 100%;
    border-top: none;
    text-transform: uppercase;
  }
}

.product__blocks {
  display: flex;
  justify-content: flex-end;

  &-holder {
    position: relative;
    width: 100%;

    > div:first-child {
      margin-top: 0;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 9);
    }
  }
}

.product__variant {
  text-transform: uppercase;
  border-bottom: 1px solid;

  &-description {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.7rem;
  }

  &-name {
    width: calc(100% / 3 * 2);
    padding-right: 10px;
  }

  &-ref {
    width: calc(100% / 3);
  }

  &-ref-ref {
    display: none;
  }

  &-control-wrap {
    max-height: 0;
    overflow: hidden;
    transition: max-height 600ms ease-out;
  }

  &-control {
    opacity: 0;
    transition: opacity 400ms ease-out;
  }

  &.js-active {
    .product__variant-control-wrap {
      max-height: 250px;
      transition: max-height 600ms ease-out;
    }

    .product__variant-control {
      opacity: 1;
      transition: opacity 400ms ease-out;
    }

    .product__variant-ref-ref {
      display: block;
    }

    .product__variant-ref-price {
      display: none;
    }
  }
}

.product__pagination {
  position: relative;
  bottom: 0 !important;

  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 12px 0 0 !important;
    opacity: 0.1;

    &:last-child {
      margin: 0 !important;
    }
  }

  .swiper-pagination-bullet-active {
    background: #000000;
    opacity: 1;
  }
}

@include media_query($medium-up) {
  .product__pagination {
    display: none;
  }
}
