.template-search {
  padding: $header-height-mobile $grid-padding-mobile 0;

  @include media_query($medium-up) {
    padding: ($header-height - 20px) $grid-padding 0;
  }

  @include media_query($large-up) {
    padding: ($header-height + 35px) $grid-padding 0;
  }

  h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.3rem;
    margin: 0 0 20px;
  }
}
