.store {
  width: calc(100% - 40px);
  padding-top: 90px;

  @include media_query($medium-up) {
    width: calc(100% - 60px);
    padding-top: 130px;
  }

  @include media_query($large-up) {
    width: 100%;
    padding-top: 0;
  }

  .store-full {
    max-height: 50vh;
    overflow: hidden;

    @include media_query($medium-up) {
      max-height: 60vh;
    }

    @include media_query($large-up) {
      max-height: 100vh;
      height: 100vh;
    }

    .responsive-image__wrapper {
      position: inherit;

      img {
        object-fit: cover;
      }
    }
  }

  .store-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 35px 0 20px;

    @include media_query($medium-up) {
      width: 350px;
      margin: 35px 0 30px;
    }

    @include media_query($large-up) {
      position: absolute;
      bottom: 0;
      z-index: 5;
      margin: 35px 30px 30px;
      align-items: flex-end;
    }

    p {
      margin: 0;
    }
  }
}

.white-foreground {
  .store-info {
    p {
      color: $color-body;
    }
  }
}
