<div class="account account-area">
  <div class="account-area__wrapper account__wrapper">
    {% include 'back-btn' %}
    <div class="account__intro" data-role="intro">
      <div class="account__title">
        <h1>{{ 'customer.account.title' | t }}</h1>
      </div>
      <div class="account__email">
        {{ customer.email }}
      </div>
      <div class="account__options">
        <a class="button" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        <a class="button" href="#orders" data-action="orders">{{ 'customer.orders.see_orders' | t }} ({{ customer.orders.size | at_most: 12 }})</a>
      </div>
      <a href="{{ routes.account_logout_url }}" class="link arrow-link account__logout">{{ 'customer.login.logout' | t }}</a>
    </div>
    <div class="account__last-orders" data-role="orders">
      <div class="account__title">
        <h3>{{ 'customer.orders.title' | t }}</h3>
      </div>
      {% paginate customer.orders by 12 %}
        {% if customer.orders.size != 0 %}
          <table class="account__orders responsive-table">
            <thead>
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <th>{{ 'customer.orders.payment_status' | t }}</th>
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="responsive-table-row">
                  <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url, class: 'link arrow-link' }}</td>
                  <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                  <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                  <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="account__no-orders">{{ 'customer.orders.none' | t }}</p>
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>
