<div class="activate-account account-section account-area">
  <div data-login-form class="account-area__wrapper activate-account__wrapper">
    <h1>{{ 'customer.activate_account.title' | t }}</h1>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>

    {% form 'activate_customer_password' %}
      {{ form.errors | default_errors }}

      <div class="activate-account__form">
        <div class="activate-account__fields">
          <label for="CustomerPassword" class="label-hidden">
            {{ 'customer.activate_account.password' | t }}
          </label>
          <input type="password"
            name="customer[password]"
            id="CustomerPassword"
            placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="label-hidden">
            {{ 'customer.activate_account.password_confirm' | t }}
          </label>
          <input type="password"
            name="customer[password_confirmation]"
            id="CustomerPasswordConfirmation"
            placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
        </div>
        <div class="activate-account__actions">
          <input type="submit" class="button" value="{{ 'customer.activate_account.submit' | t }}">
          <input type="submit" class="button button--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
        </div>
      </div>
    {% endform %}
  </div>
</div>
