<div class="addresses account-area">
  <div class="account-area__wrapper addresses__wrapper">
    <a href="/account" class="account-area__back link">≤ {{ 'customer.account.return' | t }}</a>
    {% paginate customer.addresses by 5 %}
      <div class="account__title">
        <h2>{{ 'customer.addresses.title' | t }}</h2>
      </div>

      {% for address in customer.addresses %}

        <div class="addresses__form-wrapper" data-address>
          <div class="addresses__address" data-role="static-address">
            <div class="addresses__address-info">
              {% if address == customer.default_address %}
                <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
              {% endif %}
              {{ address | format_address }}
            </div>
            <div class="addresses__address-actions">
              <button type="button" class="button" data-address-toggle>
                {{ 'customer.addresses.edit' | t }}
              </button>
              <form data-address-delete-form method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit" class="button">
                  {{ 'customer.addresses.delete' | t }}
                </button>
              </form>
            </div>
          </div>

          {% include 'address-form' %}
        </div>
      {% endfor %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

      <div class="addresses__form-wrapper" data-address>
        <button type="button" class="button addresses__add-new" data-address-toggle>{{ 'customer.addresses.add_new' | t }}</button>

        {% include 'address-form' | address: customer.new_address %}
      </div>
    {% endpaginate %}
    </div>
</div>