<div class="login account-section account-area">
  <div data-login-form class="account-area__wrapper login__wrapper">
    {% include 'back-btn' %}
    <div class="form-success hide" data-reset-success>
      {{ 'customer.recover_password.success' | t }}
    </div>
    {% form 'customer_login' %}
      <h1>{{ 'customer.login.title' | t }}</h1>

      {{ form.errors | default_errors }}

      <div class="login__form">
        <div class="login__fields">
          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                name="customer[email]"
                id="CustomerEmail"
                class="{% if form.errors contains 'email' %}input-error{% endif %}"
                placeholder="{{ 'customer.login.email' | t }}"
                spellcheck="false"
                autocomplete="off"
                autocapitalize="off"
                autofocus>
          {% if form.password_needed %}
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                  name="customer[password]"
                  id="CustomerPassword"
                  class="{% if form.errors contains 'password' %}input-error{% endif %}"
                  placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}
        </div>
        <div class="login__actions">
          <a href="/" class="button">{{ 'customer.login.cancel' | t }}</a>
          <input type="submit" class="button" value="{{ 'customer.login.sign_in' | t }}">
        </div>
      
        <div class="login__other-actions">
          <a href="/account/register" class="link arrow-link">
            {{ 'layout.customer.create_account' | t }}
          </a>

          {% if form.password_needed %}
            <a href="#recover" class="link arrow-link" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
          {% endif %}
        </div>
      </div>
    {% endform %}
    {% if shop.checkout.guest_login %}
      {% form 'guest_login', class: 'login__guest-form' %}
        <input type="submit" class="button" value="{{ 'customer.login.guest_title' | t }}">
      {% endform %}
    {% endif %}
  </div>

  <div class="login__wrapper account-area__wrapper hide" data-recover-form>
    {% include 'back-btn' %}
    {% form 'recover_customer_password' %}
      <h1 class="recover-password">{{ 'customer.recover_password.title' | t }}</h1>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>
      <div class="login__form">
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <span class="hide" data-form-state></span>
        {% endif %}

        <label for="RecoverEmail" class="label-hidden">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
              name="email"
              id="RecoverEmail"
              placeholder="{{ 'customer.recover_password.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
        
        <div class="login__actions">
          <button type="button" class="button" data-recover-toggle>
            {{ 'customer.recover_password.cancel' | t }}
          </button>
          <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">
        </div>
      {% endform %}
    </div>
  </div>
</div>
