{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}
<div class="order account-area">
  <div class="account-area__wrapper order__wrapper">
    <a class="link account-area__back" href="/account">≤ {{ 'customer.account.return' | t }}</a>
  
    <h1>{{ 'customer.order.title' | t: name: order.name }}</h1>

    <p class="order__date">
      {% assign order_day = order.created_at | date: "%e" %}
      {% assign order_month_t = order.created_at | date: "%m" %}
      {% assign order_month = 'general.months.' | append: order_month_t | t %}
      {% assign order_year = order.created_at | date: "%Y" %}
      {{ 'customer.order.date' | t: day: order_day, month: order_month, year: order_year }}
    </p>

    {% if order.cancelled %}
      {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
      <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
    {% endif %}

    <table class="responsive-table order__table">
      <thead>
        <tr>
          <th>{{ 'customer.order.product' | t }}</th>
          <th>{{ 'customer.order.price' | t }}</th>
          <th>{{ 'customer.order.quantity' | t }}</th>
          <th>{{ 'customer.order.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}" class="responsive-table-row">
            <td data-label="{{ 'customer.order.product' | t }}">
              {{ line_item.title | link_to: line_item.product.url }}
              {% if line_item.fulfillment %}
                <dl>
                  <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                  <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                  {% if line_item.fulfillment.tracking_url %}
                    <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                    <dd>
                      <a href="{{ line_item.fulfillment.tracking_url }}">
                        {{ 'customer.order.track_shipment' | t }}
                      </a>
                    </dd>
                  {% endif %}

                  <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                  <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                  {% if line_item.fulfillment.tracking_number %}
                    <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                    <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                  {% endif %}
                </dl>
              {% endif %}
            </td>
            <td data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
            <td data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
            <td data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="responsive-table-row">
          <td colspan="3" class="small--hide">{{ 'customer.order.subtotal' | t }}</td>
          <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
        </tr>

        {% for discount in order.discounts %}
          <tr>
            <td colspan="3" class="small--hide">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
            <td data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
          </tr>
        {% endfor %}

        {% for shipping_method in order.shipping_methods %}
          <tr>
            <td colspan="3" class="small--hide">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
            <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
          </tr>
        {% endfor %}

        {% for tax_line in order.tax_lines %}
          <tr>
            <td colspan="3" class="small--hide">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
            <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
          </tr>
        {% endfor %}

        <tr>
          <td colspan="3" class="small--hide">{{ 'customer.order.total' | t }}</td>
          <td data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="order__addresses">
      <div class="order__addresses-col">
        <h3>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</h3>
        <div class="order__address">
          <div class="order__address-info">
            <p>{{ 'customer.order.billing_address' | t }}</p>

            {{ order.billing_address | format_address }}
          </div>
        </div>
      </div>
      <div class="order__addresses-col">
        <h3>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</h3>
        <div class="order__address">
          <div class="order__address-info">
            <p>{{ 'customer.order.shipping_address' | t }}</p>

            {{ order.shipping_address | format_address }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
