<div class="register account-area">
  <div class="account-area__wrapper register__wrapper">
    {% include 'back-btn' %}
    {% form 'create_customer' %}
      <div class="register__form">
        <h1>{{ 'customer.register.title' | t }}</h1>
        {{ form.errors | default_errors }}
        <div class="register__name-fields">
          <label for="FirstName" class="label-hidden">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input type="text"
            name="customer[first_name]"
            id="FirstName"
            placeholder="{{ 'customer.register.first_name' | t }}"
            autofocus
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
          <label for="LastName" class="label-hidden">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input type="text"
            name="customer[last_name]"
            id="LastName"
            placeholder="{{ 'customer.register.last_name' | t }}"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
        </div>
        <label for="Email" class="label-hidden">
          {{ 'customer.register.email' | t }}
        </label>
        <input type="email"
          name="customer[email]"
          id="Email"
          class="{% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off">

        <label for="CreatePassword" class="label-hidden">
          {{ 'customer.register.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="CreatePassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.register.password' | t }}">

        <div class="register__actions">
          <a href="{{ shop.url }}" class="button">{{ 'customer.register.cancel' | t }}</a>
          <input class="button" type="submit" value="{{ 'customer.register.submit' | t }}" class="button">
        </div>

        <div class="register__other-actions">
          <a href="/account/login" class="link arrow-link">
            {{ 'customer.register.have_account' | t }}
          </a>
        </div>
      </div>
    {% endform %}
  </div>
</div>
