<div class="reset-password form-reset-password account-area">
  <div class="account-area__wrapper reset-password__wrapper">
    {% form 'reset_customer_password' %}

      <h1>{{ 'customer.reset_password.title' | t }}</h1>

      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
      <div class="reset-password__form">
        {{ form.errors | default_errors }}

        <label for="ResetPassword" class="label-hidden">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          id="ResetPassword"
          class="{% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password' | t }}">

        <label for="PasswordConfirmation" class="label-hidden">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input type="password"
          name="customer[password_confirmation]"
          id="PasswordConfirmation"
          class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

        <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
      </div>
    {% endform %}
  </div>
</div>
