/**
 * Sets a media query for the specified breakpoint
 *
 * Accepts:
 * - $media-query: {String} Breakpoint variable (list found in variables.scss)
 *
 * Usage:
 * .selector {
 *   @include media-query($medium-up) {
 *     color: red;
 *   }
 * }
 */
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }
}

/**
 * Outputs list of transition properties
 *
 * Accepts:
 * - $transitions: {String} List of transition properties to set
 *
 * Usage:
 * .selector {
 *   @include transition(width, height 0.5s ease-in);
 * }
 */
@mixin transition($transitions...) {
  $output: ();

  @each $transition in $transitions {
    $output: append($output, get-transition-properties($transition), comma);
  }
  transition: $output;
}

/**
 * Forces an element to self-clear its children
 *
 * Usage:
 * .selector {
 *   @include clearfix;
 * }
 */
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  // stylelint-disable-next-line
  *zoom: 1;
}

/**
 * Hide element but make it accessible to screen readers
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  // stylelint-disable-next-line
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

/**
 * Reverse the properties applied by @mixin visually-hidden
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  // stylelint-disable-next-line
  position: $position !important;
  overflow: auto;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
}


/**
* Section wrapper mixin.
*/
@mixin grid__container {
  max-width: none;
  padding: 0;
}

.grid24__container {
  @include grid__container;
}

/**
* Grid mixin.
*/
@mixin grid {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.grid24 {
  @include grid;
}


/**
* Grid column mixin.
*/
@mixin grid-column($columnNumber) {
  $gapNumber: #{$grid-column-number - $columnNumber};
  width: 100%;

  @include media_query($medium-up) {
    // padding: 0 #{$grid-gutter / 2};
    width: calc((100% * #{$columnNumber} / #{$grid-column-number}) - calc(#{$gapNumber} * #{$grid-gutter} / #{$grid-column-number}));
  }
}

@mixin grid-offset($columnNumber) {
  $gapNumber: #{$grid-column-number - $columnNumber};
  margin-left: calc((100% * #{$columnNumber} / #{$grid-column-number}) - calc(#{$gapNumber} * #{$grid-gutter-mobile} / #{$grid-column-number}));

  @include media_query($medium-up) {
    margin-left: calc((100% * #{$columnNumber} / #{$grid-column-number}) - calc(#{$gapNumber} * #{$grid-gutter} / #{$grid-column-number}));
  }
}

.grid24__container.layout {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  pointer-events: none;
  background-color: transparent;
  padding: 0 30px;
  span {
    @include grid-column(1);
    display: block;
    background-color: paleturquoise;
    opacity: 0.3;
    &:last-child {
      margin-right: 0;
    }
  }
}

.col1 {
  @include grid-column(1);
}
.col2 {
  @include grid-column(2);
}
.col3 {
  @include grid-column(3);
}
.col4 {
  @include grid-column(4);
}
.col5 {
  @include grid-column(5);
}
.col6 {
  @include grid-column(6);
}
.col7 {
  @include grid-column(7);
}
.col8 {
  @include grid-column(8);
}
.col9 {
  @include grid-column(9);
}
.col10 {
  @include grid-column(10);
}
.col11 {
  @include grid-column(11);
}
.col12 {
  @include grid-column(12);
}
.col13 {
  @include grid-column(13);
}
.col14 {
  @include grid-column(14);
}
.col15 {
  @include grid-column(15);
}
.col16 {
  @include grid-column(16);
}
.col17 {
  @include grid-column(17);
}
.col20 {
  @include grid-column(20);
}
.col21 {
  @include grid-column(21);
}
.col24 {
  @include grid-column(24);
}

.offset1 {
  @include grid-offset(1);
}
.offset2 {
  @include grid-offset(2);
}
.offset3 {
  @include grid-offset(3);
}
.offset4 {
  @include grid-offset(4);
}
.offset5 {
  @include grid-offset(5);
}
.offset6 {
  @include grid-offset(6);
}
.offset7 {
  @include grid-offset(7);
}
.offset8 {
  @include grid-offset(8);
}
.offset9 {
  @include grid-offset(9);
}
.offset10 {
  @include grid-offset(10);
}
.offset11 {
  @include grid-offset(11);
}
.offset12 {
  @include grid-offset(12);
}
