<section class="page__blocks amoreiras">
  <div class="page__blocks-holder grid24__container">

    <div class="grid24 amoreiras__s amoreiras__s1" data-aos="fade-up" data-aos-delay="800">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image1,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s2" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s3" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image3,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s4" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image4,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s5" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image5,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s6" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image6,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s7" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image7,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s8" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image8,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s9" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image9,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s10" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image10,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 amoreiras__s amoreiras__s11" data-aos="fade">
      <div class="col24">
        {% include 'responsive-image' with
          image: section.settings.image11,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 tomd__s tomd__s12" data-aos="fade">
      <div class="col4"></div>
      <div class="col4">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="col2"></div>
      <div class="col4">
        {{ section.settings.top_text }}
      </div>
      <div class="col2"></div>
      <div class="col4">
        {{ section.settings.top_text2 }}
      </div>
      <div class="col4"></div> 
    </div>

  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
    {
      "name": "Amoreiras",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Page title"
        },
        {
          "type": "richtext",
          "id": "top_text",
          "label": "Top text"
        },
        {
          "type": "richtext",
          "id": "top_text2",
          "label": "Top text 2"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image4",
          "label": "Image 4"
        },
        {
          "type": "image_picker",
          "id": "image5",
          "label": "Image 5"
        },
        {
          "type": "image_picker",
          "id": "image6",
          "label": "Image 6"
        },
        {
          "type": "image_picker",
          "id": "image7",
          "label": "Image 7"
        },
        {
          "type": "image_picker",
          "id": "image8",
          "label": "Image 8"
        },
        {
          "type": "image_picker",
          "id": "image9",
          "label": "Image 9"
        },
        {
          "type": "image_picker",
          "id": "image10",
          "label": "Image 10"
        },
        {
          "type": "image_picker",
          "id": "image11",
          "label": "Image 11"
        }
      ]
    }
  {% endschema %}