<section class="page__blocks casat">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 casat__s casat__s1">
      <div class="col4"></div>
      <div class="col7">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="col1"></div>
      <div class="col8">
        {{ section.settings.top_text }}
      </div>
      <div class="col4"></div> 
    </div>

    <div class="grid24 casat__s casat__s2" data-aos="fade-up" data-aos-delay="800">
      {% include 'responsive-image' with
        image: section.settings.image1,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s3" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image2,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s5" data-aos="fade-up">
      <div class="col8 casat__s5__c1">
        <div class="casat__s5__b1">
          <div data-aos="fade-right">{{ section.settings.text_1 }}</div>
        </div>
        <div class="casat__s5__b2" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image3,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col4"></div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image4,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s6" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image5,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s7" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image6,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s8" data-aos="fade">
      <div class="col2"></div>
      <div class="col8 casat__s8__c1 casat__vcenter" data-aos="fade-up">
        <div class="casat__s8__r1">
          <div class="casat__s8__b1">
            {% include 'responsive-image' with
              image: section.settings.image7,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s8__b1">
            {% include 'responsive-image' with
              image: section.settings.image8,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
        <div class="casat__s8__r1">
          <div class="casat__s8__b1">
            {% include 'responsive-image' with
              image: section.settings.image9,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s8__b1">
            {% include 'responsive-image' with
              image: section.settings.image10,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col2"></div>
      <div class="col12" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image11,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s9" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image12,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s10" data-aos="fade">
      <div class="col1"></div>
      <div class="col9 casat__s10__c1">
        {% include 'responsive-image' with
          image: section.settings.image13,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col12 casat__s10__c2">
        <div class="casat__s10__b1">
          {% include 'responsive-image' with
            image: section.settings.image14,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="casat__s10__b2" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image15,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
    </div>

    <div class="grid24 casat__s casat__s11" data-aos="fade-up">
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image16,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image17,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s12" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image18,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s13" data-aos="fade-up">
      <div class="col2"></div>
      <div class="col8 casat__s13__c1 casat__vcenter" data-aos="fade-up">
        <div class="casat__s13__r1">
          <div class="casat__s13__b1">
            {% include 'responsive-image' with
              image: section.settings.image19,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s13__b1">
            {% include 'responsive-image' with
              image: section.settings.image20,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
        <div class="casat__s13__r1">
          <div class="casat__s13__b1">
            {% include 'responsive-image' with
              image: section.settings.image21,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s13__b1">
            {% include 'responsive-image' with
              image: section.settings.image22,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col2"></div>
      <div class="col12" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image23,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s14" data-aos="fade">
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image24,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 casat__s14__c1 casat__vtop" data-aos="fade-up">
        <div class="casat__s14__r1">
          <div class="casat__s14__b1">
            {% include 'responsive-image' with
              image: section.settings.image25,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s14__b1">
            {% include 'responsive-image' with
              image: section.settings.image26,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 casat__s casat__s15" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 casat__s15__c1 casat__vtop" data-aos="fade-up">
        <div class="casat__s15__r1">
          <div class="casat__s15__b1">
            {% include 'responsive-image' with
              image: section.settings.image27,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="casat__s15__b1">
            {% include 'responsive-image' with
              image: section.settings.image28,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col1"></div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image29,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s16" data-aos="fade">
      <div class="col1"></div>
      <div class="col10" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image30,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image31,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 casat__s casat__s17" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image32,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s18" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image33,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s19" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 casat__s19__c1">
        {% include 'responsive-image' with
          image: section.settings.image34,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col10">
        {% include 'responsive-image' with
          image: section.settings.image35,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 casat__s casat_s20" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image36,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 casat__s casat__s21" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 casat__s21__c1">
        {% include 'responsive-image' with
          image: section.settings.image37,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col10">
        {% include 'responsive-image' with
          image: section.settings.image38,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Casa na Terra",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text 1"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      },
      {
        "type": "image_picker",
        "id": "image9",
        "label": "Image 9"
      },
      {
        "type": "image_picker",
        "id": "image10",
        "label": "Image 10"
      },
      {
        "type": "image_picker",
        "id": "image11",
        "label": "Image 11"
      },
      {
        "type": "image_picker",
        "id": "image12",
        "label": "Image 12"
      },
      {
        "type": "image_picker",
        "id": "image13",
        "label": "Image 13"
      },
      {
        "type": "image_picker",
        "id": "image14",
        "label": "Image 14"
      },
      {
        "type": "image_picker",
        "id": "image15",
        "label": "Image 15"
      },
      {
        "type": "image_picker",
        "id": "image16",
        "label": "Image 16"
      },
      {
        "type": "image_picker",
        "id": "image17",
        "label": "Image 17"
      },
      {
        "type": "image_picker",
        "id": "image18",
        "label": "Image 18"
      },
      {
        "type": "image_picker",
        "id": "image19",
        "label": "Image 19"
      },
      {
        "type": "image_picker",
        "id": "image20",
        "label": "Image 20"
      },
      {
        "type": "image_picker",
        "id": "image21",
        "label": "Image 21"
      },
      {
        "type": "image_picker",
        "id": "image22",
        "label": "Image 22"
      },
      {
        "type": "image_picker",
        "id": "image23",
        "label": "Image 23"
      },
      {
        "type": "image_picker",
        "id": "image24",
        "label": "Image 24"
      },
      {
        "type": "image_picker",
        "id": "image25",
        "label": "Image 25"
      },
      {
        "type": "image_picker",
        "id": "image26",
        "label": "Image 26"
      },
      {
        "type": "image_picker",
        "id": "image27",
        "label": "Image 27"
      },
      {
        "type": "image_picker",
        "id": "image28",
        "label": "Image 28"
      },
      {
        "type": "image_picker",
        "id": "image29",
        "label": "Image 29"
      },
      {
        "type": "image_picker",
        "id": "image30",
        "label": "Image 30"
      },
      {
        "type": "image_picker",
        "id": "image31",
        "label": "Image 31"
      },
      {
        "type": "image_picker",
        "id": "image32",
        "label": "Image 32"
      },
      {
        "type": "image_picker",
        "id": "image33",
        "label": "Image 33"
      },
      {
        "type": "image_picker",
        "id": "image34",
        "label": "Image 34"
      },
      {
        "type": "image_picker",
        "id": "image35",
        "label": "Image 35"
      },
      {
        "type": "image_picker",
        "id": "image36",
        "label": "Image 36"
      },
      {
        "type": "image_picker",
        "id": "image37",
        "label": "Image 37"
      },
      {
        "type": "image_picker",
        "id": "image38",
        "label": "Image 38"
      }
    ]
  }
{% endschema %}
