<section class="contacts">
  {% if section.settings.title != blank %}
    <h1 class="contacts__title">{{ section.settings.title }}</h1>
  {% endif %}
  <div class="contacts__cols">
    <div class="contacts__col">
      {% for contact in section.blocks %}
        {% if contact.type == 'contacts_left' %}
          <div class="contacts__item">
            <div class="contacts__item-left">
              {{ contact.settings.left_content }}
            </div>
            <div class="contacts__item-right">
              {{ contact.settings.right_content }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="contacts__col">
      {% for contact in section.blocks %}
        {% if contact.type == 'contact_right' %}
          <div class="contacts__item">
            <div class="contacts__item-left">
              {{ contact.settings.left_content }}
            </div>
            <div class="contacts__item-right">
              {{ contact.settings.right_content }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Contacts Page Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Contacts"
      }
    ],
    "blocks": [
      {
        "type": "contacts_left",
        "name": "Contacts Left",
        "settings": [ 
          {
            "type": "richtext",
            "id": "left_content",
            "label": "Left Content"
          },
          {
            "type": "richtext",
            "id": "right_content",
            "label": "Right Content"
          }
        ]
      },
      {
        "type": "contact_right",
        "name": "Contacts Right",
        "settings": [ 
          {
            "type": "richtext",
            "id": "left_content",
            "label": "Left Content"
          },
          {
            "type": "richtext",
            "id": "right_content",
            "label": "Right Content"
          }
        ]
      }
    ]
  }
{% endschema %}
