<section class="page__blocks gare">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 gare__s gare__s1">
      <div class="col3"></div>
      <div class="col8">
        <h1>{{ section.settings.title }}<br>{{ section.settings.title_2 }}</h1>
      </div>
      <div class="col2"></div>
      <div class="col8">
        {{ section.settings.top_text }}
      </div>
      <div class="col3"></div>
    </div>
    <div class="grid24 gare__s gare__s2" data-aos="fade-up" data-aos-delay="800">
      {% include 'responsive-image' with
        image: section.settings.image1,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s3">
      <div class="col2"></div>
      <div class="col10" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col8 gare__s3__c2">
        <div class="gare__s3__b2" data-aos="fade-up" data-aos-delay="500">
          {{ section.settings.text_2 }}
        </div>
        <div class="gare__s3__b3" data-aos="fade" data-aos-delay="100">
          {% include 'responsive-image' with
            image: section.settings.image3,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col2"></div>
    </div>
    <div class="grid24 gare__s gare__s4" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image4,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s5" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image5,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s6">
      <div class="col1" data-aos="fade-up"></div>
      <div class="col6 gare__s6__c1">
        {{ section.settings.text_3 }}
      </div>
      <div class="col1"></div>
      <div class="col15" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image6,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 gare__s gare__s7">
      <div class="gare__s7__caption">{{ section.settings.caption_almada }}</div>
      <div class="col2"></div>
      <div class="col9 gare__s7__c1">
        <div class="h1 gare__s7__b1" data-aos="fade">
          {{ section.settings.title_almada }}
        </div>
        <div class="h1 gare__s7__b2" data-aos="fade" data-aos-delay="500">
          {% include 'responsive-image' with
            image: section.settings.image8,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="h1 gare__s7__b3" data-aos="fade" data-aos-delay="200">
          <p>ALMADA NEGREIROS</p>
        </div>
      </div>
      <div class="col2"></div>
      <div class="col9" data-aos="fade-left" data-aos-delay="300">
        {% include 'responsive-image' with
          image: section.settings.image9,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
    </div>
    <div class="grid24 gare__s gare__s8">
      <div class="col12 gare__vertical-sep" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image10,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col12" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image11,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 gare__s gare__s9" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image12,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s10">
      <div class="col1"></div>
      <div class="col11 gare__s10__c1">
        <div class="gare__s10_b1" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image13,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="gare__s10__b2" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image14,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col10 gare__s10__c2" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image14a,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 gare__s gare__s11" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image15,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s12">
      <div class="col2"></div>
      <div class="col10  gare__vertical-sep" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image16,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col10" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image17,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
    </div>
    <div class="grid24 gare__s gare__s13">
      <div class="col1"></div>
      <div class="col11" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image18,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 gare__s13__c2">
        <div class="gare__s13__b2" data-aos="fade" data-aos-delay="500">
          {% include 'responsive-image' with
            image: section.settings.image19,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="gare__s13__b3" data-aos="fade-up" data-aos-delay="200">
          {% include 'responsive-image' with
            image: section.settings.image20,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 gare__s gare__s14">
      <div class="col2"></div>
      <div class="col10 gare__vertical-sep" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image21,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col10" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image22,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
    </div>
    <div class="grid24 gare__s gare__s15">
      <div class="col1"></div>
      <div class="col11" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image23,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 gare__s15__c2">
        <div class="gare__s15__b2" data-aos="fade-up" data-aos-delay="500">
          {% include 'responsive-image' with
            image: section.settings.image24,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="gare__s15__b3" data-aos="fade-up" data-aos-delay="500">
          {{ section.settings.text_4 }}
          <div class="gare__s15__caption">
            {{ section.settings.text_4_caption }}
          </div>
        </div>
        <div class="gare__s15__b4" data-aos="fade" data-aos-delay="100">
          {% include 'responsive-image' with
            image: section.settings.image25,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 gare__s gare__s16">
      <div class="col3"></div>
      <div class="col8 gare__s16__c1 gare__vertical-sep" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image26,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
      <div class="col9" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image27,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 gare__s gare__s17">
      <div class="col12 gare__vertical-sep" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image28,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col12" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image29,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 gare__s gare__s18">
      <div class="col2"></div>
      <div class="col9" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image30,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
      <div class="col8 gare__s18__c2" data-aos="fade-up" data-aos-delay="500">
        <div class="gare__s18__r1">
          <div class="gare__s18__b2">
            {% include 'responsive-image' with
              image: section.settings.image31,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="gare__s18__b2">
            {% include 'responsive-image' with
              image: section.settings.image32,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
        <div class="gare__s18__r1">
          <div class="gare__s18__b2">
            {% include 'responsive-image' with
              image: section.settings.image33,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="gare__s18__b2">
            {% include 'responsive-image' with
              image: section.settings.image34,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col2"></div>
    </div>
    <div class="grid24 gare__s gare__s19" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image35,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s20" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image36,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 gare__s gare__s21">
      <div class="col1"></div>
      <div class="col12 gare__vertical-sep" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image37,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col9 gare__s21__c2" data-aos="fade-up" data-aos-delay="500">
        {% include 'responsive-image' with
          image: section.settings.image38,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Gare",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title line 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Page title line 2"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": "Second text"
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": "Third text"
      },
      {
        "type": "text",
        "id": "title_almada",
        "label": "Almada Title"
      },
      {
        "type": "text",
        "id": "caption_almada",
        "label": "Almada Caption"
      },
      {
        "type": "richtext",
        "id": "text_4",
        "label": "Fourth text"
      },
      {
        "type": "text",
        "id": "text_4_caption",
        "label": "Fourth text caption"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      },
      {
        "type": "image_picker",
        "id": "image9",
        "label": "Image 9"
      },
      {
        "type": "image_picker",
        "id": "image10",
        "label": "Image 10"
      },
      {
        "type": "image_picker",
        "id": "image11",
        "label": "Image 11"
      },
      {
        "type": "image_picker",
        "id": "image12",
        "label": "Image 12"
      },
      {
        "type": "image_picker",
        "id": "image13",
        "label": "Image 13"
      },
      {
        "type": "image_picker",
        "id": "image14",
        "label": "Image 14"
      },
      {
        "type": "image_picker",
        "id": "image14a",
        "label": "Image 14 A"
      },
      {
        "type": "image_picker",
        "id": "image15",
        "label": "Image 15"
      },
      {
        "type": "image_picker",
        "id": "image16",
        "label": "Image 16"
      },
      {
        "type": "image_picker",
        "id": "image17",
        "label": "Image 17"
      },
      {
        "type": "image_picker",
        "id": "image18",
        "label": "Image 18"
      },
      {
        "type": "image_picker",
        "id": "image19",
        "label": "Image 19"
      },
      {
        "type": "image_picker",
        "id": "image20",
        "label": "Image 20"
      },
      {
        "type": "image_picker",
        "id": "image21",
        "label": "Image 21"
      },
      {
        "type": "image_picker",
        "id": "image22",
        "label": "Image 22"
      },
      {
        "type": "image_picker",
        "id": "image23",
        "label": "Image 23"
      },
      {
        "type": "image_picker",
        "id": "image24",
        "label": "Image 24"
      },
      {
        "type": "image_picker",
        "id": "image25",
        "label": "Image 25"
      },
      {
        "type": "image_picker",
        "id": "image26",
        "label": "Image 26"
      },
      {
        "type": "image_picker",
        "id": "image27",
        "label": "Image 27"
      },
      {
        "type": "image_picker",
        "id": "image28",
        "label": "Image 28"
      },
      {
        "type": "image_picker",
        "id": "image29",
        "label": "Image 29"
      },
      {
        "type": "image_picker",
        "id": "image30",
        "label": "Image 30"
      },
      {
        "type": "image_picker",
        "id": "image31",
        "label": "Image 31"
      },
      {
        "type": "image_picker",
        "id": "image32",
        "label": "Image 32"
      },
      {
        "type": "image_picker",
        "id": "image33",
        "label": "Image 33"
      },
      {
        "type": "image_picker",
        "id": "image34",
        "label": "Image 34"
      },
      {
        "type": "image_picker",
        "id": "image35",
        "label": "Image 35"
      },
      {
        "type": "image_picker",
        "id": "image36",
        "label": "Image 36"
      },
      {
        "type": "image_picker",
        "id": "image37",
        "label": "Image 37"
      },
      {
        "type": "image_picker",
        "id": "image38",
        "label": "Image 38"
      },
      {
        "type": "image_picker",
        "id": "image39",
        "label": "Image 39"
      },
      {
        "type": "image_picker",
        "id": "image40",
        "label": "Image 40"
      },
      {
        "type": "image_picker",
        "id": "image41",
        "label": "Image 41"
      }
    ]
  }
{% endschema %}
