<section
  class="home-slider-mobile swiper-container"
  data-role="home-slider-mobile"
  data-auto="{{ section.settings.slider_interval }}">
  <div class="home-slider-mobile__slides swiper-wrapper">
    {% for block in section.blocks %}

      {% if block.settings.image != blank %}
        <div
          class="swiper-slide inner-image-vpos-{{ block.settings.image_position_v }} inner-image-hpos-{{ block.settings.image_position_h }}"
          data-foreground="{{block.settings.white_foreground}}"
          data-foreground-bar="{{ block.settings.white_foreground }}">
          {% assign slideType = 'slide-' | append: block.settings.slide_type %}
          {% if slideType == 'slide-full' %}
            {% include slideType with slide: block.settings %}
          {% else %}
            {% include 'slide-split-mobile' with slide: block.settings %}
          {% endif %}
        </div>
      {% elsif block.settings.video != blank %}
        <div
          class="swiper-slide slide-inner-video"
          data-foreground="{{block.settings.white_foreground}}"
          data-foreground-bar="{{ block.settings.white_foreground }}">
          {% include 'slide-video' with slide: block.settings %}
        </div>
      {% endif %}

    {% endfor %}
  </div>
  <button class="home-slider-mobile__muted-btn" data-action="btn-muted">
    muted btnn
  </button>
  {% include 'navigation-slider' %}
</section>

{% schema %}
  {
    "name": "Home Slider Mobile",
    "settings": [
      {
        "type": "range",
        "id": "slider_interval",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "sec",
        "label": "Auto slide interval (0 for no auto)",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "slides",
        "name": "Slides",
        "settings": [
          {
            "type": "select",
            "id": "slide_type",
            "label": "Slide Type",
            "default": "full",
            "options": [
              {
                "value": "full",
                "label": "Full bg image"
              }, {
                "value": "split",
                "label": "Full text block"
              }
            ]
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Collection Image"
          },
          {
            "id": "video",
            "type": "video",
            "label": "Slide Video"
          },
          {
            "type": "select",
            "id": "image_position_v",
            "label": "Posição vertical da imagem",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Centro"
              }, {
                "value": "top",
                "label": "Topo"
              }, {
                "value": "bottom",
                "label": "Base"
              }
            ]
          }, {
            "type": "select",
            "id": "image_position_h",
            "label": "Posição horizontal da imagem",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Centro"
              }, {
                "value": "left",
                "label": "Esquerda"
              }, {
                "value": "right",
                "label": "Direita"
              }
            ]
          }, {
            "type": "checkbox",
            "id": "white_foreground",
            "label": "White foreground (logo & nav)",
            "default": false,
            "info": "Check if background is dark over the header and sidebar"
          }, {
            "type": "color",
            "id": "background_color",
            "label": "Text Block Background",
            "default": "#F5F4F2"
          }, {
            "type": "color",
            "id": "foreground_color",
            "label": "Text Block text color",
            "default": "#000000"
          }, {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "content",
            "label": "Text content"
          }, {
            "type": "text",
            "id": "cta_label",
            "label": "Call to action text"
          }, {
            "type": "url",
            "id": "cta_url",
            "label": "CTA Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Slider Mobile",
        "category": "Area Theme"
      }
    ]
  }
{% endschema %}