{% if section.settings.video_desktop != blank %}
  <div
    class="home-video__wrapper"
    data-role="home-video"
    data-foreground="{{ section.settings.white_foreground }}"
    data-foreground-bar="{{ section.settings.white_foreground_right }}">
    <div class="home-video__container">
      <button class="home-video__video-desktop-btn-sound" data-action="sound-desktop">
        <span data-role="off-audio">
          {{ 'general.tom_dixon.turn_off_audio' | t }}
        </span>
        <span data-role="on-audio">
          {{ 'general.tom_dixon.turn_on_audio' | t }}
        </span>
      </button>
      <button class="home-video__video-mobile-btn-sound" data-action="sound-mobile">
        <span data-role="off-audio">
          {{ 'general.tom_dixon.turn_off_audio' | t }}
        </span>
        <span data-role="on-audio">
          {{ 'general.tom_dixon.turn_on_audio' | t }}
        </span>
      </button>
      <video
        class="home-video__video-mobile"
        data-role="video-mobile"
        playsinline
        muted>
        {% for video in section.settings.video_mobile.sources %}
          {% if video.mime_type == 'video/mp4' %}
            <source src="{{ video.url }}" type="{{ video.mime_type }}">
          {% endif %}
        {% endfor %}
      </video>
      <video
        class="home-video__video-desktop"
        data-role="video-desktop"
        playsinline
        muted>
        {% for video in section.settings.video_desktop.sources %}
          {% if video.mime_type == 'video/mp4' %}
            <source src="{{ video.url }}" type="{{ video.mime_type }}">
          {% endif %}
        {% endfor %}
      </video>
    </div>
    <div class="home-video__video-desktop-ended" data-role="ended-desktop">
      <div class="home-video__video-desktop-ended-container">
        <div class="home-video__video-desktop-ended-logo">
          {% render 'logos-tom-dixon.svg' %}
        </div>
        <p class="home-video__video-desktop-ended-subtitle">
          Limited spaces. {{ 'general.tom_dixon.register_areastore' | t }}
        </p>
        <a href="/pages/tom-dixon" class="home-video__video-desktop-ended-btn-register">
          {{ 'general.tom_dixon.register_btn' | t }}
        </a>
        <button class="home-video__video-desktop-ended-btn-replay" data-action="replay-desktop">
          {{ 'general.tom_dixon.play_again' | t }}
        </button>
      </div>
    </div>
    <div class="home-video__video-mobile-ended" data-role="ended-mobile">
      <div class="home-video__video-mobile-ended-container">
        <div class="home-video__video-mobile-ended-logo">
          {% render 'logos-tom-dixon.svg' %}
        </div>
        <p class="home-video__video-mobile-ended-subtitle">
          Limited spaces. </br> {{ 'general.tom_dixon.register_areastore' | t }}
        </p>
        <a href="/pages/tom-dixon" class="home-video__video-mobile-ended-btn-register">
          {{ 'general.tom_dixon.register_btn' | t }}
        </a>
        <button class="home-video__video-mobile-ended-btn-replay" data-action="replay-mobile">
          {{ 'general.tom_dixon.play_again' | t }}
        </button>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Home Video",
    "class": "home-video",
    "settings": [
      {
        "id": "video_desktop",
        "type": "video",
        "label": "Video Desktop"
      }, {
        "id": "video_mobile",
        "type": "video",
        "label": "Video Mobile"
      }, {
        "type": "checkbox",
        "id": "white_foreground",
        "label": "White foreground (logo & nav)",
        "default": false,
        "info": "Check if background is dark over the logo and sidebar"
      }, {
        "type": "checkbox",
        "id": "white_foreground_right",
        "label": "White foreground (top right bar)",
        "default": false,
        "info": "Check if background is dark over the header left things"
      }
    ],
    "presets": [
      {
        "name": "Home Video",
        "category": "Area Theme"
      }
    ]
  }
{% endschema %}