<section class="page__blocks kellyw">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 kellyw__s kellyw__s7" data-aos="fade-up" data-aos-delay="800">
      <div class="col4"></div>
      <div class="col7">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="col1"></div>
      <div class="col8">
        {{ section.settings.top_text }}
      </div>
      <div class="col4"></div> 
    </div>

    <div class="grid24 kellyw__s kellyw__s1" data-aos="fade-up">
      <div class="col24 kellyw__video-intro-container">
        <div class="col24 kellyw__video-wide-preview" data-role="video-wide-preview-1">
          {% include 'responsive-image' with
            image: section.settings.video_1_preview,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="kellyw__video-play" data-role="video-play-icon-1">
          {% include 'icon-play' %}
        </div>
        <button class="kellyw__video-btn-sound" data-action="sound-video1">
          <span data-role="off-audio">
            {% include 'icon-sound-off' %}
          </span>
          <span data-role="on-audio">
            {% include 'icon-sound-on' %}
          </span>
        </button>
        <button class="kellyw__video-btn-fullscreen" data-action="fullscreen-video1">
          {% include 'icon-fullscreen' %}
        </button>
        <video
          class="kellyw__video-intro"
          data-role="video-1">
          {% for video in section.settings.video_1.sources %}
            {% if video.mime_type == 'video/mp4' %}
              <source src="{{ video.url }}" type="{{ video.mime_type }}">
            {% endif %}
          {% endfor %}
        </video>
      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s4" data-aos="fade-up">
      <div class="col8 kellyw__s4__c1">
        {% include 'responsive-image' with
          image: section.settings.image1,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col8 kellyw__s4__c1">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col8">
        {% include 'responsive-image' with
          image: section.settings.image3,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s5" data-aos="fade-up">
      <div class="col7 kellyw__s5__c1">
        {{ section.settings.middle_text }}
      </div>
      <div class="col16">
        {% include 'responsive-image' with
          image: section.settings.image4,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s2" data-aos="fade">
      <div class="swiper-container kellyw__swiper col24 kellyw__s2__r1" data-role="slider1">

        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.image_slide1 != blank %}
              {%- assign image = block.settings.image_slide1 -%}
              {%- assign max_height = 3000 -%}
              {%- assign max_width = 3000 -%}
              
              <div class="swiper-slide kellyw__slide" data-role="slide" data-height="{{ image.height }}" data-width="{{ image.width }}">
                {% include 'responsive-image' with
                  image: image,
                  max_height: max_height
                  max_width: max_width
                %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s6" data-aos="fade-up">
      <div class="col16">
        {% include 'responsive-image' with
          image: section.settings.image5,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col7 kellyw__s6__c1">
        {{ section.settings.bottom_text }}
      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s5" data-aos="fade-up">
      <div class="swiper-container kellyw__swiper col24" data-role="slider2">

        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.image_slide2 != blank %}
              {%- assign image = block.settings.image_slide2 -%}
              {%- assign max_height = 3000 -%}
              {%- assign max_width = 3000 -%}
              
              <div class="swiper-slide kellyw__slide" data-role="slide" data-height="{{ image.height }}" data-width="{{ image.width }}">
                {% include 'responsive-image' with
                  image: image,
                  max_height: max_height
                  max_width: max_width
                %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </div>

    <div class="grid24 kellyw__s kellyw__s6" data-aos="fade">
      <div class="col4"></div>
      <div class="col16 kellyw__video-wide-preview" data-role="video-wide-preview-2">
        {% include 'responsive-image' with
          image: section.settings.video_2_preview,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="kellyw__video-play" data-role="video-play-icon-2">
        {% include 'icon-play' %}
      </div>
      <div class="col16 kellyw__video-wide" data-role="video-2-container">
        <video
          data-role="video-2">
          {% for video in section.settings.video_2.sources %}
            {% if video.mime_type == 'video/mp4' %}
              <source src="{{ video.url }}" type="{{ video.mime_type }}">
            {% endif %}
          {% endfor %}
        </video>
        <button class="kellyw__video-btn-sound" data-action="sound-video2">
          <span data-role="off-audio">
            {% include 'icon-sound-off' %}
          </span>
          <span data-role="on-audio">
            {% include 'icon-sound-on' %}
          </span>
        </button>
        <button class="kellyw__video-btn-fullscreen" data-action="fullscreen-video2">
          {% include 'icon-fullscreen' %}
        </button>
      </div>
      <div class="col4"></div>
    </div>

    <div class="grid24 kellyw__s kellyw__s9" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image6,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Kelly Wearstler",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "richtext",
        "id": "middle_text",
        "label": "Middle text"
      },
      {
        "type": "richtext",
        "id": "bottom_text",
        "label": "Bottom text"
      },
      {
        "id": "video_1",
        "type": "video",
        "label": "Video 1"
      },
      {
        "type": "image_picker",
        "id": "video_1_preview",
        "label": "Video 1 Preview"
      },
      {
        "id": "video_2",
        "type": "video",
        "label": "Video 2"
      },
      {
        "type": "image_picker",
        "id": "video_2_preview",
        "label": "Video 2 Preview"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      }
    ],
    "blocks": [
      {
        "type": "slider1",
        "name": "Slider 1",
        "settings": [
          {
            "id": "image_slide1",
            "type": "image_picker",
            "label": "Image Slide 1"
          }
        ]
      },
      {
        "type": "slider2",
        "name": "Slider 2",
        "settings": [
          {
            "id": "image_slide2",
            "type": "image_picker",
            "label": "Image Slide 2"
          }
        ]
      }
    ]
  }
{% endschema %}
