<section class="page__blocks louise">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 louise__s louise__s1" data-aos="fade-up" data-aos-delay="200">
      <div class="col14">
        {% include 'responsive-image' with
          image: section.settings.image1,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col8">
        <h1>{{ section.settings.title }}</h1>
        {{ section.settings.text1 }}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 louise__s louise__s2" data-aos="fade">
      <div class="swiper-container louise__swiper col24 louise__s2__r1" data-role="slider1">

        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.image_slide1 != blank %}
              {%- assign image = block.settings.image_slide1 -%}
              {%- assign max_height = 3000 -%}
              {%- assign max_width = 3000 -%}
              
              <div class="swiper-slide louise__slide" data-role="slide" data-height="{{ image.height }}" data-width="{{ image.width }}">
                {% include 'responsive-image' with
                  image: image,
                  max_height: max_height
                  max_width: max_width
                %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="grid24 louise__s louise__s3" data-aos="fade-up" data-aos-delay="200">
      <div class="col8 louise__s3__c1">
        {{ section.settings.text2 }}
      </div>
      <div class="col1"></div>
      <div class="col15">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 louise__s louise__s4" data-aos="fade-up" data-aos-delay="200">
      <div class="col9 louise__s4__c1">
        {% include 'responsive-image' with
          image: section.settings.image3,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col14 louise__s4__c2">
        <div class="louise__s4__c2__r1">
          {{ section.settings.text3 }}
        </div>
        <div>
          {% include 'responsive-image' with
            image: section.settings.image4,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
    </div>
    <div class="grid24 louise__s louise__s5" data-aos="fade-up" data-aos-delay="200">
      <div class="col9">
        {{ section.settings.text4 }}
      </div>
    </div>
    <div class="grid24 louise__s louise__s6" data-aos="fade">
      <div class="swiper-container louise__swiper col24" data-role="slider2">

        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.settings.image_slide2 != blank %}
              {%- assign image = block.settings.image_slide2 -%}
              {%- assign max_height = 3000 -%}
              {%- assign max_width = 3000 -%}
              
              <div class="swiper-slide louise__slide" data-role="slide" data-height="{{ image.height }}" data-width="{{ image.width }}">
                {% include 'responsive-image' with
                  image: image,
                  max_height: max_height
                  max_width: max_width
                %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="grid24 louise__s louise__s7" data-aos="fade-up" data-aos-delay="200">
      <div class="col15">
        {% include 'responsive-image' with
          image: section.settings.image5,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col8 louise__s7__c2">
        {{ section.settings.text5 }}
      </div>
    </div>
    <div class="grid24 louise__s louise__s8" data-aos="fade-up">
      <div class="col8 louise__s8__c">
        {% include 'responsive-image' with
          image: section.settings.image6,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col8 louise__s8__c">
        {% include 'responsive-image' with
          image: section.settings.image7,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col8">
        {% include 'responsive-image' with
          image: section.settings.image8,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Louise Roe",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "text1",
        "label": "Text 1"
      },
      {
        "type": "richtext",
        "id": "text2",
        "label": "Text 2"
      },
      {
        "type": "richtext",
        "id": "text3",
        "label": "Text 3"
      },
      {
        "type": "richtext",
        "id": "text4",
        "label": "Text 4"
      },
      {
        "type": "richtext",
        "id": "text5",
        "label": "Text 5"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      }
    ],
    "blocks": [
      {
        "type": "slider1",
        "name": "Slider 1",
        "settings": [
          {
            "id": "image_slide1",
            "type": "image_picker",
            "label": "Image Slide 1"
          }
        ]
      },
      {
        "type": "slider2",
        "name": "Slider 2",
        "settings": [
          {
            "id": "image_slide2",
            "type": "image_picker",
            "label": "Image Slide 2"
          }
        ]
      }
    ]
  }
{% endschema %}
