<section class="page__blocks moinho">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 moinho__s moinho__s1">
      <div class="col1"></div>
      <div class="col10">
        {% include 'responsive-image' with
          image: section.settings.image1,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 moinho__s1__c2">
        <div class="moinho__s1__b1">
          <h1>{{ section.settings.title }}</h1>
          {{ section.settings.top_text }}
        </div>
        <div class="moinho__s1__b2">
          {% include 'responsive-image' with
            image: section.settings.image2,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div> 
    </div>
    <div class="grid24 moinho__s moinho__s2" data-aos="fade-up" data-aos-delay="800">
      {% include 'responsive-image' with
        image: section.settings.image3,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 moinho__s moinho__s3" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image4,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 moinho__s4 moinho__s2">
      <div class="col2"></div>
      <div class="col6 moinho__s4__c1">
        <div class="moinho__s4__r1">
          <div class="moinho__s4__b1" data-aos="fade" data-aos-delay="500">
            {% include 'responsive-image' with
              image: section.settings.image5,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="moinho__s4__b1" data-aos="fade">
            {% include 'responsive-image' with
              image: section.settings.image6,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col5"></div>
      <div class="col11">
        <div class="moinho__s4__c2" data-aos="fade-up">
          {% include 'responsive-image' with
            image: section.settings.image7,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s5" data-aos="fade-up">
      <div class="col21">
        {% include 'responsive-image' with
          image: section.settings.image8,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
    </div>
    <div class="grid24 moinho__s moinho__s6" data-aos="fade-up">
      <div class="col16 moinho__s6__c1">
        {% include 'responsive-image' with
          image: section.settings.image9,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col8">
        {% include 'responsive-image' with
          image: section.settings.image10,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s7">
      <div class="col1"></div>
      <div class="col9 moinho__s7__c1">
        <div class="moinho__s7__b1" data-aos="fade-up">
          {% include 'responsive-image' with
            image: section.settings.image11,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col13 moinho__s7__c2" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image12,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s8" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image13,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 moinho__s moinho__s9">
      <div class="col1"></div>
      <div class="col11 moinho__s9__c1">
        {% include 'responsive-image' with
          image: section.settings.image14,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col9 moinho__s9__c2" data-aos="fade-up">
        <div class="moinho__s9__b1" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image15,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 moinho__s moinho__s10">
      <div class="col1"></div>
      <div class="col11 moinho__s10__c1" data-aos="fade-up">
        <div class="moinho__s10__b1">
          {% include 'responsive-image' with
            image: section.settings.image16,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
        <div class="moinho__s10__b2">
          {% include 'responsive-image' with
            image: section.settings.image17,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col11" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image18,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s11" data-aos="fade-up" data-aos-delay="400">
      <div class="col15 moinho__s11__c1">
        {% include 'responsive-image' with
          image: section.settings.image19,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col8 moinho__s11__c2" data-aos="fade" >
        {% include 'responsive-image' with
          image: section.settings.image20,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s12">
      {% include 'responsive-image' with
        image: section.settings.image21,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 moinho__s moinho__s13">
      <div class="col1"></div>
      <div class="col10 moinho__s13__c1 moinho__vcenter" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image22,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image23,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s14" >
      <div class="col12 moinho__s14__c1"data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image24,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10" data-aos="fade" data-aos-delay="300">
        {% include 'responsive-image' with
          image: section.settings.image25,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 moinho__s moinho__s15" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col5 moinho__vbottom" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image26,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
      <div class="col15" data-aos="fade" data-aos-delay="300">
        {% include 'responsive-image' with
          image: section.settings.image27,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    <div class="grid24 moinho__s moinho__s16">
      {% include 'responsive-image' with
        image: section.settings.image28,
        max_width: 3000,
        max_height: 3000
      %}
    </div>
    <div class="grid24 moinho__s moinho__s17">
      <div class="col1"></div>
      <div class="col16 moinho__s17__c1" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image29,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col5 moinho__s17__c2" data-aos="fade" data-aos-delay="300">
        {% include 'responsive-image' with
          image: section.settings.image30,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
    <div class="grid24 moinho__s moinho__s18">
      <div class="col12 moinho__s18__c1 moinho__vbottom" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image31,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 moinho__s18__c2" data-aos="fade">
        {% include 'responsive-image' with
          image: section.settings.image32,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "moinho",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      },
      {
        "type": "image_picker",
        "id": "image9",
        "label": "Image 9"
      },
      {
        "type": "image_picker",
        "id": "image10",
        "label": "Image 10"
      },
      {
        "type": "image_picker",
        "id": "image11",
        "label": "Image 11"
      },
      {
        "type": "image_picker",
        "id": "image12",
        "label": "Image 12"
      },
      {
        "type": "image_picker",
        "id": "image13",
        "label": "Image 13"
      },
      {
        "type": "image_picker",
        "id": "image14",
        "label": "Image 14"
      },
      {
        "type": "image_picker",
        "id": "image15",
        "label": "Image 15"
      },
      {
        "type": "image_picker",
        "id": "image16",
        "label": "Image 16"
      },
      {
        "type": "image_picker",
        "id": "image17",
        "label": "Image 17"
      },
      {
        "type": "image_picker",
        "id": "image18",
        "label": "Image 18"
      },
      {
        "type": "image_picker",
        "id": "image19",
        "label": "Image 19"
      },
      {
        "type": "image_picker",
        "id": "image20",
        "label": "Image 20"
      },
      {
        "type": "image_picker",
        "id": "image21",
        "label": "Image 21"
      },
      {
        "type": "image_picker",
        "id": "image22",
        "label": "Image 22"
      },
      {
        "type": "image_picker",
        "id": "image23",
        "label": "Image 23"
      },
      {
        "type": "image_picker",
        "id": "image24",
        "label": "Image 24"
      },
      {
        "type": "image_picker",
        "id": "image25",
        "label": "Image 25"
      },
      {
        "type": "image_picker",
        "id": "image26",
        "label": "Image 26"
      },
      {
        "type": "image_picker",
        "id": "image27",
        "label": "Image 27"
      },
      {
        "type": "image_picker",
        "id": "image28",
        "label": "Image 28"
      },
      {
        "type": "image_picker",
        "id": "image29",
        "label": "Image 29"
      },
      {
        "type": "image_picker",
        "id": "image30",
        "label": "Image 30"
      },
      {
        "type": "image_picker",
        "id": "image31",
        "label": "Image 31"
      },
      {
        "type": "image_picker",
        "id": "image32",
        "label": "Image 32"
      }
    ]
  }
{% endschema %}
