<section class="page__blocks national-library">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 national-library__s national-library__title" data-aos="fade-up" data-aos-delay="800">
      <div class="col4"></div>
      <div class="col7">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="col1"></div>
      <div class="col8">
        {{ section.settings.top_text }}
      </div>
      <div class="col4"></div> 
    </div>

    <div class="grid24 national-library__s national-library__s1" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image1,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s2" data-aos="fade">
      <div class="col12 national-library__s2__c1">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col6"></div>
      <div class="col5 national-library__s2__c2">
        {% include 'responsive-image' with
          image: section.settings.image3,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s3" data-aos="fade">
      <div class="col11 national-library__s3__c1">
        {% include 'responsive-image' with
          image: section.settings.image4,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12 national-library__s3__c2">
        {% include 'responsive-image' with
          image: section.settings.image5,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s4" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image6,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s5" data-aos="fade-up">
      <div class="col12 national-library__s5__c1">
        {% include 'responsive-image' with
          image: section.settings.image7,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 national-library__s5__c2">
        {% include 'responsive-image' with
          image: section.settings.image8,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s6" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image9,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s7" data-aos="fade-up">
      <div class="col12 national-library__s7__c1">
        {% include 'responsive-image' with
          image: section.settings.image10,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 national-library__s7__c2">
        {% include 'responsive-image' with
          image: section.settings.image11,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s8" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image12,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s9" data-aos="fade-up">
      <div class="col12 national-library__s9__c1">
        {% include 'responsive-image' with
          image: section.settings.image13,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col4"></div>
      <div class="col8 national-library__s9__c2">
        {% include 'responsive-image' with
          image: section.settings.image14,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    
    <div class="grid24 national-library__s national-library__s10" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image15,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s11" data-aos="fade">
      <div class="col1"></div>
      <div class="col10 national-library__s11__c1 national-library__vcenter" data-aos="fade-up">
        <div class="national-library__s11__r1">
          <div class="national-library__s11__b1">
            {% include 'responsive-image' with
              image: section.settings.image16,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="national-library__s11__b1">
            {% include 'responsive-image' with
              image: section.settings.image17,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
        <div class="national-library__s11__r1">
          <div class="national-library__s11__b1">
            {% include 'responsive-image' with
              image: section.settings.image18,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="national-library__s11__b1">
            {% include 'responsive-image' with
              image: section.settings.image19,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col1"></div>
      <div class="col12" data-aos="fade-up">
        {% include 'responsive-image' with
          image: section.settings.image20,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s12" data-aos="fade-up">
      <div class="col12 national-library__s12__c1">
        {% include 'responsive-image' with
          image: section.settings.image21,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 national-library__s12__c2">
        <div class="national-library__s12__c2__r1">
          {{ section.settings.middle_text }}
        </div>
        <div class="national-library__s12__c2__r2">
          {% include 'responsive-image' with
            image: section.settings.image22,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s13" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image23,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s14" data-aos="fade-up">
      <div class="col12 national-library__s14__c1">
        {% include 'responsive-image' with
          image: section.settings.image24,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col11 national-library__s14__c2">
        {% include 'responsive-image' with
          image: section.settings.image25,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s15" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image26,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s16" data-aos="fade-up">
      <div class="col6 national-library__s16__c1">
        {% include 'responsive-image' with
          image: section.settings.image27,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col6"></div>
      <div class="col12 national-library__s16__c2">
        {% include 'responsive-image' with
          image: section.settings.image28,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s17" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image29,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s18" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 national-library__s18__c1">
        {% include 'responsive-image' with
          image: section.settings.image30,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12 national-library__s18__c2">
        {% include 'responsive-image' with
          image: section.settings.image31,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s19" data-aos="fade-up">
      <div class="col12 national-library__s19__c1">
        {% include 'responsive-image' with
          image: section.settings.image32,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 national-library__s19__c2">
        {% include 'responsive-image' with
          image: section.settings.image33,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s20" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image34,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s21" data-aos="fade-up">
      <div class="col12 national-library__s21__c1">
        {% include 'responsive-image' with
          image: section.settings.image35,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
      <div class="col6 national-library__s21__c2">
        {% include 'responsive-image' with
          image: section.settings.image36,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col3"></div>
    </div>

    <div class="grid24 national-library__s national-library__s22" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 national-library__s22__c1">
        {% include 'responsive-image' with
          image: section.settings.image37,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12 national-library__s22__c2">
        {% include 'responsive-image' with
          image: section.settings.image38,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s23" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image39,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s24" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 national-library__s24__c1">
        <div class="national-library__s24__c1__r1">
          {{ section.settings.bottom_text }}
        </div>
        <div class="national-library__s24__c1__r2">
          {% include 'responsive-image' with
            image: section.settings.image40,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col12 national-library__s24__c2">
        {% include 'responsive-image' with
          image: section.settings.image41,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 national-library__s national-library__s25" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 national-library__s25__c1">
        {% include 'responsive-image' with
          image: section.settings.image42,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col10 national-library__s25__c2">
        {% include 'responsive-image' with
          image: section.settings.image43,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s26" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image44,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s27" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col10 national-library__s27__c1">
        {% include 'responsive-image' with
          image: section.settings.image45,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col2"></div>
      <div class="col10 national-library__s27__c2">
        {% include 'responsive-image' with
          image: section.settings.image46,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s28" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image47,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s29" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image48,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s30" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image49,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 national-library__s national-library__s31" data-aos="fade-up">
      <div class="col12 national-library__s31__c1">
        {% include 'responsive-image' with
          image: section.settings.image50,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 national-library__s31__c2">
        {% include 'responsive-image' with
          image: section.settings.image51,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s32" data-aos="fade-up">
      <div class="col12 national-library__s32__c1">
        {% include 'responsive-image' with
          image: section.settings.image52,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 national-library__s32__c2">
        {% include 'responsive-image' with
          image: section.settings.image53,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 national-library__s national-library__s33" data-aos="fade">
      <div class="col6"></div>
      <div class="col12 national-library__s33__c1">
        {% include 'responsive-image' with
          image: section.settings.image54,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col6"></div>
    </div>


  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Biblioteca Nacional",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "richtext",
        "id": "middle_text",
        "label": "Middle text"
      },
      {
        "type": "richtext",
        "id": "bottom_text",
        "label": "Bottom text"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      },
      {
        "type": "image_picker",
        "id": "image9",
        "label": "Image 9"
      },
      {
        "type": "image_picker",
        "id": "image10",
        "label": "Image 10"
      },
      {
        "type": "image_picker",
        "id": "image11",
        "label": "Image 11"
      },
      {
        "type": "image_picker",
        "id": "image12",
        "label": "Image 12"
      },
      {
        "type": "image_picker",
        "id": "image13",
        "label": "Image 13"
      },
      {
        "type": "image_picker",
        "id": "image14",
        "label": "Image 14"
      },
      {
        "type": "image_picker",
        "id": "image15",
        "label": "Image 15"
      },
      {
        "type": "image_picker",
        "id": "image16",
        "label": "Image 16"
      },
      {
        "type": "image_picker",
        "id": "image17",
        "label": "Image 17"
      },
      {
        "type": "image_picker",
        "id": "image18",
        "label": "Image 18"
      },
      {
        "type": "image_picker",
        "id": "image19",
        "label": "Image 19"
      },
      {
        "type": "image_picker",
        "id": "image20",
        "label": "Image 20"
      },
      {
        "type": "image_picker",
        "id": "image21",
        "label": "Image 21"
      },
      {
        "type": "image_picker",
        "id": "image22",
        "label": "Image 22"
      },
      {
        "type": "image_picker",
        "id": "image23",
        "label": "Image 23"
      },
      {
        "type": "image_picker",
        "id": "image24",
        "label": "Image 24"
      },
      {
        "type": "image_picker",
        "id": "image25",
        "label": "Image 25"
      },
      {
        "type": "image_picker",
        "id": "image26",
        "label": "Image 26"
      },
      {
        "type": "image_picker",
        "id": "image27",
        "label": "Image 27"
      },
      {
        "type": "image_picker",
        "id": "image28",
        "label": "Image 28"
      },
      {
        "type": "image_picker",
        "id": "image29",
        "label": "Image 29"
      },
      {
        "type": "image_picker",
        "id": "image30",
        "label": "Image 30"
      },
      {
        "type": "image_picker",
        "id": "image31",
        "label": "Image 31"
      },
      {
        "type": "image_picker",
        "id": "image32",
        "label": "Image 32"
      },
      {
        "type": "image_picker",
        "id": "image33",
        "label": "Image 33"
      },
      {
        "type": "image_picker",
        "id": "image34",
        "label": "Image 34"
      },
      {
        "type": "image_picker",
        "id": "image35",
        "label": "Image 35"
      },
      {
        "type": "image_picker",
        "id": "image36",
        "label": "Image 36"
      },
      {
        "type": "image_picker",
        "id": "image37",
        "label": "Image 37"
      },
      {
        "type": "image_picker",
        "id": "image38",
        "label": "Image 38"
      },
      {
        "type": "image_picker",
        "id": "image39",
        "label": "Image 39"
      },
      {
        "type": "image_picker",
        "id": "image40",
        "label": "Image 40"
      },
      {
        "type": "image_picker",
        "id": "image41",
        "label": "Image 41"
      },
      {
        "type": "image_picker",
        "id": "image42",
        "label": "Image 42"
      },
      {
        "type": "image_picker",
        "id": "image43",
        "label": "Image 43"
      },
      {
        "type": "image_picker",
        "id": "image44",
        "label": "Image 44"
      },
      {
        "type": "image_picker",
        "id": "image45",
        "label": "Image 45"
      },
      {
        "type": "image_picker",
        "id": "image46",
        "label": "Image 46"
      },
      {
        "type": "image_picker",
        "id": "image47",
        "label": "Image 47"
      },
      {
        "type": "image_picker",
        "id": "image48",
        "label": "Image 48"
      },
      {
        "type": "image_picker",
        "id": "image49",
        "label": "Image 49"
      },
      {
        "type": "image_picker",
        "id": "image50",
        "label": "Image 50"
      },
      {
        "type": "image_picker",
        "id": "image51",
        "label": "Image 51"
      },
      {
        "type": "image_picker",
        "id": "image52",
        "label": "Image 52"
      },
      {
        "type": "image_picker",
        "id": "image53",
        "label": "Image 53"
      },
      {
        "type": "image_picker",
        "id": "image54",
        "label": "Image 54"
      }
    ]
  }
{% endschema %}