<section class="page__blocks palaciob">
  <div class="page__blocks-holder grid24__container">
    <div class="grid24 palaciob__s palaciob__s1">
      <div class="col4"></div>
      <div class="col7">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="col1"></div>
      <div class="col7">
        {{ section.settings.top_text }}
      </div>
      <div class="col5"></div> 
    </div>

    <div class="grid24 palaciob__s palaciob__s2" data-aos="fade-up" data-aos-delay="800">
      {% include 'responsive-image' with
        image: section.settings.image1,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s3" data-aos="fade">
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image2,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col4"></div>
      <div class="col7 palaciob__s3__c1">
        {% include 'responsive-image' with
          image: section.settings.image3,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 palaciob__s palaciob__s4" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image4,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s5" data-aos="fade">
      <div class="col12 palaciob__s5__c1">
        {% include 'responsive-image' with
          image: section.settings.image5,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 palaciob__vcenter">
        {% include 'responsive-image' with
          image: section.settings.image6,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 palaciob__s palaciob__s6" data-aos="fade-up">
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image7,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 palaciob__s6__c1 palaciob__vbottom" data-aos="fade-up">
        <div class="palaciob__s6__r1">
          <div class="palaciob__s6__b1">
            {% include 'responsive-image' with
              image: section.settings.image8,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="palaciob__s6__b1">
            {% include 'responsive-image' with
              image: section.settings.image9,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 palaciob__s palaciob__s7" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image10,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s8" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image11,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s9" data-aos="fade">
      <div class="col12 palaciob__s9__c1">
        {% include 'responsive-image' with
          image: section.settings.image12,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image13,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s10" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image14,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s11" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image15,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s12" data-aos="fade-up">
      <div class="col1"></div>
      <div class="col8 palaciob__s12__c1">
        <div class="palaciob__s12__b1">
          <div data-aos="fade-right">{{ section.settings.text_1 }}</div>
        </div>
        <div class="palaciob__s12__b2" data-aos="fade">
          {% include 'responsive-image' with
            image: section.settings.image16,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col14">
        {% include 'responsive-image' with
          image: section.settings.image17,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s13" data-aos="fade">
      <div class="col17">
        {% include 'responsive-image' with
          image: section.settings.image18,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s14" data-aos="fade-up">
      {% include 'responsive-image' with
        image: section.settings.image19,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s15" data-aos="fade">
      <div class="col1"></div>
      <div class="col10 palaciob__s15__c1 palaciob__vcenter">
        {% include 'responsive-image' with
          image: section.settings.image20,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image21,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s16" data-aos="fade-up">
      <div class="col4"></div>
      <div class="col20">
        {% include 'responsive-image' with
          image: section.settings.image22,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s17" data-aos="fade">
      {% include 'responsive-image' with
        image: section.settings.image23,
        max_width: 3000,
        max_height: 3000
      %}
    </div>

    <div class="grid24 palaciob__s palaciob__s18" data-aos="fade-up">
      <div class="col12 palaciob__s18__c1">
        {% include 'responsive-image' with
          image: section.settings.image24,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col10 palaciob__vcenter">
        {% include 'responsive-image' with
          image: section.settings.image25,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
    </div>

    <div class="grid24 palaciob__s palaciob__s19" data-aos="fade">
      <div class="col1"></div>
      <div class="col10 palaciob__s19__c1" data-aos="fade-up">
        <div class="palaciob__s19__r1">
          <div class="palaciob__s19__b1">
            {% include 'responsive-image' with
              image: section.settings.image26,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
          <div class="palaciob__s19__b1">
            {% include 'responsive-image' with
              image: section.settings.image27,
              max_width: 3000,
              max_height: 3000
            %}
          </div>
        </div>
        <div class="palaciob__s19__r2">
          {% include 'responsive-image' with
            image: section.settings.image28,
            max_width: 3000,
            max_height: 3000
          %}
        </div>
      </div>
      <div class="col1"></div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image29,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s20" data-aos="fade-up">
      <div class="col11 palaciob__s20__c1 palaciob__vcenter">
        {% include 'responsive-image' with
          image: section.settings.image30,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
      <div class="col1"></div>
      <div class="col12">
        {% include 'responsive-image' with
          image: section.settings.image31,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>

    <div class="grid24 palaciob__s palaciob__s21" data-aos="fade">
      <div class="col8"></div>
      <div class="col16">
        {% include 'responsive-image' with
          image: section.settings.image32,
          max_width: 3000,
          max_height: 3000
        %}
      </div>
    </div>
    
  </div>
  {% include 'back-to-top' %}
</section>

{% schema %}
  {
    "name": "Palácio da Bolsa",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Page title"
      },
      {
        "type": "richtext",
        "id": "top_text",
        "label": "Top text"
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": "Text 1"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image 4"
      },
      {
        "type": "image_picker",
        "id": "image5",
        "label": "Image 5"
      },
      {
        "type": "image_picker",
        "id": "image6",
        "label": "Image 6"
      },
      {
        "type": "image_picker",
        "id": "image7",
        "label": "Image 7"
      },
      {
        "type": "image_picker",
        "id": "image8",
        "label": "Image 8"
      },
      {
        "type": "image_picker",
        "id": "image9",
        "label": "Image 9"
      },
      {
        "type": "image_picker",
        "id": "image10",
        "label": "Image 10"
      },
      {
        "type": "image_picker",
        "id": "image11",
        "label": "Image 11"
      },
      {
        "type": "image_picker",
        "id": "image12",
        "label": "Image 12"
      },
      {
        "type": "image_picker",
        "id": "image13",
        "label": "Image 13"
      },
      {
        "type": "image_picker",
        "id": "image14",
        "label": "Image 14"
      },
      {
        "type": "image_picker",
        "id": "image15",
        "label": "Image 15"
      },
      {
        "type": "image_picker",
        "id": "image16",
        "label": "Image 16"
      },
      {
        "type": "image_picker",
        "id": "image17",
        "label": "Image 17"
      },
      {
        "type": "image_picker",
        "id": "image18",
        "label": "Image 18"
      },
      {
        "type": "image_picker",
        "id": "image19",
        "label": "Image 19"
      },
      {
        "type": "image_picker",
        "id": "image20",
        "label": "Image 20"
      },
      {
        "type": "image_picker",
        "id": "image21",
        "label": "Image 21"
      },
      {
        "type": "image_picker",
        "id": "image22",
        "label": "Image 22"
      },
      {
        "type": "image_picker",
        "id": "image23",
        "label": "Image 23"
      },
      {
        "type": "image_picker",
        "id": "image24",
        "label": "Image 24"
      },
      {
        "type": "image_picker",
        "id": "image25",
        "label": "Image 25"
      },
      {
        "type": "image_picker",
        "id": "image26",
        "label": "Image 26"
      },
      {
        "type": "image_picker",
        "id": "image27",
        "label": "Image 27"
      },
      {
        "type": "image_picker",
        "id": "image28",
        "label": "Image 28"
      },
      {
        "type": "image_picker",
        "id": "image29",
        "label": "Image 29"
      },
      {
        "type": "image_picker",
        "id": "image30",
        "label": "Image 30"
      },
      {
        "type": "image_picker",
        "id": "image31",
        "label": "Image 31"
      },
      {
        "type": "image_picker",
        "id": "image32",
        "label": "Image 32"
      }
    ]
  }
{% endschema %}
