<section data-section-id="{{ section.id }}" data-section-type="product" class="product {% unless product.has_only_default_variant %}product--with-options{% endunless %}">
  <div class="product__holder">
    {% if collection != blank %}
      <div class="product__back">
        <a href="{{ collection.url }}" class="link" data-action="history-back">≤ {{ 'general.back_btn.text' | t }}</a>
      </div>
    {% endif %}

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

    <div class="product__img {% if product.images.size > 1 %}product__img--multiple{% endif %}" data-aos="fade-in" data-aos-delay="400">
      <div class="product__swiper swiper-container" data-role="product-slider">
        <div class="swiper-wrapper">
          {% for image in product.images %}
            <div class="swiper-slide">
              {% include 'responsive-image' with
                image: image,
                max_width: 1600,
                max_height: 1600,
                image_attributes: "data-product-featured-image",
                wrapper_class: wrapper_class,
                wrapper_attributes: "data-product-image-wrapper",
              %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination product__pagination"></div>
      </div>

      {% if product.images.size > 1 %}
        <div class="product__thumbnail swiper-container" data-role="thumb-slider">
          <div class="swiper-wrapper">
            {% for image in product.images %}
              <div class="swiper-slide" data-swiper-slide-index="{{ forloop.index0 }}" data-role="thumb">
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110' }}" alt="{{ image.alt | escape }}">
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      
      {%- comment -%}
      {% if product.images.size > 1 %}
        <ul>
          {% for image in product.images %}
            <li>
              <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {%- endcomment -%}
    </div>

    <div class="product__info" data-aos="fade-in">
      <div class="product__back tablet">
        <a href="{{ collection.url }}" class="link">≤ BACK</a>
      </div>
      <div class="product__table">
        <div>
          <p>
            {% if product.metafields.eae.info['brand_descr'] != blank %}
              {{ product.metafields.eae.info['brand_descr'] }} •
            {% endif %}
            {{ product.metafields.eae.info['range'] }}
          </p>
          <p>{{ product.metafields.eae.translations['descr'] | newline_to_br }}</p>
        </div>
      </div>

      {% if product.metafields.eae.translations['specs'] != blank %}
        <div class="product__content">
          <p>{{ product.metafields.eae.translations['specs'] | newline_to_br }}</p>
        </div>
      {% endif %}

      {% if product.metafields.eae.translations['dimen'] != blank or product.has_only_default_variant %}
        <div class="product__table">
          <div class="product__table__name">
            {% if product.has_only_default_variant %}
              <p>REF. {{ product.metafields.eae.info['ref'] }}</p>
            {% else %}
              <p>{{ 'products.product.dimensions' | t }}</p>
            {% endif %}
          </div>
          <div class="product__table__info">
            <p>{{ product.metafields.eae.translations['dimen'] | newline_to_br }}</p>
          </div>
        </div>
      {% endif %}

      {% unless product.has_only_default_variant %}
        {% for variant in product.variants %}
          <div class="product__variant" data-role="variant">
            <a href="#" class="product__variant-description arrow-link-zone" data-action="open-variant">
              <div class="product__variant-name arrow-link">
                {{ variant.metafields.eae.translations['descr'] }}
              </div>
              <div class="product__variant-ref">
                <span class="product__variant-ref-price">
                  {% if variant.compare_at_price > variant.price %}
                    <s class="product__button__old-price">
                      {{ variant.compare_at_price | money }}
                    </s>
                  {% endif %}
                  <span>
                    {{ variant.price | money }}
                  </span>
                </span>
                <span class="product__variant-ref-ref">
                  REF. {{ variant.metafields.eae.info['ref'] }}
                </span>
              </div>
              {% if variant.metafields.eae.translations['dimen'] != blank %}
                <div class="product__variant-dimensions">
                  {{ variant.metafields.eae.translations['dimen'] | newline_to_br }}
                </div>
              {% endif %}
            </a>
            <div class="product__variant-control-wrap">
              <div class="product__variant-control">
                {% if variant.metafields.eae.info.disc_start != blank %}
                  <div class="product__variant-promo">
                    {% assign discount_perc = variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | round | append: '%' %}
                    {% if variant.metafields.eae.info.price_type == 3 %}
                      {{ 'products.product.on_sale_from_to' | t: discount_perc: discount_perc, sale_from: variant.metafields.eae.info.disc_start, sale_to: variant.metafields.eae.info.disc_end }}
                    {% else %}
                      {{ 'products.product.on_promo_from_to' | t: discount_perc: discount_perc, sale_from: variant.metafields.eae.info.disc_start, sale_to: variant.metafields.eae.info.disc_end }}
                    {% endif %}
                  </div>
                {% endif %}

                <div class="product__button">
                  <div class="product__button__price {% unless variant.available %} product__button__price--unavailable {% endunless %}">
                    <div>
                      {% if variant.compare_at_price > product.price %}
                        <s class="product__button__old-price">
                          {% if variant.compare_at_price > variant.price %}
                            {{ variant.compare_at_price | money }}
                          {% endif %}
                        </s>
                      {% endif %}
                      <span>
                        {{ variant.price | money }}
                      </span>
                    </div>
                    {% if variant.available != blank %}
                      <div data-role="qtd-input">
                        <a class="decrease" data-action="decrease">-</a>
                        <input type="number" name="quantity[{{ variant.id }}]" value="1" min="1" data-role="variant-quantity">
                        <a class="increase" data-action="increase">+</a>
                      </div>
                    {% endif %}
                  </div>
        
                  {% if variant.available != blank %}
                    <button
                      type="button"
                      name="add_variant"
                      data-action="add-variant"
                      data-option="{{ variant.option1 | escape }}"
                      class="button">
    
                        {{ 'products.product.add_to_cart' | t }}
                
                    </button>
                  {% endif %}
                </div>
                {% include 'stock-info' %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endunless %}

      {% if product.has_only_default_variant and current_variant.metafields.eae.info.disc_start != blank %}
        <div class="product__content">
          <p>
            {% assign discount_perc = current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round | append: '%' %}
            {% if current_variant.metafields.eae.info.price_type == 3 %}
              {{ 'products.product.on_sale_from_to' | t: discount_perc: discount_perc, sale_from: current_variant.metafields.eae.info.disc_start, sale_to: current_variant.metafields.eae.info.disc_end }}
            {% else %}
              {{ 'products.product.on_promo_from_to' | t: discount_perc: discount_perc, sale_from: current_variant.metafields.eae.info.disc_start, sale_to: current_variant.metafields.eae.info.disc_end }}
            {% endif %}
          </p>
        </div>
      {% endif %}
      
      {%- comment -%}
      <h1>{{ product.title }}</h1>
      <p>{{ product.vendor }}</p>

      <h1>{{ shop.locale }} {{ product.metafields.eae.translations[shop.locale]['descr'] }}s</h1>
      {%- endcomment -%}


      {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
        {% unless product.has_only_default_variant %}
          {% for option in product.options_with_values %}
            <div class="js">

              {% if forloop.index0 > 0 %}

                {% for value in option.values %}
                  <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}"{% if option.selected_value == value %} checked{% endif %}>
                  <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                {% endfor %}

              {% else %}

                <label for="Option{{ option.position }}">
                  {{ option.name }}
                </label>

                <select
                  data-role="variant-select"
                  id="Option{{ option.position }}"
                  name="options[{{ option.name | escape }}]">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>

              {% endif %}
            </div>
          {% endfor %}
        {% endunless %}

        <noscript>
          <select name="id">
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>
        </noscript>

        {%- comment -%}<label for="Quantity">{{ 'products.product.quantity' | t }}</label>{%- endcomment -%}

        <div class="product__button">
          <div class="product__button__price {% unless current_variant.available %} product__button__price--unavailable {% endunless %}">
            <div data-price-wrapper>
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price class="product__button__old-price">
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
              <span data-product-price>
                {{ current_variant.price | money }}
              </span>
            </div>
            {% if current_variant.available != blank %}
              <div data-role="qtd-input">
                <a class="decrease" data-action="decrease">-</a>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" data-role="input-quantity">
                <a class="increase" data-action="increase">+</a>
              </div>
            {% endif %}
          </div>

          {% if current_variant.available != blank %}
            <button
              type="submit"
              name="add"
              data-submit-button
              class="button"
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-submit-button-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
          {% endif %}
        </div>
      {% endform %}

      {% for product_collection in product.collections %}
        {% if product_collection.metafields.areastore.promobar == true %}
          <div class="product__promo">
            <p>
              {% if shop.locale == 'pt-PT' %}
                {{ product_collection.metafields.areastore.promobar_text_pt }}
              {% else %}
                {{ product_collection.metafields.areastore.promobar_text_en }}
              {% endif %}
            </p>
          </div>
        {% endif %}
      {% endfor %}

      {% if product.has_only_default_variant %}
        {% include 'stock-info', variant: current_variant %}
      {% endif %}

      {% if product.tags contains 'nonrefundable' %}
        <div class="product__nonrefundable-note">
          <a class="link arrow-link" href="{% unless request.locale.primary %}/{{ request.locale.iso_code }}{% endunless %}/pages/condicoes-de-venda-2025">{{ 'products.product.nonrefundable_note' | t }}</a>
        </div>
      {% endif %} 
      
      {%- comment -%}
      <div class="rte">
        {{ product.description }}
      </div>
 
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}
      {%- endcomment -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
