{% assign urlSlug = request.path | split:'/' | last %}
<section class="store swiper-container">
  <div class="store-slider" data-role="store-swiper">
    <div class="store-slider__slides swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.slug == urlSlug %}
          {% assign iterator = "1,2,3,4,5,6,7,8,9,10" | split: ',' %}
          {% for i in iterator %}
            {% assign imageKey = 'image' | append: i %}
            {% assign foregroundKey = 'white_foreground_image' | append: i %}
            {% if block.settings[imageKey] != blank %}
              <div class="swiper-slide" data-foreground="{{ block.settings[foregroundKey] }}">
                {% assign imgs = block.settings[imageKey] %}
                {% include 'stores-images' %}
              </div>
            {% endif %} 
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    {% include 'navigation-slider' %}
  </div>
  {% for block in section.blocks %}
    {% if block.settings.slug == urlSlug %}
      <div class="store-info">
        <div>
          {% if block.settings.name != blank %}
            <p>{{block.settings.name}}</p>
          {% endif %}
          {% if block.settings.address != blank %}
            {{block.settings.address}}
          {% endif %}
        </div>
        <div>
          {% if block.settings.opening_times != blank %}
            {{block.settings.opening_times}}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section>

{% schema %}
  {
    "name": "Stores",
    "blocks": [
      {
        "type": "select",
        "name": "Stores",
        "settings": [
          {
            "id": "image1",
            "type": "image_picker",
            "label": "Image 1"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image1",
            "label": "White foreground - Image 1",
            "default": false,
            "info": "Check if background is dark over the header and sidebar"
          },
          {
            "id": "image2",
            "type": "image_picker",
            "label": "Image 2"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image2",
            "label": "White foreground - Image 2",
            "default": false
          },
          {
            "id": "image3",
            "type": "image_picker",
            "label": "Image 3"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image3",
            "label": "White foreground - Image 3",
            "default": false
          },
          {
            "id": "image4",
            "type": "image_picker",
            "label": "Image 4"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image4",
            "label": "White foreground - Image 4",
            "default": false
          },
          {
            "id": "image5",
            "type": "image_picker",
            "label": "Image 5"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image5",
            "label": "White foreground - Image 5",
            "default": false
          },
          {
            "id": "image6",
            "type": "image_picker",
            "label": "Image 6"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image6",
            "label": "White foreground - Image 6",
            "default": false
          },
          {
            "id": "image7",
            "type": "image_picker",
            "label": "Image 7"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image7",
            "label": "White foreground - Image 7",
            "default": false
          },
          {
            "id": "image8",
            "type": "image_picker",
            "label": "Image 8"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image8",
            "label": "White foreground - Image 8",
            "default": false
          },
          {
            "id": "image9",
            "type": "image_picker",
            "label": "Image 9"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image9",
            "label": "White foreground - Image 9",
            "default": false
          },
          {
            "id": "image10",
            "type": "image_picker",
            "label": "Image 10"
          },
          {
            "type": "checkbox",
            "id": "white_foreground_image10",
            "label": "White foreground - Image 10",
            "default": false
          },
          {
            "id": "name",
            "type": "text",
            "label": "Store name"
          },
          {
            "id": "slug",
            "type": "text",
            "label": "Store slug",
            "info": "Store slug needs to be the same as url param"
          },
          {
            "id": "address",
            "type": "richtext",
            "label": "Store address"
          },
          {
            "id": "opening_times",
            "type": "richtext",
            "label": "Store opening times"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Stores",
        "category": "Area Theme"
      }
    ]
  }
{% endschema %}