.back-to-top {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  @include media_query($medium-up) {
    padding: 30px 0;
  }

  .button {
    width: 100%;

    @include media_query($medium-up) {
      width: 290px;
    }

    @include media_query($large-up) {
      width: 225px;
    }
  }
}
