.block-right-text {
  display: block;
  margin: 30px 0;

  @include media_query($medium-up) {
    display: flex;
    flex-direction: row-reverse;
  }

  @include media_query($large-up) {
    margin: 40px 0;
  }

  &__img-col {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 70%;
      margin: 15px 0;
    }

    @include media_query($medium-up) {
      display: flex;
      justify-content: center;
      width: 50%;

      img {
        width: 66%;
        margin: 0;
      }
    }

    @include media_query($large-up) {
      flex-shrink: 0;
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  &__text-col {
    .h1 {
      margin: 0 0 20px;
      max-width: 70%;

      @include media_query($medium-up) {
        margin: 25px 0;
      }
  
      @include media_query($large-up) {
        margin: 50px 0;
        max-width: 450px;
      }
    }
    
    @include media_query($medium-up) {
      display: flex;
      align-items: center;
      width: 50%;
    }

    @include media_query($large-up) {
      justify-content: center;
      width: 67%;
    }
  }

  &__text {
    @include media_query($medium-up) {
      width: 83%;
      padding: 10px 0;
    }

    @include media_query($large-up) {
      width: 60%;
      padding: 30px 0;
    }
  }

  &__caption {
    display: none;

    @include media_query($medium-up) {
      display: block;
      margin-top: 60px;
    }
  }

  &__caption-mobile {
    width: 100%;

    @include media_query($medium-up) {
      display: none;
    }
  }
}
