.block-two-cols-image {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  &__img-holder {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media_query($medium-up) {
      flex-direction: row;
    }
  }

  &__wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin-bottom: 5px;
    }

    img {
      width: 100%;
      height: 100%;

      @include media_query($medium-up) {
        object-fit: cover;
      }
    }

    @include media_query($medium-up) {
      &:first-child {
        margin-right: 2.5px;
        margin-bottom: 0;
      }

      &:last-child {
        margin-left: 2.5px;
      }
    }

    a {
      height: 100%;
    }
  }

  &__sizer {
    position: relative;
    overflow: hidden;

    & > a img {
      transition: transform 1500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      & > a img {
        transform: scale(1.04);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /*
    &-small {
      height: 250px;

      @include media_query($large-up) {
        height: 450px;
      }

      a {
        height: 100%;
        width: 100%;
      }
    }
    */
  }
  

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px;
    max-width: 480px;

    @include media_query($large-up) {
      padding: 20px 30px;
    }

    h1 {
      color: $color-body;
      margin: 0;
    }

    &--black {
      h1 {
        color: $color-body-text;
      }
    }
  }
}
