.block-two-cols-text {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  @include media_query($medium-up) {
    margin-bottom: 60px;
  }

  &__holder {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media_query($medium-up) {
      flex-direction: row;
    }

    @include media_query($large-up) {
      width: calc(100% / 12 * 10);
    }
  }

  &__col {
    width: 100%;

    @include media_query($medium-up) {
      width: 50%;
    }
  }

  &__title {
    @include media_query($medium-up) {
      max-width: 90%;
    }

    @include media_query($large-up) {
      max-width: 80%;
    }

    h1 {
      margin: 6px 0;
    }
  }

  &__content {
    @include media_query($large-up) {
      max-width: 400px;
    }
  }
}
