.block-two-cols-image-text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  &__holder {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media_query($medium-up) {
      flex-direction: row;
    }
  }

  &__col {
    width: 100%;

    @include media_query($medium-up) {
      width: 50%;
    }
  }

  &__image {
    padding: 50px 30%;

    @include media_query($large-up) {
      padding: 80px 12.5vw;
    }

    @include media_query($large-up) {
      padding: 80px 13.5vw;
    }
  }

  &__content__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;

    @include media_query($large-up) {
      width: 66%;
    }
  }

  &__content__image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;

    img {
      width: 50%;

      @include media_query($large-up) {
        width: 80%;
      }
    }

    @include media_query($medium-up) {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    @include media_query($large-up) {
      justify-content: flex-end;
      margin-top: 65px;
      margin-bottom: 75px;
    }
  }
}
