.block-image-full {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  &__img-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    a {
      height: 100%;
    }
  }

  &__img {
    height: 100%;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    max-width: 480px;

    h1 {
      color: $color-body;
      margin: 0;
    }

    &--black {
      h1 {
        color: $color-body-text;
      }
    }
  }
}
