.block-two-cols-image-9-3 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  &__img-holder {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media_query($medium-up) {
      flex-direction: row;
    }
  }

  &__wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: 5px;
    }

    @include media_query($medium-up) {
      &:first-child {
        margin-right: 2.5px;
        margin-bottom: 0;
        width: 75%;
      }

      &:last-child {
        margin-left: 2.5px;
        width: 25%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    a {
      height: 100%;
    }
  }

  &__img {
    height: 100%;
    
    &-small {
      height: 250px;

      @include media_query($large-up) {
        height: 450px;
      }
    }
  }
  

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    max-width: 480px;

    @include media_query($large-up) {
      padding: 20px 30px;
    }

    h1 {
      color: $color-body;
      margin: 0;
    }

    &--black {
      h1 {
        color: $color-body-text;
      }
    }
  }
}
