.block-left-text {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

  @include media_query($medium-up) {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
  }

  @include media_query($large-up) {
    margin: 40px 0;
  }

  &__text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media_query($medium-up) {
      width: 50%;
    }

    @include media_query($large-up) {
      width: 33%;
    }

    .h1 {
      margin: 0 0 20px;
      max-width: 70%;

      @include media_query($medium-up) {
        margin: 25px 0;
      }
  
      @include media_query($large-up) {
        margin: 50px 0;
        max-width: 450px;
      }
    }
  }

  &__text {
    padding-bottom: 10px;

    @include media_query($medium-up) {
      padding-right: 40px;
      padding-bottom: 0;
    }

    @include media_query($large-up) {
      padding-right: 0;
    }
  }

  &__small-img {
    display: none;

    @include media_query($medium-up) {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include media_query($large-up) {
      justify-content: flex-end;
    }

    img {
      width: 33%;
    
      @include media_query($large-up) {
        width: 66%;
      }
      
    }
  }

  &__small-img-mobile {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include media_query($medium-up) {
      display: none;
    }

    img {
      width: 50%;
    }
  }

  &__image-col {
    width: 100%;

    @include media_query($medium-up) {
      width: 50%;
    }

    @include media_query($large-up) {
      width: 55%;
    }
  }
}
