.cart-items__no-items {
  padding: 27px 0;
}

.cart-item {
  padding: 27px 0 15px;
  border-top: 1px solid #000000;
  text-transform: uppercase;

  &:first-child {
    border-top: none;
  }

  &__alt-wrapper {
    display: none;
  }

  &__info {
    display: flex;
    margin-bottom: 4px;

    > div {
      width: 50%;
    }
  }

  &__name {
    margin-bottom: 4px;
  }

  &__thumb-qtd {
    display: flex;

    > div {
      width: 50%;
    }
  }

  &__thumb {
    img {
      width: 125px;
      height: 100px;
      object-fit: contain;
    }
  }

  .quantity-input {
    margin-top: 7px;
    margin-bottom: 18px;

    input {
      color: #000000;
    }
  }

  &__price s {
    margin-right: 8px;
  }
}
