.cart-totals {
  text-transform: uppercase;

  &__col1,
  &__col2 {
    width: 50%;
  }

  &__subtotal {
    display: flex;
    padding: 27px 0 0;
  }

  &__discount,
  &__shipping {
    margin-top: 17px;
    display: flex;
  }

  &__control {
    height: 100px;
    margin-top: 27px;

    > div {
      height: 50%;
    }
  }

  &__control-total {
    display: flex;
    height: 100%;
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-right: 1px solid $color-border;
    background-color: $color-grey1;
    justify-content: center;
    align-items: center;
  }

  &__control-actions {
    display: flex;

    input, button {
      width: 50%;
      text-transform: uppercase;
      white-space: normal;
    }

    :first-child {
      border-right: none;
    }

    .js-empty-cart & {
      input, button {
        width: 100%;
      }
      :first-child {
        border-right: 1px solid;
      }
      .cart-totals__checkout-button {
        display: none;
      }
    }
  }

  &__promo {
    display: none;
    margin-top: 27px;
  }
}
