.collection-filters {
  display: none;
  text-transform: uppercase;
  width: auto;
  transition: opacity 300ms ease-out;

  .collection-filters-mobile & {
    display: block;
    margin-bottom: 20px;

    @include media_query($medium-up) {
      display: none;
    }
  }

  @include media_query($medium-up) {
    z-index: 100;
    position: relative;
    top: auto;
    left: auto;
    display: block;
    width: 100%
  }

  @include media_query($large-up) {
    width: calc(100% / 2);
    display: flex;
    height: auto;
    align-items: flex-start;
  }

  &__col {
    width: 100%;
    display: flex;

    @include media_query($medium-up) {
      justify-content: flex-end;
    }
    
    @include media_query($large-up) {
      position: relative;
      width: calc(100% / 2);
      justify-content: start;
    }
  }

  &__title {
    width: 80px;
    margin-bottom: 4px;
    flex-shrink: 0;

    @include media_query($large-up) {
      width: 70px;
    }

    a {
      line-height: 1.3rem;
    }
  }

  &__options {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 140px;

    @include media_query($medium-up) {
      width: 100%;
    }

    a {
      transition: all 0.5s;
      opacity: 0;

      &::before {
        content: '\2265';
        display: inline;
        margin-right: 5px;
        margin-top: -1px;
        opacity: 0;
        transition: opacity 300ms ease-out;
      }

      &:first-child {
        opacity: 1;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__inner-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 12px;
    display: flex;
    flex-direction: column;
    transition: max-height 0.2s linear;

    &.show {
      z-index: 10;
      max-height: 120px;
      background-color: $color-body;
      
      @include media_query($large-up) {
        background-color: transparent;
      }
      
      .link {
        opacity: 1;

        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
