.cookie__bar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 5;
  width: calc(100% - 40px);
  opacity: 0;
  visibility: hidden;

  &--show {
    opacity: 1;
    visibility: visible;
  }

  @include media_query($medium-up) {
    max-width: 340px;
    right: 30px;
    left: auto;
  }
}

.cookie__notice {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  transition: color $transition-sec;

  a {
    text-align: center;
    border: 1px solid;
    width: 50%;
    padding: 15px 0;
    text-transform: uppercase;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
      border-left: none;
    }
  }
}

.cookie__btn {
  display: flex;
  justify-content: space-between;
}

.cookie__text {
  text-transform: uppercase;
  text-align: center;
  padding: 15px 53px;
  line-height: 14px;
}

.white-foreground {
  .cookie__notice {
    color: $color-body;

    a {
      color: $color-body;
    }
  }
}
