.discount {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 5;
  width: 100%;
  transition: color $transition-sec;
  overflow: hidden;

  &--collection {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background: linear-gradient(to top, rgba(245, 244, 242, 1) 0%, rgba(245, 244, 242, 0.8) 50%, rgba(245, 244, 242, 0) 100%);
  }

  .js-split-slide & {
    color: $color-body-text !important;
  }

  .h1 {
    display: inline-block;

    @include media_query($medium-up) {
      font-size: 30px;
    }
  }

  &__loop {
    width: fit-content;
    white-space: nowrap;
    animation: loop-anim 50s linear infinite;
    font-weight: 300;

    @include media_query($medium-up) {
      animation: loop-anim 80s linear infinite;
    }
  }
}

.white-foreground {
  .discount {
    color: $color-body;
  }
}

@keyframes loop-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

