.logo-area {
  position: relative;
  width: 173px;
  height: 63px;

  svg {
    transition: fill $transition-sec;
  }

  &__infinity {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__area {
    position: absolute;
    bottom: 0;
  }
}

.white-foreground {
  svg {
    fill: $color-body;
  }
}
