.navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  bottom: 0;
  opacity: 0;
  width: 100%;
  padding: 50px $grid-padding-mobile 20px;
  background-color: $color-body;
  transform: translateX(-100%);
  transition: transform 1000ms $ease-out, opacity 1000ms $ease-out;

  @include media_query($medium-up) {
    max-width: 320px;
    padding: 50px $grid-padding 30px;
  }

  @include media_query($large-up) {
    top: 100px;
    bottom: auto;
    left: ($grid-padding - 15px); 
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: none;
    transform: none;
    padding: 0;
    background-color: transparent;
    width: calc((100% - (#{$grid-padding} * 2)) / 12 * 3);
    pointer-events: none;

    ul {
      pointer-events: auto;
    }
  }
  
  &--gallery {
    @include media_query($large-up) {
      display: none;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      position: relative;

      &[data-role="submenu-trigger"] {
        &:nth-child(3) {
          ul {
            &._open{
              margin-bottom: 0;
            }
          }
        }
      }

      .link {
        cursor: pointer;
        transition: color $transition-sec, transform 0.4s ease-in;
        position: relative;

        &::before {
          content: '≥';
          position: absolute;
          left: -15px;
          top: -1px;
          color: $color-body-text;
          opacity: 0;
          transition: opacity 0.3s ease-in;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }

        &.current-item {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  & > ul {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;   
    overflow-y: auto;
    height: calc(100% - 50px);
    @include media_query($large-up) {  
      height: calc(100vh - 100px);
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      .has-discount-bar & {
        max-height: calc(100vh - 148px);
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__space {
    height: 16.8px;
  }
  
  &__submenu {
    height: 0;
    padding-left: 14px;
    overflow: hidden;
    transition: height 500ms ease-in;

    > ul {
      > li {
        opacity: 0;
        transition: opacity 300ms ease-in;
      }
    }

    &._open {
      transition: height 500ms ease-out;
      height: auto;

      & > ul > li {
        opacity: 1;
      }
    }
  }

  &__bottom {
    @include media_query($large-up) {
      display: none;
    }
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    width: calc(100% - #{$grid-padding-mobile * 2});
    transition: opacity 0.5s linear;

    @include media_query($medium-up) {
      bottom: 30px;
      width: calc(320px - 60px);
    }
  }

  &--opened {
    transition: transform 600ms cubic-bezier(0.18, 1, 0.21, 1), opacity 600ms cubic-bezier(0.18, 1, 0.21, 1);
    transform: translateX(0);
    opacity: 1;

    .link {
      color: $color-body-text;
    }

    .navigation__bottom {
      opacity: 1;
      visibility: visible;
    }

    + .wrapper {
      .logo {
        z-index: 5;
      }
    }

    li {
      &::before {
        color: $color-body-text !important;
      }
    }
  }
}

.white-foreground {
  .navigation {
    li {
      .link {
        &::before {
          color: $color-body;
        } 
      }
    }
  }
}
