.slider__arrow-left,
.slider__arrow-right {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }

  svg {
    margin-right: 22px;
    width: 22px;
    height: 17px;
    
    @include media_query($medium-up) {
      margin-right: 27%;
      width: auto;
      height: auto;
    }

    path {
      stroke-width: 0;
      fill: $color-body-text;
      transition: fill $transition-sec;
    }
  }
}

.slider__arrow-left {
  transform: rotate(-180deg);
  right: auto;
  left: 0;
  cursor: url('../assets/icons/arrow-left-black.svg') 0 16, auto;
}

.slider__arrow-right {
  left: auto;
  right: 0;
  cursor: url('../assets/icons/arrow-right-black.svg') 29 16, auto;
}

.white-foreground {
  .home-slider,
  .home-slider-mobile,
  .store-slider {
    .slider__arrow-left {
      cursor: url('../assets/icons/arrow-left.svg') 0 16, auto;
    }
  }
}

.white-foreground-bar {
  .home-slider,
  .home-slider-mobile,
  .store-slider {
    .slider__arrow-right {
      cursor: url('../assets/icons/arrow-right.svg') 29 16, auto;
    }
  }
}
