.newsletter {
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 7px 0;
    height: auto;
    margin-top: 16px;
  }

  button[type="submit"] {
    position: absolute;
    right: 0;
    bottom: 9px;
  }
}
