.product-block {
  padding-right: 20px;

  &__link {
    display: block;
  }

  &__image-holder {
    position: relative;
    padding-top: 100%;
    height: 0;
  }

  &__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__image {
    max-height: 100%;
    margin: 0;

    img {
      object-fit: contain;
      object-position: center;
      transition: transform 900ms $ease-out;

      @include media_query($medium-up) {
        object-position: left;
      }
    }
  }
 
  &__title-price {
    p {
      text-transform: uppercase;
      margin: 0;
    }
  }

  &:hover {
    .product-block__image img {
      transform: scale(1.05);
    }
  }

  &__price {
    s {
      margin-right: 8px;
    }
  }
}
