.quick-cart {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-body;
  text-transform: uppercase;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1000ms $ease-out, opacity 1000ms $ease-out;

  @include media_query($medium-up) {
    width: calc((100% - #{$grid-padding} * 2) / 12 * 5 + #{$grid-padding} * 2); 
  }

  @include media_query($large-up) {
    width: calc((100% - #{$grid-padding} * 2) / 12 * 3 + #{$grid-padding} * 2);
  }

  &__inner {
    transition: opacity 300ms ease-in-out;
    overflow-y: auto;
    height: 100%;
    padding: 136px $grid-padding-mobile 80px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include media_query($medium-up) {
      padding: $header-height $grid-padding 80px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    
    .js-cart-loading & {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(245,244,242,1) 0%,rgba(245,244,242,1) 50%,rgba(245,244,242,0) 100%);;
    height: 160px;
    width: 100%;
    pointer-events: none;
  }

  .js-cart-open & {
    transform: translateX(0);
    opacity: 1;
    transition: transform 600ms $ease-out, opacity 600ms $ease-out;
  }

  &__box {
    @include media_query($large-up) {
      margin-top: 33px;
    }
  }

  &__col1,
  .cart-item__col1,
  .cart-totals__col1 {
    width: 60%;

    @include media_query($large-up) {
      width: 50%;
    }
  }

  &__col2,
  .cart-item__col2,
  .cart-totals__col2 {
    width: 40%;

    @include media_query($large-up) {
      width: 50%;
    }
  }

  &__title {
    display: flex;
    padding: 27px 0;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;

    @include media_query($large-up) {
      border-top: none;
      padding: 0 0 27px;
    }
  }

  .cart-totals {
    border-top: 1px solid;
  }
}
