.slide-split {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media_query($large-up) {
    flex-direction: row;
  }

  &__img {
    width: 100%;
    height: 100vh;

  @include media_query($large-up) {
    width: 50%;
    height: 100%;
  }

  .responsive-image__wrapper {
    height: 100vh;
    
    @include media_query($large-up) {
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }
  }

  &__text {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include media_query($large-up) {
      width: 50%;
      height: 100%;
    }
  }

  &__wrapper {
    width: calc(100% - 30%);
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__content {
    padding-bottom: 60px;
    max-width: 346px;
  }

  &__cta {
    a {
      padding: 16px 50px;
      border: 1px solid #000;
      text-transform: uppercase;
    }
  }
}
