<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            <a class="logo logo--left" href="{{ shop.url }}">
              <img alt="test.areastore-com" class="logo__image" src="{{ 'logo-full.svg' | asset_url }}">
            </a>
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}

    <template id="additional-checkout-fields">
      <div class="fieldset fieldset--additional" data-additional-fields>
        <div class="field field--required field--customer-type field--show-floating-label">
          <div class="radio-wrapper">
            <div class="radio__input">
              <input
                class="input-radio"
                type="radio"
                name="checkout[attributes][customer_type]"
                value="P"
                {% if checkout.attributes["customer_type"] == 'P' or checkout.attributes["customer_type"] == blank %}
                  checked
                {% endif %}
                id="customer_type-P">
            </div>
            <label class="radio__label" for="customer_type-P">
              <span class="radio__label__primary">{{ 'checkout.customer_type_personal' | t }}</span>
            </label>
          </div>
          <div class="radio-wrapper">
            <div class="radio__input">
              <input
                class="input-radio"
                type="radio"
                name="checkout[attributes][customer_type]"
                value="B"
                {% if checkout.attributes["customer_type"] == 'B' %}
                  checked
                {% endif %}
                id="customer_type-B">
            </div>
            <label class="radio__label" for="customer_type-B">
              <span class="radio__label__primary">{{ 'checkout.customer_type_business' | t }}</span>
            </label>
          </div>
        </div>
        <div class="field field--optional field--vat-number">
          <div class="field__input-wrapper">
            <label class="field__label field__label--visible" for="checkout_vat">{{ 'checkout.vat' | t }}</label>
            <input
              placeholder="{{ 'checkout.vat' | t }}"
              autocomplete="vat"
              class="field__input"
              aria-labelledby="error-for-vat_number"
              maxlength="16"
              type="text"
              name="checkout[attributes][vat]"
              id="checkout_vat"
              value="{{ checkout.attributes["vat"] }}" />
          </div>
          <p class="field__message field__message--error" id="error-for-vat_number">{{ 'checkout.vat_error' | t }}</p>
        </div>
        <div class="field field--required field--conditions field--show-floating-label">
          <div class="checkbox-wrapper">
            <div class="checkbox__input">
              <input
                class="input-checkbox"
                type="checkbox"
                name="checkout[attributes][accept_conditions]"
                value="1"
                {% if checkout.attributes["accept_conditions"] == '1' %}
                  checked
                {% endif %}
                id="conditions">
            </div>
            <label class="checkbox__label" for="conditions">
              <span class="checkbox__label__primary">{{ 'checkout.accept_conditions' | t }} <a href="/pages/condicoes-de-venda" target="_blank">{{ 'checkout.accept_conditions_link' | t }}</a></span>
            </label>
          </div>
          <p class="field__message field__message--error" id="error-for-vat_number">{{ 'checkout.please_accept_conditions' | t }}</p>
        </div> 
      </div>
    </template>

    <script type="text/javascript">
      if (window.jQuery) {
        jquery = window.jQuery;
      } else if (window.Checkout && window.Checkout.$) {
        jquery = window.Checkout.$;
      }

      var items = [
        {% for line_item in checkout.line_items %}
          {% include 'lead-time' | lead_time: line_item.variant.metafields.eae.info.lead_time %}
          { 
            leadTime: {{ line_item.variant.metafields.eae.info.lead_time }},
            leadMessage: {{ lead_time_message | json }},
          },
        {% endfor %}
      ];

      function validateNIF(nif){
        if(nif.length == 9){
          added = ((nif[7]*2)+(nif[6]*3)+(nif[5]*4)+(nif[4]*5)+(nif[3]*6)+(nif[2]*7)+(nif[1]*8)+(nif[0]*9));
          mod = added % 11;
          if(mod == 0 || mod == 1){
            control = 0;
          } else {
            control = 11 - mod;   
          }
          
          if(nif[8] == control){
            return true;
          } else {
            return false;  
          }
        } else {
          return false;
        }
      }

      function initExtraFields() {
        var address;
        var countryField;
        var isBilling = false;
        var disableFields = false;
        var additionalFieldsTemplate = document.querySelector('#additional-checkout-fields');
        var additionalFields = additionalFieldsTemplate.content.cloneNode(true);

        if (jquery('.section--shipping-address .section__content').length) {
          address = jquery('.section--shipping-address .section__content');
          countryField = jquery('#checkout_shipping_address_country');
        } else if (jquery('#section--billing-address__different').length) {
          address = jquery('#section--billing-address__different');
          countryField = jquery('#checkout_billing_address_country');
          isBilling = true;
          if (jquery('#checkout_different_billing_address_false').is(':checked')) {
            disableFields = true;
          }
        } else {
          console.log('Missing billing or shipping address sections.');
          return;
        }
        
        var form = address.parents('form');
        address.append(additionalFields);
        additionalFields = jquery('[data-additional-fields]');
        if (disableFields) {
          additionalFields.find('input').attr('disabled', true);
        }

        jquery('button[type=submit]', form).on("click", function(event) {
          var country = countryField.find('option:selected').data('code');
          var isBusinessCustomer = jquery('#customer_type-B').is(':checked');
          var conditionsAccepted = jquery('#conditions').is(':checked');
          var vat = additionalFields.find('#checkout_vat').val();
          var sameAddress = isBilling && !form.find('#checkout_different_billing_address_true').is(':checked');
          var postalCodeField = jquery('[data-address-field="zip"]');
          var isValid = true;

          additionalFields.removeClass('field--error');
          if (country === 'PT' && isBusinessCustomer && !vat) {
            additionalFields.find('.field--vat-number').addClass('field--error');
            isValid = false;
          }
          if (country === 'PT' && !sameAddress && vat && !validateNIF(vat)) {
            additionalFields.find('.field--vat-number').addClass('field--error');
            isValid = false;
          }
          if (!conditionsAccepted) {
            additionalFields.find('.field--conditions').addClass('field--error');
            isValid = false;
          }
          if (!isBilling && postalCodeField && !postalCodeField.find('input').val()) {
            if (!postalCodeField.find('.field__message').length) {
              postalCodeField.append('<p class="field__message field__message--error" id="error-for-zip">{{ 'shopify.checkout.field_errors.address_zip_blank' | t }}</p>');
            }
            postalCodeField.addClass('field--error');
            isValid = false;
          }
          if (!isValid) {
            event.preventDefault();
            return false;
          } 
          if (!vat) {
            // If VAT is not filled, don't send vat field since sending empty VAT field on
            // billing address causes shopify Order Total changed bug
            additionalFields.find('#checkout_vat').attr('disabled', true);
          }
        });
      }

      jquery(document).on(`page:load page:change`, function() {
        initExtraFields();

        var lineItemsEls = jquery('[data-order-summary-section="line-items"] tr');
        lineItemsEls.each(function (idx) {
          jquery(this).find('.product__description').append('<span class="expected-delivery">' + items[idx].leadMessage + '<span>');
        });

        {% if checkout.shipping_address.country_code == 'PT' %}
          var shippingAddress = "{{ checkout.shipping_address.name }}, {{ checkout.shipping_address.address1 }}, {{ checkout.shipping_address.address2 }}, {{ checkout.shipping_address.zip }} {{ checkout.shipping_address.city }}";
          var shippingAddressHolder = jquery('.review-block .address');
          shippingAddressHolder.text(shippingAddress);
        {% endif %}

        var userEmailEl = jquery('.logged-in-customer-information__paragraph span:nth-child(2)');
        if (userEmailEl.length === 1) {
          userEmailEl.text(userEmailEl.text().substring(1, userEmailEl.text().length - 1));
        }
 
        if (jquery('.lead-time-info').length === 0) {
          var leadInfo = {{ 'checkout.lead_info' | t | newline_to_br | json }};
          jquery('.order-summary__section--product-list').after('<div class="lead-time-info">' + leadInfo + '</div>');
        }
      });
    </script>
  
  </body>
</html>
