<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <style>
    .main-content {
      display: none;
    }
    .offline-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
    .offline-image img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .cc-window {
      display: none !important;
    }
  </style>

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'password' %}
  {% include 'css-variables' %}

  {% include 'script-tags', layout: 'password' %}

  {{ content_for_header }}
</head>

<body class="template-password">
  <header role="banner">
    <h1>
      {{ shop.name }}
    </h1>
  </header>
  <div class="offline-image">
    <img src="{{ settings.offline_image | img_url: '1920x' }}" alt="arestore.com"/>
  </div>
  <main role="main" id="MainContent" class="main-content">
    {{ content_for_layout }}
  </main>
  <div id="Login">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {% endform %}
    <p>{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</body>
</html>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
